Repository gflze/CSGO-ZE-Configs, changes with the labels that .github/labeler.yml gives for each.
All labels: BossHud, entWatch, MusicName, SaveLevel, Stripper, ZombieReloaded

Fixx
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

Rename ze_avalanche_reboot_pm1_test3.txt to ze_avalanche_reboot_k.txt
  bosshud/ze_avalanche_reboot_k.txt
Labels: BossHud

Rename ze_avalanche_reboot_pm1_test3.cfg to ze_avalanche_reboot_k.cfg
  entwatch/ze_avalanche_reboot_k.cfg
Labels: entWatch

Delete ze_avalanche_reboot_pm1_test3.cfg
  stripper/ze_avalanche_reboot_pm1_test3.cfg
Labels: Stripper

Update and rename ze_avalanche_reboot_pm1_test3.cfg to ze_avalanche_reboot_k.cfg
  musicname/ze_avalanche_reboot_k.cfg
Labels: MusicName

Update ze_avalanche_reboot_k.cfg
  musicname/ze_avalanche_reboot_k.cfg
Labels: MusicName

Update mist stripper
  stripper/ze_mist_q3.cfg
Labels: Stripper

Animu Entwatch (#483)
  entwatch/ze_animu_v2_final.cfg
Labels: entWatch

Update mist stripper (#486)
  stripper/ze_mist_q3.cfg
Labels: Stripper

Update westersand v8
  bosshud/ze_ffxii_westersand_v8zeta1_b5k.txt
  entwatch/ze_ffxii_westersand_v8zeta1_b5k.cfg
  musicname/ze_FFXII_Westersand_v8zeta1_b5k.cfg
  stripper/ze_ffxii_westersand_v8zeta1_b5k.cfg
Labels: BossHud, entWatch, MusicName, Stripper

Update avalanche reboot configs
  bosshud/ze_avalanche_reboot_k1.txt
  bosshud/ze_avalanche_reboot_pm1_test3.txt
  entwatch/ze_avalanche_reboot_k1.cfg
  entwatch/ze_avalanche_reboot_pm1_test3.cfg
  musicname/ze_avalanche_reboot_k1.cfg
  musicname/ze_avalanche_reboot_pm1_test3.cfg
  stripper/ze_avalanche_reboot_pm1_test3.cfg
Labels: BossHud, entWatch, MusicName, Stripper

Delete ze_avalanche_reboot_k.txt
  bosshud/ze_avalanche_reboot_k.txt
Labels: BossHud

Delete ze_avalanche_reboot_k.cfg
  entwatch/ze_avalanche_reboot_k.cfg
Labels: entWatch

Delete ze_avalanche_reboot_k.cfg
  musicname/ze_avalanche_reboot_k.cfg
Labels: MusicName

Update avalanche reboot configs (#487)
  bosshud/ze_avalanche_reboot_k1.txt
  bosshud/ze_avalanche_reboot_pm1_test3.txt
  entwatch/ze_avalanche_reboot_k1.cfg
  entwatch/ze_avalanche_reboot_pm1_test3.cfg
  musicname/ze_avalanche_reboot_k1.cfg
  musicname/ze_avalanche_reboot_pm1_test3.cfg
  stripper/ze_avalanche_reboot_pm1_test3.cfg
Labels: BossHud, entWatch, MusicName, Stripper

Last Fix Standing (#475)
  stripper/ze_last_man_standing_p3.cfg
  vscripts/lms1main1.nut
Labels: Stripper

Create lovol_fix.nut
  vscripts/lovol_fix.nut
Labels: none

Update ze_l0v0l_v1_4_csgo2.cfg
  stripper/ze_l0v0l_v1_4_csgo2.cfg
Labels: Stripper

Add watagi tunnel translation stripper
  stripper/ze_watagi_tunnel_v2_1.cfg
  vscripts/ze_watagi_tunnel_en.nut
  vscripts/ze_watagi_tunnel_story_en.nut
Labels: Stripper

add 2049 stripper
  stripper/ze_2049_v1_1.cfg
Labels: Stripper

Rizomata fixes
  stripper/ze_rizomata_va2.cfg
Labels: Stripper

Update fapescape katrina
  stripper/ze_fapescape_katrina_v1_7.cfg
Labels: Stripper

Update fapescape katrina stripper
  stripper/ze_fapescape_katrina_v1_7.cfg
Labels: Stripper

add realm stripper
  stripper/ze_realm_f3.cfg
Labels: Stripper

Rizomata fixes (#489)
  stripper/ze_rizomata_va2.cfg
Labels: Stripper

Update lovol_fix.nut
  vscripts/lovol_fix.nut
Labels: none

Update ze_l0v0l_v1_4_csgo2.cfg
  stripper/ze_l0v0l_v1_4_csgo2.cfg
Labels: Stripper

Fix typo in castlevania stripper
  stripper/ze_castlevania_p1_7.cfg
Labels: Stripper

Fix typos in diddle stripper
  stripper/ze_diddle_v3.cfg
Labels: Stripper

Add/Update Configs (#484)
  bosshud/ze_ffxiv_coil_of_bahamut_v4_4.txt
  entwatch/ze_S_A_M_v1_7.cfg
  musicname/ze_l0v0l_v1_4_csgo2.cfg
  stripper/ze_ffxiv_wanderers_palace_v2_va2.cfg
  stripper/ze_l0v0l_v1_4_csgo2.cfg
  vscripts/lovol_fix.nut
  vscripts/message_eng_fix.nut
Labels: BossHud, entWatch, MusicName, Stripper

Fix typos in castlevania + diddle stripper (#490)
  stripper/ze_castlevania_p1_7.cfg
  stripper/ze_diddle_v3.cfg
Labels: Stripper

Fix mixed up vscripts
  vscripts/ze_watagi_tunnel_en.nut
  vscripts/ze_watagi_tunnel_story_en.nut
Labels: none

Update zertinan stripper
  stripper/ze_zertinan_v1_4.cfg
Labels: Stripper

Fix fapescape katrina entwatch
  entwatch/ze_fapescape_katrina_v1_7.cfg
Labels: entWatch

Add fragment ops stripper
  stripper/ze_fragment_ops_v2_7_fix.cfg
  vscripts/ze_fragment_ops_patched.nut
Labels: Stripper

Update description
  stripper/ze_fragment_ops_v2_7_fix.cfg
Labels: Stripper

Several updates/changes (#488)
  stripper/ze_2049_v1_1.cfg
  stripper/ze_watagi_tunnel_v2_1.cfg
  vscripts/ze_watagi_tunnel_en.nut
  vscripts/ze_watagi_tunnel_story_en.nut
Labels: Stripper

Fix color entwatch item for palace of minolila
  entwatch/ze_palace_of_minolila_v1.cfg
Labels: entWatch

AOT Trost Configs
  bosshud/ze_aot_trost_v8_3.txt
  entwatch/ze_aot_trost_v8_3.cfg
Labels: BossHud, entWatch

Fix color entwatch item for palace of minolila (#492)
  entwatch/ze_palace_of_minolila_v1.cfg
Labels: entWatch

.github/labeler.yml:

BossHud:
- bosshud/*

entWatch:
- entwatch/*

MusicName:
- musicname/*

SaveLevel:
- savelevel/*

Stripper:
- stripper/*

ZombieReloaded:
- zombiereloaded/*
