Repository gflze/CSGO-ZE-Configs, changes with the labels that .github/labeler.yml gives for each.
All labels: BossHud, entWatch, MusicName, SaveLevel, Stripper, ZombieReloaded

Update visualizer stripper (#505)
  stripper/ze_visualizer_v2_1.cfg
Labels: Stripper

Luciddreams roundtime (#504)
  zombiereloaded/ze_luciddreams_csgo3.cfg
Labels: ZombieReloaded

Bring back level 3 zm items on ridorana
  stripper/ze_ffxii_ridorana_cataract_t5_3_w6.cfg
Labels: Stripper

Bring back level 3 zm items on ridorana (#506)
  stripper/ze_ffxii_ridorana_cataract_t5_3_w6.cfg
Labels: Stripper

Fix backrooms deathbed entwatch
  entwatch/ze_backrooms_deathbed_t1f.cfg
Labels: entWatch

Adjust round time for backrooms deathbed
  zombiereloaded/ze_backrooms_deathbed_t1f.cfg
Labels: ZombieReloaded

Add sisyphus stripper
  stripper/ze_sisyphus_v1.cfg
  vscripts/sisyphus_magic_v1.nut
Labels: Stripper

sisyphus wrong vscript whoops
  vscripts/sisyphus_magic_v1.nut
Labels: none

Update sisyphus_magic_v1.nut
  vscripts/sisyphus_magic_v1.nut
Labels: none

whoops (#507)
  vscripts/sisyphus_magic_v1.nut
Labels: none

Fix coil of bahamut entwatch color
  entwatch/ze_ffxiv_coil_of_bahamut_v4_4.cfg
Labels: entWatch

Backrooms deathbed stripper
  stripper/ze_backrooms_deathbed_t1f.cfg
Labels: Stripper

Add palace of minolila stripper
  stripper/ze_palace_of_minolila_v1.cfg
Labels: Stripper

Formatting
  stripper/ze_ffxii_westersand_v8zeta1k.cfg
Labels: Stripper

Westersand v8 stripper changes from mapper
  stripper/ze_ffxii_westersand_v8zeta1k.cfg
Labels: Stripper

Additional qol changes to westersand v8
  stripper/ze_ffxii_westersand_v8zeta1k.cfg
Labels: Stripper

Update minas stripper
  stripper/ze_lotr_minas_tirith_p5.cfg
Labels: Stripper

Fix minas tirith spawn teleports
  stripper/ze_lotr_minas_tirith_p5.cfg
Labels: Stripper

Fix coil of bahamut entwatch
  entwatch/ze_ffxiv_coil_of_bahamut_v4_4.cfg
Labels: entWatch

Zertinan and aot_trost fixes
  entwatch/ze_zertinan_v1_4.cfg
  stripper/ze_zertinan_v1_4.cfg
  zombiereloaded/ze_aot_trost_v8_3.cfg
Labels: entWatch, Stripper, ZombieReloaded

Fix lms item buttons
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

Reset mech gravity after core is charged
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

Update westersand v8 stripper
  stripper/ze_ffxii_westersand_v8zeta1k.cfg
Labels: Stripper

Safe changes to LMS
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

Adjust zombie item health on minas
  stripper/ze_lotr_minas_tirith_p5.cfg
Labels: Stripper

Adjust retro cow round time
  zombiereloaded/ze_retro_cow_v1_1.cfg
Labels: ZombieReloaded

Update minas tirith display
  stripper/ze_lotr_minas_tirith_p5.cfg
  vscripts/minas_display.nut
Labels: Stripper

Clean up code
  vscripts/minas_display.nut
Labels: none

Rework antiboost on fapescape katrina
  stripper/ze_fapescape_katrina_v1_7.cfg
Labels: Stripper

Adjust speed
  stripper/ze_fapescape_katrina_v1_7.cfg
Labels: Stripper

Prevent zombies using items at stair section
  stripper/ze_ffxii_westersand_v8zeta1k.cfg
Labels: Stripper

Add lights to wester v8 zm mode
  stripper/ze_ffxii_westersand_v8zeta1k.cfg
Labels: Stripper

Revert holy trigger fix on wester v8
  stripper/ze_ffxii_westersand_v8zeta1k.cfg
Labels: Stripper

Remove unneded fix
  stripper/ze_ffxii_westersand_v8zeta1k.cfg
Labels: Stripper

Readjust zombie item health
  stripper/ze_lotr_minas_tirith_p5.cfg
Labels: Stripper

Fix westersand chocobo lighting
  stripper/ze_ffxii_westersand_v8zeta1k.cfg
Labels: Stripper

Revert "spawn teleporter chagnes"
  stripper/ze_lotr_minas_tirith_p5.cfg
Labels: Stripper

Revert "buff zombie item health"
  stripper/ze_lotr_minas_tirith_p5.cfg
Labels: Stripper

Add missing buttonid for aot trost
  entwatch/ze_aot_trost_v8_3.cfg
Labels: entWatch

Map Adjustments and Changes (#509)
  stripper/ze_ffxii_westersand_v8zeta1k.cfg
  stripper/ze_last_man_standing_p3.cfg
  stripper/ze_lotr_minas_tirith_p5.cfg
  vscripts/minas_display.nut
Labels: Stripper

.github/labeler.yml:

BossHud:
- bosshud/*

entWatch:
- entwatch/*

MusicName:
- musicname/*

SaveLevel:
- savelevel/*

Stripper:
- stripper/*

ZombieReloaded:
- zombiereloaded/*
