Repository gflze/CSGO-ZE-Configs, changes with the labels that .github/labeler.yml gives for each.
All labels: BossHud, entWatch, MusicName, SaveLevel, Stripper, ZombieReloaded

Map test cfgs
  entwatch/ze_FFVII_Mako_Reactor_v5_3_Kia3.cfg
  stripper/ze_ffvii_mako_reactor_v5_3_kia3.cfg
  zombiereloaded/ze_FFVII_Mako_Reactor_v5_3_Kia3.cfg
Labels: entWatch, Stripper, ZombieReloaded

Update ze_dust_escape_p3.cfg
  stripper/ze_dust_escape_p3.cfg
Labels: Stripper

Update ze_lotr_mount_doom_p3.cfg
  stripper/ze_lotr_mount_doom_p3.cfg
Labels: Stripper

Update ze_depths_b2.cfg
  stripper/ze_depths_b2.cfg
Labels: Stripper

Update ze_lotr_mount_doom_p3.cfg (#349)
  stripper/ze_lotr_mount_doom_p3.cfg
Labels: Stripper

Update ze_dust_escape_p3.cfg (#348)
  stripper/ze_dust_escape_p3.cfg
Labels: Stripper

Update depths stripper
  stripper/ze_depths_b2.cfg
Labels: Stripper

Map test cfgs
  bosshud/ze_cyberderp_p4.txt
  bspconvar_whitelist/bspconvar_custom_whitelist.txt
  entwatch/ze_cyberderp_p4.cfg
  musicname/ze_surf_beachescape_camper_mako.cfg
  stripper/ze_cyberderp_p4.cfg
  stripper/ze_kebab_immigrant_k.cfg
Labels: BossHud, entWatch, MusicName, Stripper

Cosmo v6 update
  entwatch/ze_ffvii_cosmo_canyon_v6test5.cfg
  stripper/ze_ffvii_cosmo_canyon_v6_test5.cfg
  stripper/ze_ffvii_cosmo_canyon_v6test4.cfg
  stripper/ze_ffvii_cosmo_canyon_v6test5.cfg
  vscripts/cosmov6/boss/airbuster/rocket.nut
  vscripts/cosmov6/boss/airbuster/test1.nut
  vscripts/cosmov6/boss/last_nattak/last_nattak.nut
  vscripts/cosmov6/boss/nattak/nattack.nut
  vscripts/cosmov6/boss/reno/first_reno.nut
  vscripts/cosmov6/boss/reno/reno.nut
  vscripts/cosmov6/boss/scorpion/main.nut
  vscripts/cosmov6/boss/scorpion/scorpion.nut
  vscripts/cosmov6/cosmov6.nut
  vscripts/cosmov6/item/mike.nut
  vscripts/cosmov6/item/poison — копия.nut
  vscripts/cosmov6/item/yuffie.nut
  vscripts/cosmov6/item/yuffie_rope.nut
  vscripts/cosmov6/item/yuffie_shuriken.nut
  vscripts/cosmov6/item/yuffie_shuriken_temp.nut
  vscripts/cosmov6/randomstuff/casino.nut
  vscripts/cosmov6/randomstuff/explosion_temp.nut
  vscripts/cosmov6/randomstuff/music.nut
  vscripts/cosmov6/randomstuff/perkshop.nut
  vscripts/cosmov6/randomstuff/randomspawner.nut
  vscripts/cosmov6/randomstuff/saycommands.nut
  vscripts/cosmov6/randomstuff/vagonmove.nut
  vscripts/cosmov6/randomstuff/waffelcar.nut
  zombiereloaded/ze_ffvii_cosmo_canyon_v6test5.cfg
Labels: entWatch, Stripper, ZombieReloaded

rushing too much
  stripper/ze_ffvii_cosmo_canyon_v6test5.cfg
Labels: Stripper

update kebab immigrant configs
  bosshud/ze_kebab_immigrant_k.txt
  entwatch/ze_kebab_immigrant_k.cfg
  stripper/ze_kebab_immigrant_k.cfg
Labels: BossHud, entWatch, Stripper

update kebab immigrant configs (#351)
  bosshud/ze_kebab_immigrant_k.txt
  entwatch/ze_kebab_immigrant_k.cfg
  stripper/ze_kebab_immigrant_k.cfg
Labels: BossHud, entWatch, Stripper

Update cyberderp
  bosshud/ze_CYBERDERP_p3_KIA.txt
  entwatch/ze_cyberderp_p3_kia.cfg
  stripper/ze_cyberderp_p3_kia.cfg
  stripper/ze_cyberderp_p4.cfg
Labels: BossHud, entWatch, Stripper

Update ze_cyberderp_p4.cfg
  stripper/ze_cyberderp_p4.cfg
Labels: Stripper

Update ze_cyberderp_p4.cfg (#352)
  stripper/ze_cyberderp_p4.cfg
Labels: Stripper

Map test cfgs
  entwatch/ze_FFVII_Mako_Reactor_v5_3_Kia4.cfg
  stripper/ze_ffvii_cosmo_canyon_v6test5.cfg
  stripper/ze_ffvii_mako_reactor_v5_3_kia4.cfg
  vscripts/cosmov6/boss/nattak/nattack.nut
  vscripts/cosmov6/boss/reno/reno.nut
  vscripts/cosmov6/boss/scorpion/main.nut
  vscripts/cosmov6/boss/scorpion/scorpion.nut
  vscripts/cosmov6/cosmov6.nut
  vscripts/cosmov6/item/heal.nut
  zombiereloaded/ze_FFVII_Mako_Reactor_v5_3_Kia4.cfg
Labels: entWatch, Stripper, ZombieReloaded

fix fire staff crash random client on stage 2 boss
  stripper/ze_ffxii_paramina_rift_r4.cfg
Labels: Stripper

Update cosmo_v6 & mako_v5
  entwatch/ze_FFVII_Mako_Reactor_v5_3_v5.cfg
  stripper/ze_ffvii_cosmo_canyon_v6test5.cfg
  stripper/ze_ffvii_mako_reactor_v5_3_kia4.cfg
  stripper/ze_ffvii_mako_reactor_v5_3_v5.cfg
  vscripts/cosmov6/boss/scorpion/scorpion.nut
  vscripts/cosmov6/cosmov6.nut
  vscripts/cosmov6/item/heal.nut
  vscripts/cosmov6/item/mike.nut
  vscripts/cosmov6/item/yuffie.nut
  zombiereloaded/ze_FFVII_Mako_Reactor_v5_3_v5.cfg
Labels: entWatch, Stripper, ZombieReloaded

Modify stripper/ze_lotr_mount_doom_p3.cfg (#354)
  stripper/ze_lotr_mount_doom_p3.cfg
Labels: Stripper

Update collective stripper & cosmo_v6 entwatch
  entwatch/ze_ffvii_cosmo_canyon_v6test5.cfg
  stripper/ze_collective_v1_9.cfg
Labels: entWatch, Stripper

fix fire staff crash random client on stage 2 boss (#353)
  stripper/ze_ffxii_paramina_rift_r4.cfg
Labels: Stripper

Fix random stuck spot on cyberderp
  stripper/ze_cyberderp_p4.cfg
Labels: Stripper

Modified entwatch/ze_ffvii_cosmo_canyon_v6test5.cfg - Increase max amount of ammo, potion, and phoenix items
  entwatch/ze_ffvii_cosmo_canyon_v6test5.cfg
Labels: entWatch

Modified entwatch/ze_ffvii_cosmo_canyon_v6test5.cfg (#355)
  entwatch/ze_ffvii_cosmo_canyon_v6test5.cfg
Labels: entWatch

ze_light_escape_v1_final.cfg
  stripper/ze_light_escape_v1_final.cfg
Labels: Stripper

Update mako_v5 musicname & bosshud
  bosshud/ze_FFVII_Mako_Reactor_v5_3_Kia4.txt
  bosshud/ze_ffvii_mako_reactor_v5_3_v5.txt
  musicname/ze_FFVII_Mako_Reactor_v5_3_Kia4.cfg
  musicname/ze_ffvii_mako_reactor_v5_3_v5.cfg
Labels: BossHud, MusicName

ze_light_escape_v1_final.cfg (#356)
  stripper/ze_light_escape_v1_final.cfg
Labels: Stripper

Update mako_v5 stripper
  stripper/ze_ffvii_mako_reactor_v5_3_kia4.cfg
Labels: Stripper

Update kebab immigrant configs
  entwatch/ze_kebab_immigrant_k.cfg
  stripper/ze_kebab_immigrant_k.cfg
Labels: entWatch, Stripper

Update kebab immigrant configs (#357)
  entwatch/ze_kebab_immigrant_k.cfg
  stripper/ze_kebab_immigrant_k.cfg
Labels: entWatch, Stripper

Map test cfgs
  bosshud/ze_rawnscape_b2_nc2.txt
  entwatch/ze_rawnscape_b2_nc2.cfg
  musicname/ze_cruelty_squad_v1_6.cfg
  stripper/ze_resonance_cascade_p3.cfg
Labels: BossHud, entWatch, MusicName, Stripper

Update resonance_cascade stripper
  stripper/ze_resonance_cascade_p3.cfg
Labels: Stripper

Create ze_nightmares_madness_p2.cfg
  stripper/ze_nightmares_madness_p2.cfg
Labels: Stripper

Fixed barrel explosion ents not being parented
  stripper/ze_facility_overload_final2.cfg
Labels: Stripper

Barrel parenting fix
  stripper/ze_facility_overload_final2.cfg
Labels: Stripper

Bloom adjustments
  stripper/ze_nightmares_madness_p2.cfg
Labels: Stripper

Barrel parenting fix and Bloom adjustment for Facility_Overload_final2 and Nightmares_Madness_p2 (#359)
  stripper/ze_facility_overload_final2.cfg
  stripper/ze_nightmares_madness_p2.cfg
Labels: Stripper

Tweak lighting on mako_v5/nightmares & fix door blocking in resonance
  stripper/ze_ffvii_mako_reactor_v5_3_kia4.cfg
  stripper/ze_nightmares_madness_p2.cfg
  stripper/ze_resonance_cascade_p3.cfg
Labels: Stripper

Update multiple strippers
  stripper/ze_antartika_p3.cfg
  stripper/ze_atix_apocalypse_p3.cfg
  stripper/ze_chicken_lords_tower_ig1.cfg
  stripper/ze_platformer_b6.cfg
  vscripts/platformerrocket_fix.nut
Labels: Stripper

Modify Multiple Configs * Modified stripper/ze_bioshock_v6_2_csgo7.cfg - Change comment styling to be like other strippers - Reduce game_text channels used by the map
  stripper/ze_bioshock_v6_2_csgo7.cfg
  stripper/ze_death_star_escape_v4_3_p2.cfg
  stripper/ze_games_v2_1.cfg
  stripper/ze_harry_potter_v2_1_csgo.cfg
  stripper/ze_surf_danger_p2.cfg
Labels: Stripper

.github/labeler.yml:

BossHud:
- bosshud/*

entWatch:
- entwatch/*

MusicName:
- musicname/*

SaveLevel:
- savelevel/*

Stripper:
- stripper/*

ZombieReloaded:
- zombiereloaded/*
