Repository gflze/CSGO-ZE-Configs, changes with the labels that .github/labeler.yml gives for each.
All labels: BossHud, entWatch, MusicName, SaveLevel, Stripper, ZombieReloaded

Modified Multiple Configs (#325)
  entwatch/ze_Uchiha_Legacy_cm2_fix.cfg
  entwatch/ze_castlevania_p1_7.cfg
  entwatch/ze_ffxiv_wanderers_palace_v2_va2.cfg
  entwatch/ze_ffxiv_wanderers_palace_v4_va2.cfg
  stripper/ze_games_v2_1.cfg
  stripper/ze_zk_mall_of_zombies_p2.cfg
Labels: entWatch, Stripper

Add dystopia stripper & update nibui stripper
  stripper/ze_dystopia_a4.cfg
  stripper/ze_nibui_m.cfg
Labels: Stripper

doom3 changes
  stripper/ze_doom3_v2.cfg
Labels: Stripper

doom3 changes (#326)
  stripper/ze_doom3_v2.cfg
Labels: Stripper

Add el_salto_del_angel stripper
  stripper/ze_el_salto_del_angel_p.cfg
Labels: Stripper

Multiple stripper additions & updates
  stripper/ze_madara_temple_v1fix_csgo.cfg
  stripper/ze_sc_turtles_v5_p2.cfg
  stripper/ze_three_eyes_v1_1.cfg
  stripper/ze_winter_warehouse_p.cfg
Labels: Stripper

Add morell_april_vacation stripper & update moltentemple stripper
  stripper/ze_moltentemple_csgo1.cfg
  stripper/ze_morell_april_vacation_v1.cfg
Labels: Stripper

doom3 changes
  stripper/ze_doom3_v2.cfg
Labels: Stripper

Reduce morell_april_vacation spawn time
  zombiereloaded/ze_MORELL_April_Vacation_v1.cfg
Labels: ZombieReloaded

doom3 changes (#327)
  stripper/ze_doom3_v2.cfg
Labels: Stripper

Update ze_pokemon_rivals_v1_8.cfg
  stripper/ze_pokemon_rivals_v1_8.cfg
Labels: Stripper

Add kaffe_escape stripper
  stripper/ze_kaffe_escape_v2.cfg
Labels: Stripper

doom3 tp avoid
  stripper/ze_doom3_v2.cfg
Labels: Stripper

Remove name
  stripper/ze_doom3_v2.cfg
Labels: Stripper

tp avoid doom3 (#328)
  stripper/ze_doom3_v2.cfg
Labels: Stripper

elevator push
  stripper/ze_doom3_v2.cfg
Labels: Stripper

outlast change
  stripper/ze_outlast_v2_cm1_fix1.cfg
Labels: Stripper

Update diddle stripper
  vscripts/manager_patched.nut
Labels: none

Update cosmo_v6 with latest balance stripper
  stripper/ze_ffvii_cosmo_canyon_v6test4.cfg
  vscripts/cosmov6/boss/nattak/nattack.nut
  vscripts/cosmov6/cosmov6.nut
  vscripts/cosmov6/randomstuff/casino.nut
Labels: Stripper

Stripper updates (#329)
  stripper/ze_doom3_v2.cfg
  stripper/ze_outlast_v2_cm1_fix1.cfg
Labels: Stripper

Collective entwatch
  entwatch/ze_collective_v1.cfg
Labels: entWatch

Update collective entwatch
  entwatch/ze_collective_v1_1.cfg
Labels: entWatch

Update pd2_crime_art stripper
  stripper/ze_pd2_crime_art_v2.cfg
Labels: Stripper

Map test cfg
  entwatch/ze_collective_v1_2.cfg
Labels: entWatch

add collective stripper
  stripper/ze_collective_v1_2.cfg
Labels: Stripper

Update collective
  entwatch/ze_collective_v1_1.cfg
Labels: entWatch

Map test cfg
  entwatch/ze_collective_v1_3.cfg
Labels: entWatch

Update collective to v1_3
  entwatch/ze_collective_v1_2.cfg
  stripper/ze_collective_v1_2.cfg
Labels: entWatch, Stripper

Fix mako reactor heal immunity not working
  stripper/ze_ffvii_mako_reactor_v5_3_v5.cfg
Labels: Stripper

Map test cfg
  entwatch/ze_collective_v1_4.cfg
Labels: entWatch

Update breezy & collective
  bosshud/ze_breezy_v4.txt
  entwatch/ze_collective_v1_3.cfg
  musicname/ze_breezy_v4.cfg
  stripper/ze_breezy_v4.cfg
  vscripts/breezy_patched.nut
Labels: BossHud, entWatch, MusicName, Stripper

Add collective bhud
  bosshud/ze_collective_v1_4.txt
Labels: BossHud

Auto disable shownames during collective
  zombiereloaded/ze_collective_v1_4.cfg
Labels: ZombieReloaded

Map test cfgs
  bosshud/ze_collective_v1_5.txt
  entwatch/ze_collective_v1_5.cfg
  zombiereloaded/ze_collective_v1_5.cfg
Labels: BossHud, entWatch, ZombieReloaded

Fix gust mode
  entwatch/ze_collective_v1_5.cfg
Labels: entWatch

Update collective
  bosshud/ze_collective_v1_4.txt
  entwatch/ze_collective_v1_4.cfg
  entwatch/ze_collective_v1_5.cfg
  zombiereloaded/ze_collective_v1_4.cfg
Labels: BossHud, entWatch, ZombieReloaded

New attempts to fix final funtasy crashing
  stripper/ze_mapeadores_museum_v1.cfg
  vscripts/finalfuntasy_manager_patched.nut
Labels: Stripper

Update mako stripper
  stripper/ze_ffvii_mako_reactor_v5_3_v5.cfg
Labels: Stripper

Fix Mako Reactor v5 heal immunity not working (#330)
  stripper/ze_ffvii_mako_reactor_v5_3_v5.cfg
Labels: Stripper

Changes to dark_souls from the mapper
  stripper/ze_dark_souls_ptd_csgo2.cfg
Labels: Stripper

.github/labeler.yml:

BossHud:
- bosshud/*

entWatch:
- entwatch/*

MusicName:
- musicname/*

SaveLevel:
- savelevel/*

Stripper:
- stripper/*

ZombieReloaded:
- zombiereloaded/*
