Repository gflze/CSGO-ZE-Configs, changes with the labels that .github/labeler.yml gives for each.
All labels: BossHud, entWatch, MusicName, SaveLevel, Stripper, ZombieReloaded

Add retro cow configs
  bosshud/ze_retro_cow_v1.txt
  entwatch/ze_retro_cow_v1.cfg
Labels: BossHud, entWatch

Add border entwatch
  entwatch/ze_border_b2_fix.cfg
Labels: entWatch

Add lux umbra configs
  bosshud/ze_lux_umbra_v1_3.txt
  entwatch/ze_lux_umbra_v1_3.cfg
  stripper/ze_lux_umbra_v1_3.cfg
Labels: BossHud, entWatch, Stripper

Bump lux umbra versions
  bosshud/ze_lux_umbra_v1_4.txt
  entwatch/ze_lux_umbra_v1_4.cfg
  stripper/ze_lux_umbra_v1_3.cfg
Labels: BossHud, entWatch, Stripper

Add song configs
  musicname/ze_aware_v1_2a.cfg
  musicname/ze_binary_z4_1.cfg
  musicname/ze_realm_f3.cfg
Labels: MusicName

Additional song configs
  musicname/ze_ffxiv_coil_of_bahamut_v4_4.cfg
  musicname/ze_sit_caelum_paradisus_b7_hdr.cfg
Labels: MusicName

Update ze_draco_accidere_v4_final.txt
  bosshud/ze_draco_accidere_v4_final.txt
Labels: BossHud

Delete old retro cow configs
  bosshud/ze_retro_cow.txt
  entwatch/ze_retro_cow.cfg
Labels: BossHud, entWatch

Additional Fixes
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

Bump rien config versions
  bosshud/ze_rien_z2_1f.txt
  entwatch/ze_rien_z1f10.cfg
  entwatch/ze_rien_z2_1f.cfg
  stripper/ze_rien_z1f10.cfg
  stripper/ze_rien_z2_1f.cfg
Labels: BossHud, entWatch, Stripper

Update arcana heart configs
  bosshud/ze_arcana_heart_v1_3.txt
  entwatch/ze_arcana_heart_v1_3.cfg
  musicname/ze_arcana_heart_v1.cfg
  musicname/ze_arcana_heart_v1_3.cfg
Labels: BossHud, entWatch, MusicName

Map test cfgs
  bosshud/ze_aaa_grand_line_x.txt
  stripper/ze_aztecorum_hc1.cfg
Labels: BossHud, Stripper

Additional Fixes (#449)
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

Bring back unported stripper
  stripper/ze_watagi_tunnel_v1_1.cfg
  vscripts/ze_watagi_tunnel_patched.nut
Labels: Stripper

Add/Update Several Configs (#448)
  bosshud/ze_arcana_heart_v1_3.txt
  bosshud/ze_fapescape_katrina_v1_7.txt
  bosshud/ze_forhidden_slicoo_v5.txt
  bosshud/ze_luciddreams_csgo2.txt
  bosshud/ze_lux_umbra_v1_4.txt
  bosshud/ze_retro_cow.txt
  bosshud/ze_retro_cow_v1.txt
  bosshud/ze_rien_z2_1f.txt
  bosshud/ze_surf_bona_v3_1.txt
  entwatch/ze_arcana_heart_v1_3.cfg
  entwatch/ze_border_b2_fix.cfg
  entwatch/ze_fapescape_katrina_v1_7.cfg
  entwatch/ze_last_man_standing_p3.cfg
  entwatch/ze_luciddreams_csgo2.cfg
  entwatch/ze_lux_umbra_v1_4.cfg
  entwatch/ze_retro_cow.cfg
  entwatch/ze_retro_cow_v1.cfg
  entwatch/ze_rien_z1f10.cfg
  entwatch/ze_rien_z2_1f.cfg
  entwatch/ze_surf_bona_v3_1.cfg
  entwatch/ze_tenkinoko_welkin_v1_7f.cfg
  entwatch/ze_watagi_tunnel_v1_1.cfg
  entwatch/ze_watagi_tunnel_v2_1.cfg
  musicname/ze_arcana_heart_v1.cfg
  musicname/ze_arcana_heart_v1_3.cfg
  musicname/ze_aware_v1_2a.cfg
  musicname/ze_binary_z4_1.cfg
  musicname/ze_fapescape_katrina_v1_7.cfg
  musicname/ze_ffxiv_coil_of_bahamut_v4_4.cfg
  musicname/ze_realm_f3.cfg
  musicname/ze_sit_caelum_paradisus_b7_hdr.cfg
  musicname/ze_surf_bona_v3_1.cfg
  stripper/ze_fapescape_katrina_v1_6.cfg
  stripper/ze_fapescape_katrina_v1_7.cfg
  stripper/ze_forhidden_slicoo_b10_5.cfg
  stripper/ze_rien_z1f10.cfg
  stripper/ze_rien_z2_1f.cfg
Labels: BossHud, entWatch, MusicName, Stripper

Update jump_king cfgs
  entwatch/ze_jump_king_p2.cfg
  stripper/ze_jump_king_p2.cfg
  zombiereloaded/ze_jump_king_p2.cfg
Labels: entWatch, Stripper, ZombieReloaded

Fix aurora tower entwatch colors
  entwatch/ze_aurora_tower_v6_6.cfg
Labels: entWatch

Update aurora tower stripper
  stripper/ze_aurora_tower_v6_6.cfg
Labels: Stripper

Use esc character
  stripper/ze_aurora_tower_v6_6.cfg
Labels: Stripper

Increase roundtime on aurora tower
  zombiereloaded/ze_aurora_tower_v6_6.cfg
Labels: ZombieReloaded

Add entwatch files for suggest maps
  entwatch/ze_abyss_land_b1_2.cfg
  entwatch/ze_beyond_the_boundary_v1_5.cfg
  entwatch/ze_golubenkaya_meow_v1_2.cfg
  entwatch/ze_hage_extinction_v1_4.cfg
Labels: entWatch

Fix SetVelocity using esc character
  stripper/ze_aurora_tower_v6_6.cfg
Labels: Stripper

Update jump_king stripper again
  stripper/ze_jump_king_p2.cfg
Labels: Stripper

Fix wild targetname matching issue
  stripper/ze_aurora_tower_v6_6.cfg
Labels: Stripper

Several fixes to Aurora Tower (#450)
  entwatch/ze_aurora_tower_v6_6.cfg
  stripper/ze_aurora_tower_v6_6.cfg
  zombiereloaded/ze_aurora_tower_v6_6.cfg
Labels: entWatch, Stripper, ZombieReloaded

Update ze_hage_extinction_v1_4.cfg
  entwatch/ze_hage_extinction_v1_4.cfg
Labels: entWatch

Update ze_abyss_land_b1_2.cfg
  entwatch/ze_abyss_land_b1_2.cfg
Labels: entWatch

Update ze_beyond_the_boundary_v1_5.cfg
  entwatch/ze_beyond_the_boundary_v1_5.cfg
Labels: entWatch

Update ze_golubenkaya_meow_v1_2.cfg
  entwatch/ze_golubenkaya_meow_v1_2.cfg
Labels: entWatch

Add entwatch files for suggest maps (#451)
  entwatch/ze_abyss_land_b1_2.cfg
  entwatch/ze_beyond_the_boundary_v1_5.cfg
  entwatch/ze_golubenkaya_meow_v1_2.cfg
  entwatch/ze_hage_extinction_v1_4.cfg
Labels: entWatch

Fix incorrect heal cooldown for 2049
  entwatch/ze_2049_v1_1.cfg
Labels: entWatch

Update aurora tower stripper
  stripper/ze_aurora_tower_v6_6.cfg
Labels: Stripper

Bump arcana heart versions
  bosshud/ze_arcana_heart_v1_4.txt
  entwatch/ze_arcana_heart_v1_4.cfg
  musicname/ze_arcana_heart_v1_4.cfg
Labels: BossHud, entWatch, MusicName

Add ancient wrath v2 stripper
  stripper/ze_ancient_wrath_v2_test27_m5.cfg
  vscripts/ancient_config.nut
Labels: Stripper

Create ze_radio_building_v1_3.cfg
  entwatch/ze_radio_building_v1_3.cfg
Labels: entWatch

Update ze_radio_building_v1_3.cfg
  entwatch/ze_radio_building_v1_3.cfg
Labels: entWatch

Create ze_surf_happy_2_newbie_village_v3.cfg
  entwatch/ze_surf_happy_2_newbie_village_v3.cfg
Labels: entWatch

Update ancient wrath stripper
  stripper/ze_ancient_wrath_v2_test27_m5.cfg
Labels: Stripper

Update several configs (#452)
  bosshud/ze_arcana_heart_v1_4.txt
  entwatch/ze_2049_v1_1.cfg
  entwatch/ze_arcana_heart_v1_4.cfg
  musicname/ze_arcana_heart_v1_4.cfg
  stripper/ze_ancient_wrath_v2_test27_m5.cfg
  stripper/ze_aurora_tower_v6_6.cfg
  vscripts/ancient_config.nut
Labels: BossHud, entWatch, MusicName, Stripper

Fix diddle boss hp flickering based on ping
  stripper/ze_diddle_v3.cfg
Labels: Stripper

.github/labeler.yml:

BossHud:
- bosshud/*

entWatch:
- entwatch/*

MusicName:
- musicname/*

SaveLevel:
- savelevel/*

Stripper:
- stripper/*

ZombieReloaded:
- zombiereloaded/*
