Repository gflze/CSGO-ZE-Configs, changes with the labels that .github/labeler.yml gives for each.
All labels: BossHud, entWatch, MusicName, SaveLevel, Stripper, ZombieReloaded

Update tenkinoko welkin stripper
  stripper/ze_tenkinoko_welkin_v1_6f.cfg
Labels: Stripper

Remove admin room push in tenkinoko
  stripper/ze_tenkinoko_welkin_v1_6f.cfg
Labels: Stripper

Update huggy wuggy stripper
  stripper/ze_huggy_wuggy_chap4_halloween_rus4.cfg
Labels: Stripper

Readd admin room button locking
  stripper/ze_tenkinoko_welkin_v1_6f.cfg
Labels: Stripper

Additional changes to huggy wuggy (#415)
  stripper/ze_huggy_wuggy_chap4_halloween_rus4.cfg
Labels: Stripper

Update comment
  stripper/ze_tenkinoko_welkin_v1_6f.cfg
Labels: Stripper

Update tenkinoko welkin stripper (#416)
  stripper/ze_tenkinoko_welkin_v1_6f.cfg
Labels: Stripper

Update ze_tenkinoko_welkin_v1_6f.cfg
  stripper/ze_tenkinoko_welkin_v1_6f.cfg
Labels: Stripper

Update ze_tenkinoko_welkin_v1_6f.cfg
  stripper/ze_tenkinoko_welkin_v1_6f.cfg
Labels: Stripper

Add water_temple entwatch
  entwatch/ze_water_temple_v1_5.cfg
Labels: entWatch

Map test cfg
  stripper/ze_aaa_oh_final_final.cfg
Labels: Stripper

Update ze_tenkinoko_welkin stripper (#417)
  stripper/ze_tenkinoko_welkin_v1_6f.cfg
Labels: Stripper

Update aaa_oh & water_temple cfgs
  stripper/ze_aaa_oh_final_final.cfg
  stripper/ze_water_temple_v1_5.cfg
  zombiereloaded/ze_aaa_oh_final_final.cfg
Labels: Stripper, ZombieReloaded

Update westersand v8 stripper
  stripper/ze_ffxii_westersand_v8zeta1_b5k.cfg
Labels: Stripper

Add additional fixes to westersand v8
  stripper/ze_ffxii_westersand_v8zeta1_b5k.cfg
Labels: Stripper

Apply speedmod patch to lightning on madara temple
  stripper/ze_madara_temple_v1fix_csgo.cfg
Labels: Stripper

Update several strippers (#419)
  stripper/ze_ffxii_westersand_v8zeta1_b5k.cfg
  stripper/ze_madara_temple_v1fix_csgo.cfg
Labels: Stripper

Add mirkwood stripper
  stripper/ze_lotr_mirkwood_v2_5.cfg
Labels: Stripper

Map test cfgs
  bosshud/ze_aaa_grand_line_x_test98.txt
  bosshud/ze_halo_ce_p1_c3.txt
  entwatch/ze_halo_ce_p1_c3.cfg
  stripper/ze_halo_ce_p1_c3.cfg
Labels: BossHud, entWatch, Stripper

Update ze_tyranny2_v1_csgo2.cfg
  entwatch/ze_tyranny2_v1_csgo2.cfg
Labels: entWatch

Fix zombie item cooldowns for tyranny2
  entwatch/ze_tyranny2_v1_csgo2.cfg
Labels: entWatch

Update ze_tyranny2_v1_csgo2.cfg (#420)
  entwatch/ze_tyranny2_v1_csgo2.cfg
Labels: entWatch

Update mars_escape stripper
  .gitignore
  stripper/ze_mars_escape_gp3.cfg
Labels: Stripper

Add strip triggers to wanderers v6 entwatch
  entwatch/ze_FFXIV_Wanderers_Palace_v6_2z1.cfg
Labels: entWatch

Remove typo
  entwatch/ze_FFXIV_Wanderers_Palace_v6_2z1.cfg
Labels: entWatch

Update wanderers palace v6 entwatch (#422)
  entwatch/ze_FFXIV_Wanderers_Palace_v6_2z1.cfg
Labels: entWatch

Map test cfgs
  bosshud/ze_tloz_stone_tower_temple_v3.txt
  entwatch/ze_tloz_stone_tower_temple_v3.cfg
  stripper/ze_aaa_oh_final_final.cfg
  zombiereloaded/ze_AAA_oh_final_Final_FINAL.cfg
Labels: BossHud, entWatch, Stripper, ZombieReloaded

update bosshud for halo
  bosshud/ze_halo_ce_p1_c3.txt
Labels: BossHud

update bosshud for halo (#423)
  bosshud/ze_halo_ce_p1_c3.txt
Labels: BossHud

add aaa oh stripper config
  stripper/ze_AAA_oh_final_Final_FINAL.cfg
Labels: Stripper

add aaa oh vscript fix
  vscripts/aaa_oh_fix.nut
Labels: none

Properly restrict negev on halo_ce
  zombiereloaded/ze_halo_ce_p1_b16.cfg
Labels: ZombieReloaded

Delete ze_AAA_oh_final_Final_FINAL.cfg
  stripper/ze_AAA_oh_final_Final_FINAL.cfg
Labels: Stripper

Add files via upload
  stripper/ze_aaa_oh_final_final_final.cfg
Labels: Stripper

Delete ze_aaa_oh_final_final_final.cfg
  stripper/ze_aaa_oh_final_final_final.cfg
Labels: Stripper

Add lowercase aaa oh stripper
  stripper/ze_aaa_oh_final_final_final.cfg
Labels: Stripper

Map test cfgs
  bosshud/ze_poppy_playtime_origin_hc2.cfg
  entwatch/ze_poppy_playtime_origin_hc2.cfg
  vscripts/minigame_patched.nut
Labels: BossHud, entWatch

Update fix vscript directory in stripper
  stripper/ze_aaa_oh_final_final_final.cfg
Labels: Stripper

Stripper + VScript fix for ze_AAA_oh_final_Final_FINAL (#424)
  stripper/ze_aaa_oh_final_final_final.cfg
  vscripts/aaa_oh_fix.nut
Labels: Stripper

Fix poppy_playtime bhud
  bosshud/ze_poppy_playtime_origin_hc2.cfg
  bosshud/ze_poppy_playtime_origin_hc2.txt
Labels: BossHud

.github/labeler.yml:

BossHud:
- bosshud/*

entWatch:
- entwatch/*

MusicName:
- musicname/*

SaveLevel:
- savelevel/*

Stripper:
- stripper/*

ZombieReloaded:
- zombiereloaded/*
