Repository gflze/CSGO-ZE-Configs, changes with the labels that .github/labeler.yml gives for each.
All labels: BossHud, entWatch, MusicName, SaveLevel, Stripper, ZombieReloaded

lyrics vscript wanderers v6
  vscripts/ze_FFXIV_Wanderers_Palace_v6/lyrics_display.nut
Labels: none

correct stripper version
  stripper/ze_ffxiv_wanderers_palace_v6_2z1.cfg
Labels: Stripper

fix vscript pathing
  stripper/ze_ffxiv_wanderers_palace_v6_2z1.cfg
Labels: Stripper

vscript path issue fix
  stripper/ze_ffxiv_wanderers_palace_v6_2z1.cfg
  vscripts/wanderers_lyrics.nut
Labels: Stripper

Update/Add Configs (#434)
  musicname/ze_l0v0l_v1_4_csgo2.cfg
  stripper/ze_tyranny2_v1_csgo2.cfg
  stripper/ze_tyranny_v5_2k3.cfg
Labels: MusicName, Stripper

Map test cfgs
  bosshud/ze_halo_ce_p1_c5.txt
  bosshud/ze_tenkinoko_welkin_v1_7f.txt
  bspconvar_whitelist/bspconvar_custom_whitelist.txt
  entwatch/ze_halo_ce_p1_c5.cfg
  entwatch/ze_tenkinoko_welkin_v1_7f.cfg
  musicname/ze_cruelty_squad_v1_10.cfg
  musicname/ze_tenkinoko_welkin_v1_7f.cfg
  stripper/ze_aot_trost_v8_3.cfg
  stripper/ze_halo_ce_p1_c4.cfg
  stripper/ze_halo_ce_p1_c5.cfg
  stripper/ze_shrek_ultimate_b3.cfg
  stripper/ze_tenkinoko_welkin_v1_7f.cfg
  vscripts/shrek_ultimate/barricade.nut
  vscripts/shrek_ultimate/button.nut
  vscripts/shrek_ultimate/frog.nut
  vscripts/shrek_ultimate/main.nut
  vscripts/shrek_ultimate/mg_builder.nut
  vscripts/shrek_ultimate/mg_lava.nut
  vscripts/shrek_ultimate/mg_rotate.nut
  vscripts/shrek_ultimate/music.nut
  vscripts/shrek_ultimate/platform.nut
  vscripts/shrek_ultimate/randomspawner.nut
  zombiereloaded/ze_aot_trost_v8_3.cfg
  zombiereloaded/ze_halo_ce_p1_c5.cfg
  zombiereloaded/ze_shrek_ultimate_b3.cfg
Labels: BossHud, entWatch, MusicName, Stripper, ZombieReloaded

Update LMS stripper & remove old sc_turtles cfg
  stripper/ze_last_man_standing_p3.cfg
  zombiereloaded/ze_sc_turtles_v5_p2.cfg
Labels: Stripper, ZombieReloaded

Load jump_king map plugin
  zombiereloaded/ze_jump_king_p1.cfg
Labels: ZombieReloaded

lyrics removed as requested
  stripper/ze_ffxiv_wanderers_palace_v6_2z1.cfg
  vscripts/wanderers_lyrics.nut
Labels: Stripper

Multiple balancing changes + Lyrics support from mapper (#433)
  stripper/ze_ffxiv_wanderers_palace_v6_2z1.cfg
Labels: Stripper

Create ze_retro_cow.txt
  bosshud/ze_retro_cow.txt
Labels: BossHud

Create ze_retro_cow.cfg
  entwatch/ze_retro_cow.cfg
Labels: entWatch

Disable antiboost on cruelty_squad
  zombiereloaded/ze_cruelty_squad_v1_10.cfg
Labels: ZombieReloaded

Update sandstorm stripper
  stripper/ze_sandstorm_go_v1_5x3.cfg
Labels: Stripper

Update ze_moltentemple_csgo1.cfg
  entwatch/ze_moltentemple_csgo1.cfg
Labels: entWatch

Update ze_sandstorm_go_v1_5x3.cfg
  entwatch/ze_sandstorm_go_v1_5x3.cfg
Labels: entWatch

Update ze_k19_escape_go1.cfg
  stripper/ze_k19_escape_go1.cfg
Labels: Stripper

Update ze_sandstorm_go_v1_5x3.cfg
  stripper/ze_sandstorm_go_v1_5x3.cfg
Labels: Stripper

Update ze_sandstorm_go_v1_5x3.cfg
  stripper/ze_sandstorm_go_v1_5x3.cfg
Labels: Stripper

Update sandstorm stripper (#435)
  stripper/ze_sandstorm_go_v1_5x3.cfg
Labels: Stripper

Update verdant stripper
  stripper/ze_verdant_k.cfg
Labels: Stripper

Bump bioluminescent version
  bosshud/ze_bioluminescent_k1.txt
  entwatch/ze_bioluminescent_k1.cfg
  musicname/ze_bioluminescent_k1.cfg
  stripper/ze_bioluminescent_k.cfg
Labels: BossHud, entWatch, MusicName, Stripper

fix shit formatting
  entwatch/ze_retro_cow.cfg
Labels: entWatch

More wanderers balancing requested by mapper
  stripper/ze_ffxiv_wanderers_palace_v6_2z1.cfg
Labels: Stripper

more wanderers balancing from mapper
  stripper/ze_ffxiv_wanderers_palace_v6_2z1.cfg
Labels: Stripper

Update several configs (#437)
  bosshud/ze_bioluminescent_k1.txt
  entwatch/ze_bioluminescent_k1.cfg
  musicname/ze_bioluminescent_k1.cfg
  stripper/ze_bioluminescent_k.cfg
  stripper/ze_verdant_k.cfg
Labels: BossHud, entWatch, MusicName, Stripper

more wanderers balancing from mapper (#438)
  stripper/ze_ffxiv_wanderers_palace_v6_2z1.cfg
Labels: Stripper

Update ze_sandstorm_go_v1_5x3.cfg
  stripper/ze_sandstorm_go_v1_5x3.cfg
Labels: Stripper

Update ze_sandstorm_go_v1_5x3.cfg
  stripper/ze_sandstorm_go_v1_5x3.cfg
Labels: Stripper

Update ze_sandstorm_go_v1_5x3.cfg
  stripper/ze_sandstorm_go_v1_5x3.cfg
Labels: Stripper

Update ze_sandstorm_go_v1_5x3.cfg
  stripper/ze_sandstorm_go_v1_5x3.cfg
Labels: Stripper

lost semicolon in the merge conflict?
  stripper/ze_sandstorm_go_v1_5x3.cfg
Labels: Stripper

Add/Update Configs (#436)
  bosshud/ze_retro_cow.txt
  entwatch/ze_moltentemple_csgo1.cfg
  entwatch/ze_retro_cow.cfg
  entwatch/ze_sandstorm_go_v1_5x3.cfg
  stripper/ze_k19_escape_go1.cfg
  stripper/ze_sandstorm_go_v1_5x3.cfg
Labels: BossHud, entWatch, Stripper

Update jump_king
  entwatch/ze_jump_king_p2.cfg
  zombiereloaded/ze_jump_king_p2.cfg
Labels: entWatch, ZombieReloaded

Fix bad vscript path
  vscripts/shrekultimate/barricade.nut
  vscripts/shrekultimate/button.nut
  vscripts/shrekultimate/frog.nut
  vscripts/shrekultimate/main.nut
  vscripts/shrekultimate/mg_builder.nut
  vscripts/shrekultimate/mg_lava.nut
  vscripts/shrekultimate/mg_rotate.nut
  vscripts/shrekultimate/music.nut
  vscripts/shrekultimate/platform.nut
  vscripts/shrekultimate/randomspawner.nut
Labels: none

Update Lucy entWatch
  entwatch/ze_Lucy_Escape_v1.cfg
Labels: entWatch

Update Lucy bhud
  bosshud/ze_lucy_escape_v1.txt
Labels: BossHud

Update and rename ze_avalanche_reboot_beta7_p2.txt to ze_avalanche_reboot_pm1_test3.txt
  bosshud/ze_avalanche_reboot_pm1_test3.txt
Labels: BossHud

Update and rename ze_avalanche_reboot_beta7_p2.cfg to ze_avalanche_reboot_pm1_test3.cfg
  entwatch/ze_avalanche_reboot_pm1_test3.cfg
Labels: entWatch

Update and rename ze_avalanche_reboot_beta7_p2.cfg to ze_avalanche_reboot_pm1_test3.cfg
  stripper/ze_avalanche_reboot_pm1_test3.cfg
Labels: Stripper

.github/labeler.yml:

BossHud:
- bosshud/*

entWatch:
- entwatch/*

MusicName:
- musicname/*

SaveLevel:
- savelevel/*

Stripper:
- stripper/*

ZombieReloaded:
- zombiereloaded/*
