Repository gflze/CSGO-ZE-Configs, changes with the labels that .github/labeler.yml gives for each.
All labels: BossHud, entWatch, MusicName, SaveLevel, Stripper, ZombieReloaded

.github/labeler.yml:

BossHud:
- bosshud/*

entWatch:
- entwatch/*

MusicName:
- musicname/*

SaveLevel:
- savelevel/*

Stripper:
- stripper/*

ZombieReloaded:
- zombiereloaded/*

Update ze_meatropolis_p4.cfg (#369)
  entwatch/ze_meatropolis_p4.cfg
Labels: entWatch

Update deadcore, remove broken pkmn change & fix shadowtemple error spam
  bosshud/ze_deadcore_v1_3.txt
  entwatch/ze_deadcore_v1_3.cfg
  musicname/ze_deadcore_v1_3.cfg
  stripper/ze_deadcore_v1_3.cfg
  stripper/ze_oot_shadowtemple_b10.cfg
  stripper/ze_pkmn_adventure_v9_3.cfg
Labels: BossHud, entWatch, MusicName, Stripper

Update official santa stripper
  stripper/ze_santassination_v3.cfg
  vscripts/santa_v3_fixes.nut
Labels: Stripper

Update temple_raider & meatropolis strippers
  stripper/ze_meatropolis_p4.cfg
  stripper/ze_temple_raider_kr1.cfg
Labels: Stripper

Update deadcore k2 stripper
  stripper/ze_deadcore_k2.cfg
Labels: Stripper

Fix typo
  stripper/ze_deadcore_k2.cfg
Labels: Stripper

Update deadcore stripper (#370)
  stripper/ze_deadcore_k2.cfg
Labels: Stripper

Update rizomata stripper
  stripper/ze_rizomata_va2.cfg
Labels: Stripper

Added resonance cascade entwatch
  entwatch/ze_resonance_cascade_p3.cfg
Labels: entWatch

Removed template comments
  entwatch/ze_resonance_cascade_p3.cfg
Labels: entWatch

Added resonance cascade entwatch (#371)
  entwatch/ze_resonance_cascade_p3.cfg
Labels: entWatch

In hindsight, we also don't want people glitching into walls
  stripper/ze_rizomata_va2.cfg
Labels: Stripper

Map test cfgs
  bspconvar_whitelist/bspconvar_custom_whitelist.txt
  musicname/ze_sex_mod_hentai_beachescape_camper.cfg
Labels: MusicName

Update beachescape
  bspconvar_whitelist/bspconvar_custom_whitelist.txt
  musicname/ze_surf_ffxiv_beachescape_camper_isengard_laser_mako.cfg
  stripper/ze_surf_ffxiv_beachescape_camper_isengard_laser_mako.cfg
Labels: MusicName, Stripper

Update deadcore stripper
  stripper/ze_deadcore_k2.cfg
Labels: Stripper

Update LMS stripper
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

Update LMS stripper (#373)
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

Add another LMS fix from porter
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

A proper parented trigger fix is now always active on GFL
  README.md
  zombiereloaded/ze_FFXII_Mt_Bur_Omisace_v5_4fix4.cfg
  zombiereloaded/ze_Outlast_v2_cm1_fix1.cfg
  zombiereloaded/ze_ccc_toastersand_v2.cfg
  zombiereloaded/ze_deathinvain_palace_v2.cfg
  zombiereloaded/ze_harry_potter_v2_1_csgo.cfg
  zombiereloaded/ze_hydroponic_garden_v1_1.cfg
  zombiereloaded/ze_mabinogi_f4_1.cfg
  zombiereloaded/ze_project_codex_v1_2.cfg
Labels: ZombieReloaded

Update README with supported bosshud entities
  README.md
Labels: none

Redo bosshud supported entities information
  README.md
Labels: none

Update README with supported bosshud entities (#374)
  README.md
Labels: none

rework physics lvl system
  stripper/ze_sandstorm_go_v1_5.cfg
Labels: Stripper

commented 2 changes
  stripper/ze_sandstorm_go_v1_5.cfg
Labels: Stripper

remove particle change, 1 player in admin room
  stripper/ze_sandstorm_go_v1_5.cfg
Labels: Stripper

reworked sandstorm physics lvl system (#375)
  stripper/ze_sandstorm_go_v1_5.cfg
Labels: Stripper

Add platformer entwatch
  entwatch/ze_platformer_b6.cfg
Labels: entWatch

Update mapea_museum & silent_hill_blackblood strippers
  stripper/ze_mapeadores_museum_v1.cfg
  stripper/ze_silent_hill_blackblood_f6.cfg
Labels: Stripper

Map test cfgs
  bosshud/ze_huggy_wuggy_chap4_halloween_rus1.txt
  entwatch/ze_huggy_wuggy_chap4_halloween_rus1.cfg
  entwatch/ze_surf_vortex_v2_8.cfg
  musicname/ze_surf_vortex_v2_8.cfg
  stripper/ze_surf_vortex_v2_8.cfg
Labels: BossHud, entWatch, MusicName, Stripper

Replace silent hill physics lvl systems & reduce surf_vortex brightness
  stripper/ze_silent_hill_2_illusion_b5.cfg
  stripper/ze_silent_hill_3_dawn_v2.cfg
  stripper/ze_silent_hill_3_flee_v4.cfg
  stripper/ze_surf_vortex_v2_8.cfg
Labels: Stripper

Update surf_vortex & reduce round time on labyrinth
  entwatch/ze_surf_vortex_v2_6.cfg
  musicname/ze_surf_vortex_v2_6.cfg
  stripper/ze_surf_vortex_v2_6.cfg
  zombiereloaded/ze_labyrinth_escape_v5_sonaki.cfg
Labels: entWatch, MusicName, Stripper, ZombieReloaded

Changes from Soft Serve
  stripper/ze_ashen_keep_p.cfg
  stripper/ze_sunlight_p2.cfg
Labels: Stripper

hotfix
  stripper/ze_sunlight_p2.cfg
Labels: Stripper

Update temple_raider stripper
  stripper/ze_temple_raider_kr1.cfg
Labels: Stripper

Map test cfgs
  bosshud/ze_huggy_wuggy_chap4_halloween_rus2.txt
  entwatch/ze_huggy_wuggy_chap4_halloween_rus2.cfg
Labels: BossHud, entWatch

Add nightmare madness bosshud config
  bosshud/ze_nightmare_madness_p2.txt
Labels: BossHud

Updated siberia stripper
  stripper/ze_siberia_1990_v1_2c_p5.cfg
Labels: Stripper

Add nightmare madness bosshud config (#376)
  bosshud/ze_nightmare_madness_p2.txt
Labels: BossHud

Updated siberia stripper (#377)
  stripper/ze_siberia_1990_v1_2c_p5.cfg
Labels: Stripper

Update skyrim stripper
  stripper/ze_tesv_skyrim_v5_6.cfg
Labels: Stripper
