Repository gflze/CSGO-ZE-Configs, changes with the labels that .github/labeler.yml gives for each.
All labels: BossHud, entWatch, MusicName, SaveLevel, Stripper, ZombieReloaded

.github/labeler.yml:

BossHud:
- bosshud/*

entWatch:
- entwatch/*

MusicName:
- musicname/*

SaveLevel:
- savelevel/*

Stripper:
- stripper/*

ZombieReloaded:
- zombiereloaded/*

Update ashen_keep stripper & map test cfgs
  bosshud/ze_huggy_wuggy_chap4_halloween_rus4.txt
  entwatch/ze_huggy_wuggy_chap4_halloween_rus4.cfg
  stripper/ze_ashen_keep_p.cfg
  stripper/ze_huggy_wuggy_chap4_halloween_rus3.cfg
Labels: BossHud, entWatch, Stripper

Create ze_aaa_grand_line_x_test_7.txt
  bosshud/ze_aaa_grand_line_x_test_7.txt
Labels: BossHud

Update ze_aaa_grand_line_x_test_7.txt
  bosshud/ze_aaa_grand_line_x_test_7.txt
Labels: BossHud

Create ze_aaa_grand_line_x_test7.txt (#405)
  bosshud/ze_aaa_grand_line_x_test_7.txt
Labels: BossHud

Small update cfg for ze_escape_together_v1_xx
  stripper/ze_escape_together_v1_xx.cfg
Labels: Stripper

Update bathroom/escape_together strippers & fix grand_line bhud filename
  bosshud/ze_aaa_grand_line_x_test7.txt
  stripper/ze_bathroom_v2_5.cfg
  stripper/ze_escape_together_v1_xx.cfg
  stripper/ze_escape_together_vb1a.cfg
Labels: BossHud, Stripper

Changes to Mapeadores Museum
  stripper/ze_mapeadores_museum_v1.cfg
Labels: Stripper

Fix thing
  stripper/ze_mapeadores_museum_v1.cfg
Labels: Stripper

Rework minas tirith stage 4/8 nuke
  stripper/ze_lotr_minas_tirith_p5.cfg
Labels: Stripper

Changes to Mapeadores Museum (#407)
  stripper/ze_mapeadores_museum_v1.cfg
Labels: Stripper

Fix script not working properly by changing relay
  stripper/ze_lotr_minas_tirith_p5.cfg
Labels: Stripper

Change script timing slightly
  stripper/ze_lotr_minas_tirith_p5.cfg
Labels: Stripper

Updated sunkent temple stripper
  stripper/ze_sunkentemple_v3_1.cfg
Labels: Stripper

Updated sunkent temple stripper (#409)
  stripper/ze_sunkentemple_v3_1.cfg
Labels: Stripper

Update minas tirith stripper (#408)
  stripper/ze_lotr_minas_tirith_p5.cfg
Labels: Stripper

Fix syntax error in totemo roka musicname config
  musicname/ze_totemo_roka_v1.cfg
Labels: MusicName

Fix syntax error in totemo roka musicname config (#410)
  musicname/ze_totemo_roka_v1.cfg
Labels: MusicName

Update dreamin stripper
  stripper/ze_dreamin_v3_3.cfg
Labels: Stripper

Update dreamin stripper
  stripper/ze_dreamin_v3_3.cfg
Labels: Stripper

Fix huggy wuggy zombies getting boosted into next room
  stripper/ze_huggy_wuggy_chap4_halloween_rus4.cfg
Labels: Stripper

Update dreamin stripper
  stripper/ze_dreamin_v3_3.cfg
Labels: Stripper

Update surf happy stripper
  stripper/ze_surf_happy_b7.cfg
Labels: Stripper

Fix stripper formatting
  stripper/ze_surf_happy_b7.cfg
Labels: Stripper

Revert surf happy change
  stripper/ze_surf_happy_b7.cfg
Labels: Stripper

Update huggy wuggy stripper
  stripper/ze_huggy_wuggy_chap4_halloween_rus4.cfg
Labels: Stripper

Several Stripper Updates (#412)
  stripper/ze_dreamin_v3_3.cfg
  stripper/ze_huggy_wuggy_chap4_halloween_rus4.cfg
Labels: Stripper

Update huggy wuggy stripper
  stripper/ze_huggy_wuggy_chap4_halloween_rus4.cfg
Labels: Stripper

Move gravity particle on huggy wuggy
  stripper/ze_huggy_wuggy_chap4_halloween_rus4.cfg
Labels: Stripper

Update eternal_grove, light_shadow & diddle strippers
  stripper/ze_diddle_v3.cfg
  stripper/ze_eternal_grove_v3.cfg
  stripper/ze_light_shadow_l1_4.cfg
Labels: Stripper

shorten infection timer
  zombiereloaded/ze_light_shadow_L1_4.cfg
Labels: ZombieReloaded

revert
  stripper/ze_ffxii_mt_bur_omisace_v5_4fix4.cfg
Labels: Stripper

ze_ffxiv_wanderers_palace_v4_va2.cfg
  stripper/ze_ffxiv_wanderers_palace_v4_va2.cfg
Labels: Stripper

decrease infection timer on light shadow (#413)
  zombiereloaded/ze_light_shadow_L1_4.cfg
Labels: ZombieReloaded

Hotfix update ze_ffxiv_wanderers_palace_v4_va2.cfg
  stripper/ze_ffxiv_wanderers_palace_v4_va2.cfg
Labels: Stripper

Update stripper for ze_ffxiv_wanderers_palace_v4_va2 (#414)
  stripper/ze_ffxiv_wanderers_palace_v4_va2.cfg
Labels: Stripper

Map test cfgs
  bosshud/ze_water_temple_v1_5.txt
  musicname/ze_water_temple_v1_5.cfg
  stripper/ze_ffvii_boku_no_pico_v1_b2.cfg
  stripper/ze_water_temple_v1_5.cfg
Labels: BossHud, MusicName, Stripper

format
  stripper/ze_water_temple_v1_5.cfg
Labels: Stripper

Keep game_text as is on huggy wuggy
  stripper/ze_huggy_wuggy_chap4_halloween_rus4.cfg
Labels: Stripper

Readjust gravity particl height
  stripper/ze_huggy_wuggy_chap4_halloween_rus4.cfg
Labels: Stripper

Rework immunity game_text
  stripper/ze_huggy_wuggy_chap4_halloween_rus4.cfg
Labels: Stripper
