Repository gflze/CSGO-ZE-Configs, changes with the labels that .github/labeler.yml gives for each.
All labels: BossHud, entWatch, MusicName, SaveLevel, Stripper, ZombieReloaded

Update cosmo_v6
  stripper/ze_ffvii_cosmo_canyon_v6test5.cfg
  vscripts/cosmov6/cosmov6.nut
  vscripts/cosmov6/randomstuff/globalhurt.nut
  vscripts/cosmov6/randomstuff/randomspawner.nut
  vscripts/cosmov6/randomstuff/waffelcar.nut
Labels: Stripper

fix kitchen microwave laser avoidance spot
  stripper/ze_kitchen_v2.cfg
Labels: Stripper

fix kitchen microwave laser avoidance spot (#389)
  stripper/ze_kitchen_v2.cfg
Labels: Stripper

Fix spawn trigger and unpatch portal skip
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

Revert stage 2 door damage reduction
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

Update urbanterror stripper
  stripper/ze_urbanterror_b2.cfg
Labels: Stripper

Fix spawn trigger
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

Oops
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

Fixes to Last Man Standing (#386)
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

Update kitchen configs
  bosshud/ze_kitchen_v2.txt
  stripper/ze_kitchen_v2.cfg
  vscripts/fly_patched.nut
  vscripts/hpbar_patched.nut
Labels: BossHud, Stripper

Fix bosshud config error
  bosshud/ze_kitchen_v2.txt
Labels: BossHud

Added atix apocalypse entwatch & stripper updates
  entwatch/ze_atix_apocalypse_p3.cfg
  stripper/ze_atix_apocalypse_p3.cfg
Labels: entWatch, Stripper

Add visualizer configs
  bosshud/ze_visualizer_v2_1.txt
  entwatch/ze_visualizer_v2_1.cfg
  stripper/ze_visualizer_v2_1.cfg
Labels: BossHud, entWatch, Stripper

Add 2049 configs
  bosshud/ze_2049_v1_1.txt
  entwatch/ze_2049_v1_1.cfg
Labels: BossHud, entWatch

Add mgden y3 bosshud config
  bosshud/ze_mgden_y3_fix.txt
Labels: BossHud

Add rien configs
  bosshud/ze_rien_z1f10.txt
  entwatch/ze_rien_z1f10.cfg
  stripper/ze_rien_z1f10.cfg
Labels: BossHud, entWatch, Stripper

Add arcana heart configs
  bosshud/ze_arcana_heart_v1.txt
  entwatch/ze_arcana_heart_v1.cfg
Labels: BossHud, entWatch

Add fragment ops configs
  bosshud/ze_fragment_ops_v2_7_fix.txt
  entwatch/ze-fragment_ops_v2_7_fix.cfg
Labels: BossHud, entWatch

Add fapescape katrina configs
  bosshud/ze_fapescape_katrina_v1_6.txt
  entwatch/ze_fapescape_katrina_v1_6.cfg
  stripper/ze_fapescape_katrina_v1_6.cfg
Labels: BossHud, entWatch, Stripper

Add djinn configs
  bosshud/ze_djinn_go1.txt
  entwatch/ze_djinn_go1.cfg
Labels: BossHud, entWatch

Add endless dream configs
  bosshud/ze_endless_dream_v1_2.txt
  entwatch/ze_endless_dream_v1_2.cfg
  stripper/ze_endless_dream_v1_2.cfg
Labels: BossHud, entWatch, Stripper

Add skygarden configs
  bosshud/ze_skygarden_v2_3.txt
  entwatch/ze_skygarden_v2_3.cfg
  stripper/ze_skygarden_v2_3.cfg
Labels: BossHud, entWatch, Stripper

Add zertinan configs
  bosshud/ze_zertinan_v1_4.txt
  entwatch/ze_zertinan_v1_4.cfg
Labels: BossHud, entWatch

Add coil of bahamut configs
  bosshud/ze_ffxiv_coil_of_bahamut_v4_4.txt
  entwatch/ze_ffxiv_coil_of_bahamut_v4_4.cfg
  stripper/ze_ffxiv_coil_of_bahamut_v4_4.cfg
Labels: BossHud, entWatch, Stripper

Fix {yellow} being invalid
  entwatch/ze_2049_v1_1.cfg
  entwatch/ze_arcana_heart_v1.cfg
  entwatch/ze_djinn_go1.cfg
  entwatch/ze_endless_dream_v1_2.cfg
  entwatch/ze_ffxiv_coil_of_bahamut_v4_4.cfg
  entwatch/ze_visualizer_v2_1.cfg
  entwatch/ze_zertinan_v1_4.cfg
Labels: entWatch

Add aurora tower configs
  bosshud/ze_aurora_tower_v6_6.txt
  entwatch/ze_aurora_tower_v6_6.cfg
  stripper/ze_aurora_tower_v6_6.cfg
Labels: BossHud, entWatch, Stripper

Fix {yellow} being invalid
  entwatch/ze_aurora_tower_v6_6.cfg
Labels: entWatch

Added atix apocalypse entwatch & stripper updates (#391)
  entwatch/ze_atix_apocalypse_p3.cfg
  stripper/ze_atix_apocalypse_p3.cfg
Labels: entWatch, Stripper

Map test cfgs & update trials stripper
  .gitignore
  bosshud/ze_huggy_wuggy_chap4_halloween_rus3.txt
  entwatch/ze_huggy_wuggy_chap4_halloween_rus3.cfg
  stripper/ze_huggy_wuggy_chap4_halloween_rus2.cfg
  stripper/ze_trials_v3_test.cfg
Labels: BossHud, entWatch, Stripper

add entwatch config for ze_magmadrake_b5
  entwatch/ze_magmadrake_b5.cfg
Labels: entWatch

Update huggy_wuggy stripper
  stripper/ze_huggy_wuggy_chap4_halloween_rus3.cfg
Labels: Stripper

Rework game_text fix for kitchen
  stripper/ze_kitchen_v2.cfg
  vscripts/fly_patched.nut
  vscripts/hpbar_patched.nut
Labels: Stripper

Map testing cfg for ze_escape_together_v1_xx.cfg
  stripper/ze_escape_together_v1_xx.cfg
Labels: Stripper

Update ze_magmadrake_b5.cfg
  entwatch/ze_magmadrake_b5.cfg
Labels: entWatch

Map testing cfg for ze_escape_together_v1_xx.cfg (#394)
  stripper/ze_escape_together_v1_xx.cfg
Labels: Stripper

add entwatch config for ze_magmadrake_b5 (#393)
  entwatch/ze_magmadrake_b5.cfg
Labels: entWatch

Update mako_v5
  bosshud/ze_FFVII_Mako_Reactor_v5_3_Kia4.txt
  entwatch/ze_FFVII_Mako_Reactor_v5_3_Kia4.cfg
  musicname/ze_FFVII_Mako_Reactor_v5_3_Kia4.cfg
  stripper/ze_ffvii_mako_reactor_v5_3_kia4.cfg
  stripper/ze_ffvii_mako_reactor_v5_3_kia5.cfg
  zombiereloaded/ze_FFVII_Mako_Reactor_v5_3_Kia4.cfg
Labels: BossHud, entWatch, MusicName, Stripper, ZombieReloaded

Add some song configs
  musicname/ze_aurora_tower_v6_6.cfg
  musicname/ze_djinn_go1.cfg
  musicname/ze_skygarden_v2_3.cfg
  musicname/ze_visualizer_v2_1.cfg
Labels: MusicName

Fix incorrect file name
  entwatch/ze_fragment_ops_v2_7_fix.cfg
Labels: entWatch

Fix up 2049 entwatch config
  entwatch/ze_2049_v1_1.cfg
Labels: entWatch

.github/labeler.yml:

BossHud:
- bosshud/*

entWatch:
- entwatch/*

MusicName:
- musicname/*

SaveLevel:
- savelevel/*

Stripper:
- stripper/*

ZombieReloaded:
- zombiereloaded/*
