Repository gflze/CSGO-ZE-Configs, changes with the labels that .github/labeler.yml gives for each.
All labels: BossHud, entWatch, MusicName, SaveLevel, Stripper, ZombieReloaded

Formatting
  entwatch/ze_forest_of_steel_v1_7.cfg
Labels: entWatch

Add temple of phantom configs
  bosshud/ze_temple_of_phantom_v1p_2.txt
  entwatch/ze_temple_of_phantom_v1p_2.cfg
  stripper/ze_temple_of_phantom_v1p_2.cfg
Labels: BossHud, entWatch, Stripper

Fix {yellow}
  entwatch/ze_slackerino_mapperino_v4.cfg
Labels: entWatch

Fixes
  bosshud/ze_slackerino_mapperino_v4.txt
  bosshud/ze_temple_of_phantom_v1p_2.txt
  entwatch/ze_forest_of_steel_v1_7.cfg
  entwatch/ze_runaway_roofside_k1.cfg
  entwatch/ze_temple_of_phantom_v1p_2.cfg
  stripper/ze_temple_of_phantom_v1p_2.cfg
Labels: BossHud, entWatch, Stripper

cruelty squad player_spawn bugs
  vscripts/gorbinos_magic.nut
Labels: none

swap out vscript files
  stripper/ze_cruelty_squad_v1_12.cfg
Labels: Stripper

Trim whitespace
  stripper/ze_forhidden_void_b5.cfg
Labels: Stripper

Change targetname + Formatting
  stripper/ze_forhidden_void_b5.cfg
Labels: Stripper

Formatting
  stripper/ze_forhidden_void_b5.cfg
Labels: Stripper

Flowering stripper
  stripper/ze_flowering_b10.cfg
Labels: Stripper

Add surf virtus stripper
  stripper/ze_surf_virtus_v1_1.cfg
Labels: Stripper

Fix item pushes on tenkinoko
  stripper/ze_tenkinoko_welkin_v1_7f.cfg
Labels: Stripper

Fix item pushes on tenkinoko (#533)
  stripper/ze_tenkinoko_welkin_v1_7f.cfg
Labels: Stripper

add mapper changes notification
  stripper/ze_forhidden_void_b5.cfg
Labels: Stripper

Update comments
  stripper/ze_forhidden_void_b5.cfg
Labels: Stripper

Update gorbinos_magic.nut
  vscripts/gorbinos_magic.nut
Labels: none

im tired
  stripper/ze_forhidden_void_b5.cfg
Labels: Stripper

Add maptest configs (#531)
  bosshud/ze_forhidden_void_b5.txt
  bosshud/ze_slackerino_mapperino_v4.txt
  bosshud/ze_surf_virtus_v1_1.txt
  bosshud/ze_temple_of_phantom_v1p_2.txt
  bspconvar_whitelist/bspconvar_custom_whitelist.txt
  entwatch/ze_forest_of_steel_v1_7.cfg
  entwatch/ze_forhidden_void_b5.cfg
  entwatch/ze_ocean_heart_v1.cfg
  entwatch/ze_runaway_roofside_k1.cfg
  entwatch/ze_slackerino_mapperino_v4.cfg
  entwatch/ze_surf_virtus_v1_1.cfg
  entwatch/ze_temple_of_phantom_v1p_2.cfg
  stripper/ze_forhidden_void_b5.cfg
  stripper/ze_slackerino_mapperino_v4.cfg
  stripper/ze_temple_of_phantom_v1p_2.cfg
Labels: BossHud, entWatch, Stripper

cruelty squad mapload bug fix (#532)
  stripper/ze_cruelty_squad_v1_12.cfg
  vscripts/gorbinos_magic.nut
Labels: Stripper

Add Mt Bur Stripper
  stripper/ze_ffxii_mt_bur_omisace_v5_k3.cfg
Labels: Stripper

Add Mt Bur Stripper (#535)
  stripper/ze_ffxii_mt_bur_omisace_v5_k3.cfg
Labels: Stripper

Final Person Standing (#529)
  stripper/ze_last_man_standing_p3.cfg
  vscripts/lms1main1.nut
Labels: Stripper

Add biohazard3_nemesis stripper
  stripper/ze_biohazard3_nemesis_b6_2.cfg
Labels: Stripper

Fixes to flowering & surf virtus (#534)
  stripper/ze_flowering_b10.cfg
  stripper/ze_surf_virtus_v1_1.cfg
Labels: Stripper

Update gorbinos_magic.nut
  vscripts/gorbinos_magic.nut
Labels: none

Update gorbinos_magic.nut
  vscripts/gorbinos_magic.nut
Labels: none

Update gorbinos_magic.nut
  vscripts/gorbinos_magic.nut
Labels: none

Update gorbinos_magic.nut
  vscripts/gorbinos_magic.nut
Labels: none

Update gorbinos_magic.nut
  vscripts/gorbinos_magic.nut
Labels: none

cruelty squad zm speed (#536)
  vscripts/gorbinos_magic.nut
Labels: none

Update organization name
  README.md
  stripper/dz_blacksite.cfg
  stripper/dz_sirocco.cfg
  stripper/ze_8bit_csgo3.cfg
  stripper/ze_alien_shooter_gp1_3.cfg
  stripper/ze_ancient_wrath_v2_test27_m5.cfg
  stripper/ze_aot_trost_v8_3.cfg
  stripper/ze_backrooms_deathbed_t1f.cfg
  stripper/ze_best_korea_v1.cfg
  stripper/ze_bible_adventure_ot_v1_5.cfg
  stripper/ze_border_b2_fix.cfg
  stripper/ze_dark_souls_ptd_csgo2.cfg
  stripper/ze_diddle_v3.cfg
  stripper/ze_doom3_v2.cfg
  stripper/ze_eternal_grove_v3.cfg
  stripper/ze_ffxii_paramina_rift_r4.cfg
  stripper/ze_l0v0l_v1_4_csgo2.cfg
  stripper/ze_lotr_isengard_csgo1.cfg
  stripper/ze_lotr_minas_tirith_p5.cfg
  stripper/ze_mapeadores_museum_v1.cfg
  stripper/ze_pirates_port_royal_v5_6.cfg
  stripper/ze_pizzatime_v9.cfg
  stripper/ze_platformer_b6.cfg
  stripper/ze_silent_hill_2_illusion_b5.cfg
  stripper/ze_silent_hill_3_dawn_v2.cfg
  stripper/ze_silent_hill_3_flee_v4.cfg
  stripper/ze_silent_hill_blackblood_f6.cfg
  stripper/ze_sisyphus_v1.cfg
  stripper/ze_surf_happy_2_newbie_village_v3.cfg
  stripper/ze_surf_happy_b7.cfg
  stripper/ze_surf_shonyudo_v6_1_final_fix.cfg
  stripper/ze_tesv_skyrim_kr2.cfg
  stripper/ze_tesv_skyrim_v5_6.cfg
  stripper/ze_touhou_gensokyo_o4.cfg
  stripper/ze_tyranny2_v1_csgo2.cfg
  stripper/ze_undertale_g_v1_3_fix1.cfg
  stripper/ze_watagi_tunnel_v2_1.cfg
Labels: Stripper

Revert "Final Person Standing (#529)"
  stripper/ze_last_man_standing_p3.cfg
  vscripts/lms1main1.nut
Labels: Stripper

Fix some vscript comments
  stripper/ze_cruelty_squad_v1_12.cfg
  stripper/ze_sisyphus_v1.cfg
  vscripts/gorbinos_magic.nut
Labels: Stripper

fix slacker issues posed during map test
  stripper/ze_slackerino_mapperino_v4.cfg
Labels: Stripper

Slackerino v4 fixes for issues discovered in map tests (#537)
  stripper/ze_slackerino_mapperino_v4.cfg
Labels: Stripper

Fix trigger_push spawnflag bugs on sh maps
  stripper/ze_silent_hill_2_illusion_b5.cfg
  stripper/ze_silent_hill_3_dawn_v2.cfg
  stripper/ze_silent_hill_3_flee_v4.cfg
Labels: Stripper

Fix trigger_push spawnflag bugs on sh maps (#538)
  stripper/ze_silent_hill_2_illusion_b5.cfg
  stripper/ze_silent_hill_3_dawn_v2.cfg
  stripper/ze_silent_hill_3_flee_v4.cfg
Labels: Stripper

Update stripper comments
  stripper/ze_2049_v1_1.cfg
  stripper/ze_aurora_tower_v6_6.cfg
  stripper/ze_aware_v1_2a.cfg
  stripper/ze_dreamin_v3_3.cfg
  stripper/ze_ffxii_paramina_rift_r4.cfg
  stripper/ze_mapeadores_museum_v1.cfg
  stripper/ze_neochrome_csgo3a.cfg
  stripper/ze_paranoid_rezurrection_csgo1.cfg
  stripper/ze_realm_f3.cfg
  stripper/ze_undead_shrine_b1_2.cfg
Labels: Stripper

Update entwatch formatting
  entwatch/ze_rtcw_ominous_rumors_p4.cfg
Labels: entWatch

Update config comments (#539)
  entwatch/ze_rtcw_ominous_rumors_p4.cfg
  stripper/ze_2049_v1_1.cfg
  stripper/ze_aurora_tower_v6_6.cfg
  stripper/ze_aware_v1_2a.cfg
  stripper/ze_dreamin_v3_3.cfg
  stripper/ze_ffxii_paramina_rift_r4.cfg
  stripper/ze_mapeadores_museum_v1.cfg
  stripper/ze_neochrome_csgo3a.cfg
  stripper/ze_paranoid_rezurrection_csgo1.cfg
  stripper/ze_realm_f3.cfg
  stripper/ze_undead_shrine_b1_2.cfg
Labels: entWatch, Stripper

.github/labeler.yml:

BossHud:
- bosshud/*

entWatch:
- entwatch/*

MusicName:
- musicname/*

SaveLevel:
- savelevel/*

Stripper:
- stripper/*

ZombieReloaded:
- zombiereloaded/*
