Repository gflze/CSGO-ZE-Configs, changes with the labels that .github/labeler.yml gives for each.
All labels: BossHud, entWatch, MusicName, SaveLevel, Stripper, ZombieReloaded

.github/labeler.yml:

BossHud:
- bosshud/*

entWatch:
- entwatch/*

MusicName:
- musicname/*

SaveLevel:
- savelevel/*

Stripper:
- stripper/*

ZombieReloaded:
- zombiereloaded/*

Prevent triple boost early trig
  stripper/ze_rizomata_va2.cfg
Labels: Stripper

Prevent triple boost early trig (#425)
  stripper/ze_rizomata_va2.cfg
Labels: Stripper

Update mist stripper
  stripper/ze_mist_q3.cfg
Labels: Stripper

Map test cfgs
  bosshud/ze_FFXII_Westersand_v8zeta1k.txt
  entwatch/ze_FFXII_Westersand_v8zeta1k.cfg
  entwatch/ze_gods_wrath_p3.cfg
  musicname/ze_FFXII_Westersand_v8zeta1k.cfg
  stripper/ze_atix_panic_b3t_p3.cfg
  stripper/ze_ffxii_westersand_v8zeta1k.cfg
  stripper/ze_gods_wrath_p3.cfg
  stripper/ze_mgden_y3_fix.cfg
  stripper/ze_no_name_v2_3.cfg
  zombiereloaded/ze_ATIX_panic_b3t_p3.cfg
  zombiereloaded/ze_gods_wrath_p3.cfg
  zombiereloaded/ze_sc_turtles_v5_p3.cfg
Labels: BossHud, entWatch, MusicName, Stripper, ZombieReloaded

Fix offliner songname config
  musicname/ze_offliner_v2_csgo1.cfg
Labels: MusicName

verdant map test cfgs
  bosshud/ze_verdant_k.txt
  entwatch/ze_verdant_k.cfg
  musicname/ze_verdant.cfg
  stripper/ze_verdant_k.cfg
Labels: BossHud, entWatch, MusicName, Stripper

What 3 hours of sleep does to a mf
  musicname/ze_verdant_k.cfg
Labels: MusicName

Add & Modify Several Configs (#426)
  bosshud/ze_verdant_k.txt
  entwatch/ze_verdant_k.cfg
  musicname/ze_offliner_v2_csgo1.cfg
  musicname/ze_verdant_k.cfg
  stripper/ze_verdant_k.cfg
Labels: BossHud, entWatch, MusicName, Stripper

Add bioluminescent configs
  bosshud/ze_bioluminescent_k.txt
  entwatch/ze_bioluminescent_k.cfg
  musicname/ze_bioluminescent_k.cfg
Labels: BossHud, entWatch, MusicName

Patch tp avoidance spot on verdant
  stripper/ze_verdant_k.cfg
Labels: Stripper

Add maptest cfg (#427)
  bosshud/ze_bioluminescent_k.txt
  entwatch/ze_bioluminescent_k.cfg
  musicname/ze_bioluminescent_k.cfg
  stripper/ze_verdant_k.cfg
Labels: BossHud, entWatch, MusicName, Stripper

Add bioluminescent stripper for testing
  stripper/ze_bioluminescent_k.cfg
Labels: Stripper

Add bioluminescent stripper for testing (#428)
  stripper/ze_bioluminescent_k.cfg
Labels: Stripper

update stripper for escape together
  stripper/ze_escape_together_v1_xx.cfg
Labels: Stripper

More Changes to Mapeadores Museum
  stripper/ze_mapeadores_museum_v1.cfg
Labels: Stripper

It bugged me :D
  stripper/ze_mapeadores_museum_v1.cfg
Labels: Stripper

It bugged me again
  stripper/ze_mapeadores_museum_v1.cfg
Labels: Stripper

Update bioluminescent stripper
  stripper/ze_bioluminescent_k.cfg
Labels: Stripper

It bugged me x3
  stripper/ze_mapeadores_museum_v1.cfg
Labels: Stripper

Fix the filter
  stripper/ze_mapeadores_museum_v1.cfg
Labels: Stripper

update stripper for escape together (#429)
  stripper/ze_escape_together_v1_xx.cfg
Labels: Stripper

Update bioluminescent stripper (#431)
  stripper/ze_bioluminescent_k.cfg
Labels: Stripper

More Changes to Mapeadores Museum (#430)
  stripper/ze_mapeadores_museum_v1.cfg
Labels: Stripper

Update maps, add escape_origine stripper & map test cfgs
  bosshud/ze_halo_ce_p1_c4.txt
  bosshud/ze_skygarden_v2_1.txt
  entwatch/ze_halo_ce_p1_c4.cfg
  entwatch/ze_skygarden_v2_1.cfg
  musicname/ze_cruelty_squad_v1_8.cfg
  musicname/ze_skygarden_v2_1.cfg
  stripper/ze_atix_panic_b3t_p.cfg
  stripper/ze_cruelty_squad_v1_7.cfg
  stripper/ze_escape_origine_p2.cfg
  stripper/ze_halo_ce_p1_c3.cfg
  stripper/ze_halo_ce_p1_c4.cfg
  stripper/ze_sc_turtles_v5_p2.cfg
  stripper/ze_skygarden_v2_1.cfg
  vscripts/gorbinos_magic_v2.nut
  vscripts/warmup_v2.nut
  zombiereloaded/ze_ATIX_panic_b3t_p.cfg
  zombiereloaded/ze_halo_ce_p1_c4.cfg
Labels: BossHud, entWatch, MusicName, Stripper, ZombieReloaded

delete these too, worse version
  entwatch/ze_gods_wrath_p3.cfg
  stripper/ze_gods_wrath_p3.cfg
  zombiereloaded/ze_gods_wrath_p3.cfg
Labels: entWatch, Stripper, ZombieReloaded

Update sandstorm
  bosshud/ze_sandstorm_go_v1_5x3.txt
  entwatch/ze_sandstorm_go_v1_5x3.cfg
  stripper/ze_sandstorm_go_v1_5x3.cfg
Labels: BossHud, entWatch, Stripper

Cruelty_squad map test cfg
  musicname/ze_cruelty_squad_v1_9.cfg
Labels: MusicName

Map test cfgs, update no_name & winter_warehouse
  bosshud/ze_aaa_grand_line_x_test99.txt
  bosshud/ze_desperate_soul_a10.txt
  bosshud/ze_no_name_v1_6.txt
  bosshud/ze_tenkinoko_welkin_v1_7.txt
  entwatch/ze_Desperate_Soul_a10.cfg
  entwatch/ze_tenkinoko_welkin_v1_7.cfg
  musicname/ze_desperate_soul_a10.cfg
  musicname/ze_tenkinoko_welkin_v1_7.cfg
  stripper/ze_desperate_soul_a10.cfg
  stripper/ze_tenkinoko_welkin_v1_7.cfg
  stripper/ze_winter_warehouse_p.cfg
Labels: BossHud, entWatch, MusicName, Stripper

Update ze_desperate_soul_a10.txt
  bosshud/ze_desperate_soul_a10.txt
Labels: BossHud

Update ze_S_A_M_v1_7.txt
  bosshud/ze_S_A_M_v1_7.txt
Labels: BossHud

Update ze_desperate_soul_a9.txt
  bosshud/ze_desperate_soul_a9.txt
Labels: BossHud

Changes to Desperate Soul and S_A_M (#432)
  bosshud/ze_S_A_M_v1_7.txt
  bosshud/ze_desperate_soul_a10.txt
  bosshud/ze_desperate_soul_a9.txt
Labels: BossHud

Make it impossible to Jump Crouch level 5 end lasers
  stripper/ze_tyranny2_v1_csgo2.cfg
Labels: Stripper

Update ze_tyranny2_v1_csgo2.cfg
  stripper/ze_tyranny2_v1_csgo2.cfg
Labels: Stripper

Update Bible since its not supposed to show as infinite uses
  entwatch/ze_tyranny2_v1_csgo2.cfg
Labels: entWatch

Change CD of level 4 lock trigger
  stripper/ze_tyranny_v5_2k3.cfg
Labels: Stripper

Limited use doesn't exist on the css version.
  entwatch/ze_tyranny2_v1_csgo2.cfg
Labels: entWatch

Create ze_l0v0l_v1_4_csgo2.cfg
  musicname/ze_l0v0l_v1_4_csgo2.cfg
Labels: MusicName

Update ze_l0v0l_v1_4_csgo2.cfg
  musicname/ze_l0v0l_v1_4_csgo2.cfg
Labels: MusicName

Multiple balancing changes, lyrics support
  stripper/ze_ffxiv_wanderers_palace_v6_2z1.cfg
Labels: Stripper
