Repository gflze/CSGO-ZE-Configs, changes with the labels that .github/labeler.yml gives for each.
All labels: BossHud, entWatch, MusicName, SaveLevel, Stripper, ZombieReloaded

remove floor breaking event
  stripper/ze_ffxii_mt_bur_omisace_v5_4fix4.cfg
Labels: Stripper

Update skyrim stripper (#378)
  stripper/ze_tesv_skyrim_v5_6.cfg
Labels: Stripper

Update mines_of_moria
  entwatch/ze_LOTR_Mines_of_Moria_p2.cfg
  musicname/ze_lotr_mines_of_moria_p2.cfg
  stripper/ze_lotr_mines_of_moria_p2.cfg
Labels: entWatch, MusicName, Stripper

Update magmadrake
  bosshud/ze_magmadrake_b5.txt
Labels: BossHud

Fix push on random_escape
  zombiereloaded/ze_random_escape_g1.cfg
Labels: ZombieReloaded

Updated pirates stripper
  stripper/ze_pirates_port_royal_v5_6.cfg
Labels: Stripper

a
  stripper/ze_pirates_port_royal_v5_6.cfg
Labels: Stripper

Updated pirates stripper (#380)
  stripper/ze_pirates_port_royal_v5_6.cfg
Labels: Stripper

Updated atix apocalypse stripper
  stripper/ze_atix_apocalypse_p3.cfg
Labels: Stripper

Updated atix apocalypse stripper (#381)
  stripper/ze_atix_apocalypse_p3.cfg
Labels: Stripper

Map test cfgs
  bosshud/ze_FFVII_Mako_Reactor_v5_3_Kia5.txt
  bosshud/ze_deadcore_k3.txt
  entwatch/ze_FFVII_Mako_Reactor_v5_3_Kia5.cfg
  entwatch/ze_deadcore_k3.cfg
  musicname/ze_FFVII_Mako_Reactor_v5_3_Kia5.cfg
  musicname/ze_deadcore_k3.cfg
  stripper/ze_deadcore_k3.cfg
  stripper/ze_ffvii_mako_reactor_v5_3_kia5.cfg
  stripper/ze_huggy_wuggy_chap4_halloween_rus2.cfg
  zombiereloaded/ze_FFVII_Mako_Reactor_v5_3_Kia5.cfg
Labels: BossHud, entWatch, MusicName, Stripper, ZombieReloaded

forgot
  stripper/ze_ffvii_mako_reactor_v5_3_kia5.cfg
Labels: Stripper

Update deadcore
  bosshud/ze_deadcore_k2.txt
  entwatch/ze_deadcore_k2.cfg
  musicname/ze_deadcore_k2.cfg
  stripper/ze_deadcore_k2.cfg
  stripper/ze_deadcore_k3.cfg
Labels: BossHud, entWatch, MusicName, Stripper

ze_escape_together_vb1a.cfg
  stripper/ze_escape_together_vb1a.cfg
Labels: Stripper

ze_escape_together_vb1a.cfg (#382)
  stripper/ze_escape_together_vb1a.cfg
Labels: Stripper

Fixes to Mapeadores Museum
  stripper/ze_mapeadores_museum_v1.cfg
Labels: Stripper

Add the VScript
  vscripts/museumbuttonclaiming1.nut
Labels: none

Add little trip configs
  bosshud/ze_little_trip_k1.txt
  stripper/ze_little_trip_k1.cfg
Labels: BossHud, Stripper

Add surf cherry blossom configs
  entwatch/ze_surf_cherry_blossom_k.cfg
  stripper/ze_surf_cherry_blossom_k.cfg
Labels: entWatch, Stripper

Add map test cfg (#384)
  bosshud/ze_little_trip_k1.txt
  entwatch/ze_surf_cherry_blossom_k.cfg
  stripper/ze_little_trip_k1.cfg
  stripper/ze_surf_cherry_blossom_k.cfg
Labels: BossHud, entWatch, Stripper

Fixes to Mapeadores Museum (#383)
  stripper/ze_mapeadores_museum_v1.cfg
  vscripts/museumbuttonclaiming1.nut
Labels: Stripper

Update stripper
  stripper/ze_mapeadores_museum_v1.cfg
Labels: Stripper

fix
  stripper/ze_best_korea_v1.cfg
  stripper/ze_eternal_grove_v3.cfg
  stripper/ze_pizzatime_v9.cfg
  vscripts/inject_fix.nut
Labels: Stripper

Fix leftover
  stripper/ze_mapeadores_museum_v1.cfg
Labels: Stripper

More fixes to Mapeadores Museum (#385)
  stripper/ze_mapeadores_museum_v1.cfg
Labels: Stripper

Update exploit fix comments for our path
  stripper/ze_best_korea_v1.cfg
  stripper/ze_eternal_grove_v3.cfg
  stripper/ze_pizzatime_v9.cfg
  vscripts/inject_fix.nut
Labels: Stripper

Fixes to Last Man Standing
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

Reset targetname at round start
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

It bugged me
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

Update ze_last_man_standing_p3.cfg
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

Fix stuff
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

I hate Github
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

Make vscript inject fix more generic & add inject fix to touhou
  stripper/ze_best_korea_v1.cfg
  stripper/ze_eternal_grove_v3.cfg
  stripper/ze_pizzatime_v9.cfg
  stripper/ze_touhou_gensokyo_o4.cfg
  vscripts/inject_fix.nut
Labels: Stripper

Some changes to the viewcontrol system
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

Update timings of unused zombie teleports
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

Add map test cfg - ze_escape_together_v1_xx.cfg
  stripper/ze_escape_together_v1_xx.cfg
Labels: Stripper

Updated atix apocalypse stripper
  stripper/ze_atix_apocalypse_p3.cfg
Labels: Stripper

Updated biohazard manor
  stripper/ze_biohazard_manor_004_p4.cfg
Labels: Stripper

Add map test cfg - ze_escape_together_v1_xx.cfg (#387)
  stripper/ze_escape_together_v1_xx.cfg
Labels: Stripper

Updated atix apoc/biohazard manor stripper (#388)
  stripper/ze_atix_apocalypse_p3.cfg
  stripper/ze_biohazard_manor_004_p4.cfg
Labels: Stripper

.github/labeler.yml:

BossHud:
- bosshud/*

entWatch:
- entwatch/*

MusicName:
- musicname/*

SaveLevel:
- savelevel/*

Stripper:
- stripper/*

ZombieReloaded:
- zombiereloaded/*
