Repository gflze/CSGO-ZE-Configs, changes with the labels that .github/labeler.yml gives for each.
All labels: BossHud, entWatch, MusicName, SaveLevel, Stripper, ZombieReloaded

.github/labeler.yml:

BossHud:
- bosshud/*

entWatch:
- entwatch/*

MusicName:
- musicname/*

SaveLevel:
- savelevel/*

Stripper:
- stripper/*

ZombieReloaded:
- zombiereloaded/*

Update aot_trost, best_korea, naiads & undertale strippers
  stripper/ze_aot_trost_v6.cfg
  stripper/ze_best_korea_v1.cfg
  stripper/ze_mapeadores_museum_v1.cfg
  stripper/ze_naiads_v4a_6f.cfg
  stripper/ze_undertale_g_v1_3_fix1.cfg
  vscripts/antihpregen_patched.nut
Labels: Stripper

Map test cfgs
  bosshud/ze_water_temple_v1_3.txt
  stripper/ze_pools_b1_2.cfg
  stripper/ze_water_temple_v1_3.cfg
Labels: BossHud, Stripper

Allow bhop control for shrek_swamp
  bspconvar_whitelist/bspconvar_custom_whitelist.txt
Labels: none

Platformer kill credits
  stripper/ze_platformer_b6.cfg
Labels: Stripper

Add bible_escape stripper
  stripper/ze_Bible_Adventure_OT_v1_5.cfg
Labels: Stripper

Fix capitalization
  stripper/ze_bible_adventure_ot_v1_5.cfg
Labels: Stripper

Update bible cfgs
  entwatch/ze_Bible_Adventure_OT_v1_5.cfg
  stripper/ze_bible_adventure_ot_v1_5.cfg
Labels: entWatch, Stripper

Add laserheaven stripper & update museum stripper vscript
  stripper/ze_laserheaven_csgo2.cfg
  vscripts/finalfuntasy_manager_patched.nut
Labels: Stripper

Attempt to fix crashing again
  vscripts/finalfuntasy_manager_patched.nut
Labels: none

Update museum FF vscript again & add ubermenschen cfgs
  bspconvar_whitelist/bspconvar_custom_whitelist.txt
  stripper/ze_ubermenschen_test10.cfg
  vscripts/finalfuntasy_manager_patched.nut
  vscripts/main1.nut
Labels: Stripper

Update toaster stripper & map test cfgs
  bosshud/ze_halo_ce_p1_b16.txt
  bspconvar_whitelist/bspconvar_custom_whitelist.txt
  entwatch/ze_halo_ce_p1_b16.cfg
  stripper/ze_halo_ce_p1_b16.cfg
  stripper/ze_toaster_p3.cfg
  stripper/ze_ubermenschen_b1.cfg
  stripper/ze_ubermenschen_test10.cfg
  vscripts/main1.nut
  vscripts/quest_04fix.nut
  zombiereloaded/ze_ubermenschen_b1.cfg
Labels: BossHud, entWatch, Stripper, ZombieReloaded

Add facility_overload stripper
  stripper/ze_facility_overload_pre1.cfg
Labels: Stripper

Fix ubermenschen vscript
  vscripts/main1.nut
Labels: none

Map test cfgs
  bspconvar_whitelist/bspconvar_custom_whitelist.txt
  stripper/ze_animu_v1_1.cfg
  stripper/ze_depths_b1_1.cfg
  stripper/ze_facility_overload_pre1.cfg
  stripper/ze_ubermenschen_b1.cfg
  vscripts/main1.nut
  vscripts/quest_04fix.nut
  zombiereloaded/ze_ubermenschen_b2.cfg
Labels: Stripper, ZombieReloaded

Map test cfgs
  stripper/ze_animu_v1_1.cfg
  stripper/ze_animu_v1_2.cfg
  stripper/ze_depths_b1_1.cfg
  stripper/ze_facility_overload_pre3.cfg
Labels: Stripper

Add ujel stripper & shrek zr cfg
  stripper/ze_ujel_extreme_v1_5.cfg
  zombiereloaded/ze_shrek_swamp_v3.cfg
Labels: Stripper, ZombieReloaded

Update stripper capitalization workflow
  .github/workflows/stripper-case.yml
Labels: none

Update ze_retribution_pf.cfg
  stripper/ze_retribution_pf.cfg
Labels: Stripper

Update toaster & halo_ce strippers
  stripper/ze_halo_ce_p1_b16.cfg
  stripper/ze_toaster_p3.cfg
Labels: Stripper

Update ze_retribution_pf.cfg (#336)
  stripper/ze_retribution_pf.cfg
Labels: Stripper

Update contest map strippers
  stripper/ze_depths_b1_1.cfg
  stripper/ze_ujel_extreme_v1_5.cfg
Labels: Stripper

Update platformer & bible strippers
  stripper/ze_bible_adventure_ot_v1_5.cfg
  stripper/ze_platformer_b6.cfg
  vscripts/bible_antiswear.nut
Labels: Stripper

applily asked for depths entwatch
  entwatch/ze_depths_b1_1.cfg
Labels: entWatch

applily asked for depths entwatch (#337)
  entwatch/ze_depths_b1_1.cfg
Labels: entWatch

bible antiswear fixes & improvements
  stripper/ze_bible_adventure_ot_v1_5.cfg
  vscripts/bible_antiswear.nut
Labels: Stripper

Map test cfgs
  entwatch/ze_project_codex_v1_2.cfg
  stripper/ze_project_codex_v1_2.cfg
  stripper/ze_ultimate_cancer_v1_2.cfg
Labels: entWatch, Stripper

add endemic stripper
  stripper/ze_endemic_v1_2.cfg
Labels: Stripper

Map test cfgs
  bosshud/ze_collective_v1_7.txt
  entwatch/ze_collective_v1_7.cfg
  stripper/ze_collective_v1_7.cfg
  stripper/ze_ffxiv_wanderers_palace_v6_2z1.cfg
  zombiereloaded/ze_collective_v1_7.cfg
Labels: BossHud, entWatch, Stripper, ZombieReloaded

Update collective test cfgs
  bosshud/ze_collective_v1_8.txt
  entwatch/ze_collective_v1_8.cfg
  stripper/ze_collective_v1_8.cfg
  zombiereloaded/ze_collective_v1_8.cfg
Labels: BossHud, entWatch, Stripper, ZombieReloaded

Update collective
  bosshud/ze_collective_v1_6.txt
  entwatch/ze_collective_v1_6.cfg
  stripper/ze_collective_v1_6.cfg
  zombiereloaded/ze_collective_v1_6.cfg
Labels: BossHud, entWatch, Stripper, ZombieReloaded

Map test cfgs
  entwatch/ze_depths_b2.cfg
  stripper/ze_depths_b2.cfg
  stripper/ze_endemic_v1_3.cfg
  stripper/ze_facility_overload_pre3.cfg
  stripper/ze_ultimate_cancer_v1_2.cfg
Labels: entWatch, Stripper

Add wanderers v6_2 entWatch
  entwatch/ze_FFXIV_Wanderers_Palace_v6_2z.cfg
Labels: entWatch

nice cutoff..
  entwatch/ze_FFXIV_Wanderers_Palace_v6_2z1.cfg
Labels: entWatch

Add wanderers v6_2 bhud
  bosshud/ze_FFXIV_Wanderers_Palace_v6_2z.txt
Labels: BossHud

again..
  bosshud/ze_FFXIV_Wanderers_Palace_v6_2z1.txt
Labels: BossHud

wrong Format fix
  musicname/ze_atos_v2_3.cfg
Labels: MusicName

wrong Format fix (#338)
  musicname/ze_atos_v2_3.cfg
Labels: MusicName

Add project codex bosshud config
  bosshud/ze_project_codex_v1_2.txt
Labels: BossHud

Add project codex bosshud config (#339)
  bosshud/ze_project_codex_v1_2.txt
Labels: BossHud

Update endemic stripper
  stripper/ze_endemic_v1_3.cfg
Labels: Stripper
