Repository gflze/CSGO-ZE-Configs, changes with the labels that .github/labeler.yml gives for each.
All labels: BossHud, entWatch, MusicName, SaveLevel, Stripper, ZombieReloaded

Update ze_surf_happy_2_newbie_village_v3.cfg
  entwatch/ze_surf_happy_2_newbie_village_v3.cfg
Labels: entWatch

Update ze_radio_building_v1_3.cfg
  entwatch/ze_radio_building_v1_3.cfg
Labels: entWatch

Fix issues from ze_huge_labo_escape_b1_3 test
  stripper/ze_huge_labo_escape_b1_3.cfg
Labels: Stripper

Update ancient_wrath
  bosshud/ze_Ancient_wrath_r4.txt
  entwatch/ze_Ancient_wrath_r4.cfg
  musicname/ze_Ancient_wrath_r4.cfg
  stripper/ze_ancient_wrath_r4.cfg
Labels: BossHud, entWatch, MusicName, Stripper

Fix issues from ze_huge_labo_escape_b1_3 test (#454)
  stripper/ze_huge_labo_escape_b1_3.cfg
Labels: Stripper

Add/Update Configs (#453)
  bosshud/ze_draco_accidere_v4_final.txt
  entwatch/ze_radio_building_v1_3.cfg
  entwatch/ze_surf_happy_2_newbie_village_v3.cfg
Labels: BossHud, entWatch

Update ze_avalanche_reboot_pm1_test3.cfg
  musicname/ze_avalanche_reboot_pm1_test3.cfg
Labels: MusicName

Create ze_aztecorum_hc1.txt
  bosshud/ze_aztecorum_hc1.txt
Labels: BossHud

Update ze_sit_caelum_paradisus_b7_hdr.txt
  bosshud/ze_sit_caelum_paradisus_b7_hdr.txt
Labels: BossHud

Update ze_aztecorum_hc1.txt
  bosshud/ze_aztecorum_hc1.txt
Labels: BossHud

Add/Update configs (#455)
  bosshud/ze_aztecorum_hc1.txt
  bosshud/ze_sit_caelum_paradisus_b7_hdr.txt
  musicname/ze_avalanche_reboot_pm1_test3.cfg
Labels: BossHud, MusicName

watcher of entities
  entwatch/aaa_grand_line_x
Labels: entWatch

aaa_grand_line_x music cfg
  musicname/aaa_grand_line_x
Labels: MusicName

Update infected_tramway stripper
  stripper/ze_infected_tramway_csgo1.cfg
Labels: Stripper

Update ze_last_man_standing_p3.cfg
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

Shhh
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

Shhhh
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

Fix bridge lowering
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

.
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

grand line nut stripper
  stripper/ze_aaa_grand_line_x
Labels: Stripper

Create aaa_magic_fix.nut
  vscripts/aaa_magic_fix.nut
Labels: none

Grand line patch (#460)
  entwatch/aaa_grand_line_x
  musicname/aaa_grand_line_x
  stripper/ze_aaa_grand_line_x
  vscripts/aaa_magic_fix.nut
Labels: entWatch, MusicName, Stripper

The great "//" purge, also some tiny fixes again
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

Update desperate_soul & fix aaa_grand_line cfgs
  bosshud/ze_desperate_soul_a9.txt
  entwatch/ze_Desperate_Soul_a9.cfg
  entwatch/ze_aaa_grand_line_x.cfg
  musicname/ze_aaa_grand_line_x.cfg
  musicname/ze_desperate_soul_a9.cfg
  stripper/ze_aaa_grand_line_x
  stripper/ze_aaa_grand_line_x.cfg
  stripper/ze_desperate_soul_a9.cfg
  vscripts/aaa_magic_fix.nut
Labels: BossHud, entWatch, MusicName, Stripper

Fix missing bracket in grand_line bhud
  bosshud/ze_aaa_grand_line_x.txt
Labels: BossHud

Update ze_aaa_grand_line_x.cfg
  stripper/ze_aaa_grand_line_x.cfg
Labels: Stripper

Update ze_aaa_grand_line_x.cfg
  stripper/ze_aaa_grand_line_x.cfg
Labels: Stripper

Update ze_aaa_grand_line_x.cfg (#461)
  stripper/ze_aaa_grand_line_x.cfg
Labels: Stripper

Create ze_pkmn_adventure_v7_2r_final
  bosshud/ze_pkmn_adventure_v7_2r_final
Labels: BossHud

Rename ze_pkmn_adventure_v7_2r_final to ze_pkmn_adventure_v7_2r_final.txt
  bosshud/ze_pkmn_adventure_v7_2r_final.txt
Labels: BossHud

Create ze_pkmn_adventure_v7_2r_final.cfg
  entwatch/ze_pkmn_adventure_v7_2r_final.cfg
Labels: entWatch

Create ze_pkmn_adventure_v7_2r_final.cfg
  stripper/ze_pkmn_adventure_v7_2r_final.cfg
Labels: Stripper

Properly fix aurora tower stripper
  stripper/ze_aurora_tower_v6_6.cfg
Labels: Stripper

Update ze_last_man_standing_p3.cfg
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

Additional fixes to aurora tower
  stripper/ze_aurora_tower_v6_6.cfg
Labels: Stripper

Add back stage 2 lobby door troll
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

Update the last man stands (#456)
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

Add pkmn adventure v7_2r configs (#463)
  bosshud/ze_pkmn_adventure_v7_2r_final.txt
  entwatch/ze_pkmn_adventure_v7_2r_final.cfg
  stripper/ze_pkmn_adventure_v7_2r_final.cfg
Labels: BossHud, entWatch, Stripper

Rework button early trigger fix
  stripper/ze_aurora_tower_v6_6.cfg
Labels: Stripper

Add/fix entwatch for border
  entwatch/ze_border_b2_fix.cfg
Labels: entWatch

.github/labeler.yml:

BossHud:
- bosshud/*

entWatch:
- entwatch/*

MusicName:
- musicname/*

SaveLevel:
- savelevel/*

Stripper:
- stripper/*

ZombieReloaded:
- zombiereloaded/*
