Repository gflze/CSGO-ZE-Configs, changes with the labels that .github/labeler.yml gives for each.
All labels: BossHud, entWatch, MusicName, SaveLevel, Stripper, ZombieReloaded

Maptest changes/fixes (#491)
  bosshud/ze_aot_trost_v8_3.txt
  entwatch/ze_aot_trost_v8_3.cfg
  entwatch/ze_fapescape_katrina_v1_7.cfg
  stripper/ze_fapescape_katrina_v1_7.cfg
  stripper/ze_fragment_ops_v2_7_fix.cfg
  stripper/ze_realm_f3.cfg
  stripper/ze_zertinan_v1_4.cfg
  vscripts/ze_fragment_ops_patched.nut
Labels: BossHud, entWatch, Stripper

Fix visible clips in forhidden & remove old aot_trost cfgs
  bosshud/ze_aot_trost_v6.txt
  entwatch/ze_aot_trost_v6.cfg
  stripper/ze_forhidden_slicoo_v5.cfg
Labels: BossHud, entWatch, Stripper

Revert "Last Fix Standing (#475)"
  stripper/ze_last_man_standing_p3.cfg
  vscripts/lms1main1.nut
Labels: Stripper

Fix syntax error caught by stripper plugin update
  stripper/ze_flex_b4.cfg
Labels: Stripper

Map test cfgs
  bosshud/ze_arcana_heart_v1_5.txt
  bosshud/ze_retro_cow_v1_1.txt
  bosshud/ze_serious_sam_tfe_v4_1.txt
  entwatch/ze_arcana_heart_v1_5.cfg
  entwatch/ze_retro_cow_v1_1.cfg
  entwatch/ze_serious_sam_tfe_v4_1.cfg
  musicname/ze_arcana_heart_v1_5.cfg
  stripper/ze_serious_sam_tfe_v4_1.cfg
  stripper/ze_watagi_tunnel_v1_1.cfg
  vscripts/ze_watagi_tunnel_patched.nut
Labels: BossHud, entWatch, MusicName, Stripper

Add beyond the boundary stripper
  stripper/ze_beyond_the_boundary_v1_5.cfg
Labels: Stripper

Add dodge or die stripper
  stripper/ze_dodge_or_die_k.cfg
Labels: Stripper

Update fapescape katrina stripper
  stripper/ze_fapescape_katrina_v1_7.cfg
Labels: Stripper

Add surf last point configs
  bosshud/ze_surf_last_point_v1_5.txt
  entwatch/ze_surf_last_point_v1_5.cfg
Labels: BossHud, entWatch

Bump luciddreams version
  bosshud/ze_luciddreams_csgo3.txt
  entwatch/ze_luciddreams_csgo3.cfg
Labels: BossHud, entWatch

Beyond the boundary bhud config
  bosshud/ze_beyond_the_boundary_v1_5.txt
Labels: BossHud

Add abyss land bhud
  bosshud/ze_abyss_land_b1_2.txt
Labels: BossHud

Add dodge or die entwatch
  entwatch/ze_dodge_or_die_k.cfg
Labels: entWatch

Update
  entwatch/ze_dodge_or_die_k.cfg
Labels: entWatch

Add maptest cfgs (#493)
  bosshud/ze_abyss_land_b1_2.txt
  bosshud/ze_beyond_the_boundary_v1_5.txt
  bosshud/ze_luciddreams_csgo3.txt
  bosshud/ze_surf_last_point_v1_5.txt
  entwatch/ze_dodge_or_die_k.cfg
  entwatch/ze_luciddreams_csgo3.cfg
  entwatch/ze_surf_last_point_v1_5.cfg
  stripper/ze_beyond_the_boundary_v1_5.cfg
  stripper/ze_dodge_or_die_k.cfg
  stripper/ze_fapescape_katrina_v1_7.cfg
Labels: BossHud, entWatch, Stripper

Delete ze_aaa_grand_line_x.cfg
  stripper/ze_aaa_grand_line_x.cfg
Labels: Stripper

Delete aaa_magic_fix.nut
  vscripts/aaa_magic_fix.nut
Labels: none

Rename ze_aaa_grand_line_x.cfg to ze_aaa_grand_line_x1.cfg
  entwatch/ze_aaa_grand_line_x1.cfg
Labels: entWatch

Rename ze_aaa_grand_line_x.txt to ze_aaa_grand_line_x1.txt
  bosshud/ze_aaa_grand_line_x1.txt
Labels: BossHud

Rename ze_aaa_grand_line_x.cfg to ze_aaa_grand_line_x1.cfg
  musicname/ze_aaa_grand_line_x1.cfg
Labels: MusicName

Delete ze_aaa_grand_line_x.cfg
  stripper/ze_aaa_grand_line_x.cfg
Labels: Stripper

Delete aaa_magic_fix.nut
  vscripts/aaa_magic_fix.nut
Labels: none

Fix issues from map test
  stripper/ze_beyond_the_boundary_v1_5.cfg
Labels: Stripper

Fix issues from map test (#497)
  stripper/ze_beyond_the_boundary_v1_5.cfg
Labels: Stripper

Grand_line map test cfgs
  bosshud/ze_aaa_grand_line_x1.txt
  entwatch/ze_aaa_grand_line_x1.cfg
  musicname/ze_aaa_grand_line_x1.cfg
Labels: BossHud, entWatch, MusicName

Add testris daydream bhud
  bosshud/ze_tetris_daydream_p.txt
Labels: BossHud

Add testris daydream bhud (#498)
  bosshud/ze_tetris_daydream_p.txt
Labels: BossHud

Update visualizer stripper from m4dara
  stripper/ze_visualizer_v2_1.cfg
Labels: Stripper

Formatting fix
  stripper/ze_visualizer_v2_1.cfg
Labels: Stripper

grand line x1 credits fix
  stripper/ze_aaa_grand_line_x1.cfg
Labels: Stripper

Update visualizer stripper from m4dara (#499)
  stripper/ze_visualizer_v2_1.cfg
Labels: Stripper

grand line x1 stripper fixes
  stripper/ze_aaa_grand_line_x1.cfg
Labels: Stripper

grand line x1 m3 stripper (#501)
  stripper/ze_aaa_grand_line_x1.cfg
Labels: Stripper

Update tetris_daydream bhud
  bosshud/ze_tetris_daydream_p2.txt
Labels: BossHud

Add avalanche reboot stripper
  stripper/ze_avalanche_reboot_k1.cfg
Labels: Stripper

Update mist stripper
  stripper/ze_mist_q3.cfg
Labels: Stripper

Add avalanche reboot stripper (#502)
  stripper/ze_avalanche_reboot_k1.cfg
Labels: Stripper

Update mist stripper (#503)
  stripper/ze_mist_q3.cfg
Labels: Stripper

Luciddreams roundtime
  zombiereloaded/ze_luciddreams_csgo3.cfg
Labels: ZombieReloaded

Update visualizer stripper
  stripper/ze_visualizer_v2_1.cfg
Labels: Stripper

.github/labeler.yml:

BossHud:
- bosshud/*

entWatch:
- entwatch/*

MusicName:
- musicname/*

SaveLevel:
- savelevel/*

Stripper:
- stripper/*

ZombieReloaded:
- zombiereloaded/*
