Repository gflze/CSGO-ZE-Configs, changes with the labels that .github/labeler.yml gives for each.
All labels: BossHud, entWatch, MusicName, SaveLevel, Stripper, ZombieReloaded

Add maptest cfgs (#517)
  bosshud/ze_Diverted_Destiny_c2.txt
  bosshud/ze_diverted_destiny_c2f2.txt
  bosshud/ze_ffxii_mt_bur_omisace_v5_k3.txt
  bosshud/ze_lost_terminus_b10.txt
  entwatch/ze_Diverted_Destiny_c2.cfg
  entwatch/ze_diverted_destiny_c2f2.cfg
  entwatch/ze_ffxii_mt_bur_omisace_v5_k3.cfg
  entwatch/ze_lost_terminus_b10.cfg
  entwatch/ze_lost_terminus_b4f.cfg
  entwatch/ze_surf_gypt_v2r1.cfg
  musicname/ze_ffxii_mt_bur_omisace_v5_k3.cfg
  stripper/ze_lost_terminus_b10.cfg
Labels: BossHud, entWatch, MusicName, Stripper

Add cyberspace configs
  bosshud/ze_cyberspace_v1.txt
  entwatch/ze_cyberspace_v1.cfg
Labels: BossHud, entWatch

Fix aot_trost EW strip triggers
  entwatch/ze_aot_trost_v8_3.cfg
Labels: entWatch

Map test cfgs & sisyphus extends
  bosshud/ze_aaa_grand_line_x3.txt
  bosshud/ze_diverted_destiny_c2f3.txt
  entwatch/ze_aaa_grand_line_x3.cfg
  entwatch/ze_diverted_destiny_c2f3.cfg
  musicname/ze_aaa_grand_line_x3.cfg
  zombiereloaded/ze_sisyphus_v1.cfg
Labels: BossHud, entWatch, MusicName, ZombieReloaded

Another map test cfg
  entwatch/ze_crazy_christmas_v1_1.cfg
Labels: entWatch

Bump last man standing stripper
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

Update LMS stripper
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

Revert "Bump last man standing stripper"
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

Sisyphus songnames
  musicname/ze_sisyphus_v1.cfg
Labels: MusicName

jjomulwon entwatch
  entwatch/ze_jjomulwon_v1_1.cfg
Labels: entWatch

Update minas tirith stripper
  stripper/ze_lotr_minas_tirith_p5.cfg
Labels: Stripper

Update grand_line & halo_ce map test cfgs
  bosshud/ze_aaa_grand_line_x.txt
  bosshud/ze_halo_ce_p1_c7.txt
  entwatch/ze_aaa_grand_line_x.cfg
  entwatch/ze_halo_ce_p1_c7.cfg
  musicname/ze_aaa_grand_line_x.cfg
  stripper/ze_aaa_grand_line_x.cfg
  stripper/ze_halo_ce_p1_c5.cfg
  stripper/ze_halo_ce_p1_c7.cfg
  vscripts/aaa_magic_fix.nut
  zombiereloaded/ze_halo_ce_p1_c7.cfg
Labels: BossHud, entWatch, MusicName, Stripper, ZombieReloaded

Fix push issues on a few maps
  stripper/ze_aot_trost_v8_3.cfg
  stripper/ze_negative_legacy_va2.cfg
  stripper/ze_rawnscape_b2_nc3.cfg
Labels: Stripper

biohazard3_nemesis map test cfgs
  bosshud/ze_biohazard3_nemesis_b5_2.txt
  bosshud/ze_biohazard3_nemesis_b6_0.txt
  entwatch/ze_biohazard3_nemesis_b6_0.cfg
  musicname/ze_biohazard3_nemesis_b5_2.cfg
  musicname/ze_biohazard3_nemesis_b6_0.cfg
  stripper/ze_biohazard3_nemesis_b5_2.cfg
Labels: BossHud, entWatch, MusicName, Stripper

Update ancient wrath stripper
  stripper/ze_ancient_wrath_v2_test27_m5.cfg
Labels: Stripper

Update LMS stripper again
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

Flower stripper
  stripper/ze_flower_a3_1.cfg
Labels: Stripper

Bump diverted destiny configs
  bosshud/ze_diverted_destiny_c2f3.txt
  entwatch/ze_diverted_destiny_c2f3.cfg
Labels: BossHud, entWatch

Update ze_sisyphus_v1.cfg
  stripper/ze_sisyphus_v1.cfg
Labels: Stripper

Update sisyphus_magic_v2.nut
  vscripts/sisyphus_magic_v2.nut
Labels: none

Update ze_sisyphus_v1.cfg
  stripper/ze_sisyphus_v1.cfg
Labels: Stripper

sissy bussy qol fixes (#519)
  stripper/ze_sisyphus_v1.cfg
  vscripts/sisyphus_magic_v2.nut
Labels: Stripper

Update mt_bur
  bosshud/ze_FFXII_Mt_Bur_Omisace_v5_4fix4.txt
  entwatch/ze_FFXII_Mt_Bur_Omisace_v5_4fix4_override.cfg
  musicname/ze_FFXII_Mt_Bur_omisace_v5_4fix4.cfg
  stripper/ze_ffxii_mt_bur_omisace_v5_4fix4.cfg
Labels: BossHud, entWatch, MusicName, Stripper

Revert "add flower stripper"
  stripper/ze_flower_a3_1.cfg
Labels: Stripper

Update sisyphus_magic_v2.nut
  vscripts/sisyphus_magic_v2.nut
Labels: none

Update ze_sisyphus_v1.cfg
  stripper/ze_sisyphus_v1.cfg
Labels: Stripper

sisyphus bug fixes (#520)
  stripper/ze_sisyphus_v1.cfg
  vscripts/sisyphus_magic_v2.nut
Labels: Stripper

Cyberspace stripper
  stripper/ze_cyberspace_v1.cfg
Labels: Stripper

Arcana heart stripper
  stripper/ze_arcana_heart_v1_5.cfg
Labels: Stripper

Update cyberspace stripper
  stripper/ze_cyberspace_v1.cfg
Labels: Stripper

Update several configs (#518)
  bosshud/ze_cyberspace_v1.txt
  entwatch/ze_cyberspace_v1.cfg
  entwatch/ze_jjomulwon_v1_1.cfg
  musicname/ze_sisyphus_v1.cfg
  stripper/ze_ancient_wrath_v2_test27_m5.cfg
  stripper/ze_cyberspace_v1.cfg
  stripper/ze_lotr_minas_tirith_p5.cfg
Labels: BossHud, entWatch, MusicName, Stripper

Arcana heart stripper (#521)
  stripper/ze_arcana_heart_v1_5.cfg
Labels: Stripper

Binary stripper
  stripper/ze_binary_z4_1.cfg
Labels: Stripper

Add diverted destiny stripper
  stripper/ze_diverted_destiny_c2f3.cfg
Labels: Stripper

Change roundtime via zombiereloaded
  stripper/ze_diverted_destiny_c2f3.cfg
  zombiereloaded/ze_diverted_destiny_c2f3.cfg
Labels: Stripper, ZombieReloaded

Crazy Christmas bhud
  bosshud/ze_crazy_christmas_v1_1.txt
Labels: BossHud

Fix incorrect cooldown
  entwatch/ze_cyberspace_v1.cfg
Labels: entWatch

Increase freeze time
  zombiereloaded/ze_cyberspace_v1.cfg
Labels: ZombieReloaded

Increase round time
  zombiereloaded/ze_diverted_destiny_c2f3.cfg
Labels: ZombieReloaded

dragonball nuke anti-cringe-solo trigger erection
  stripper/ze_dragonball_snakeway_neox2.cfg
Labels: Stripper

.github/labeler.yml:

BossHud:
- bosshud/*

entWatch:
- entwatch/*

MusicName:
- musicname/*

SaveLevel:
- savelevel/*

Stripper:
- stripper/*

ZombieReloaded:
- zombiereloaded/*
