Repository gflze/CSGO-ZE-Configs, changes with the labels that .github/labeler.yml gives for each.
All labels: BossHud, entWatch, MusicName, SaveLevel, Stripper, ZombieReloaded

.github/labeler.yml:

BossHud:
- bosshud/*

entWatch:
- entwatch/*

MusicName:
- musicname/*

SaveLevel:
- savelevel/*

Stripper:
- stripper/*

ZombieReloaded:
- zombiereloaded/*

Update endemic
  musicname/ze_endemic_v1_2.cfg
  stripper/ze_endemic_v1_2.cfg
  stripper/ze_endemic_v1_3.cfg
Labels: MusicName, Stripper

Update endemic/toaster strippers & add facility_overload stripper
  stripper/ze_endemic_v1_3.cfg
  stripper/ze_facility_overload_final2.cfg
  stripper/ze_toaster_p3.cfg
Labels: Stripper

not sure where this came from
  stripper/ze_toaster_p3.cfg
Labels: Stripper

Enable MultBoss on Wanderers Palace v6_2
  bosshud/ze_FFXIV_Wanderers_Palace_v6_2z1.txt
Labels: BossHud

Enable MultBoss on Wanderers Palace v6_2 (#340)
  bosshud/ze_FFXIV_Wanderers_Palace_v6_2z1.txt
Labels: BossHud

Modified entwatch/ze_cyberpunk_x_a07.cfg - Fixed cooldown on Tracerifle
  entwatch/ze_cyberpunk_x_a07.cfg
Labels: entWatch

Modified entwatch/ze_FFVII_Mako_Reactor_V6_b09k2.cfg - Make Bio item's color the same color as the ingame item
  entwatch/ze_FFVII_Mako_Reactor_V6_b09k2.cfg
Labels: entWatch

Modified stripper/ze_games_v2_1.cfg - Neaten up stripper with regex
  stripper/ze_games_v2_1.cfg
Labels: Stripper

Map test cfgs
  stripper/ze_cruelty_squad_v1_4test.cfg
  stripper/ze_light_escape_tb3.cfg
Labels: Stripper

Fix retribution stripper
  stripper/ze_retribution_pf.cfg
Labels: Stripper

Add scourge entwatch
  entwatch/ze_scourge_k1.cfg
Labels: entWatch

Fix invalid scourge entwatch color
  entwatch/ze_scourge_k1.cfg
Labels: entWatch

Fix missing maxuses keyvalue for scourge
  entwatch/ze_scourge_k1.cfg
Labels: entWatch

Add scourge entwatch (#341)
  entwatch/ze_scourge_k1.cfg
Labels: entWatch

Modified stripper/ze_deathinvain_palace_v2.cfg - If level 2 DPS check is failed and round becomes unwinnable, kill all CTs 5 seconds later rather than let them delay
  stripper/ze_deathinvain_palace_v2.cfg
Labels: Stripper

Modified stripper/ze_deathinvain_palace_v2.cfg - Fix change on level 2 dps check
  stripper/ze_deathinvain_palace_v2.cfg
Labels: Stripper

Modified stripper/ze_babylon_v1.cfg - Block a delay spot on top of red building roof that players can get to by parkouring on windows
  stripper/ze_babylon_v1.cfg
Labels: Stripper

add scourge stripper
  stripper/ze_scourge_k1.cfg
Labels: Stripper

add scourge stripper (#343)
  stripper/ze_scourge_k1.cfg
Labels: Stripper

Modified Multiple Configs (#342)
  entwatch/ze_FFVII_Mako_Reactor_V6_b09k2.cfg
  entwatch/ze_cyberpunk_x_a07.cfg
  stripper/ze_babylon_v1.cfg
  stripper/ze_deathinvain_palace_v2.cfg
  stripper/ze_games_v2_1.cfg
  stripper/ze_surf_ffxiv_beachescape_camper_isengard_laser_mako.cfg
Labels: entWatch, Stripper

Update depths & pools stripper
  entwatch/ze_depths_b1_1.cfg
  stripper/ze_depths_b1_1.cfg
  stripper/ze_pools_b1_2.cfg
Labels: entWatch, Stripper

Update official depths stripper from mapper
  stripper/ze_depths_b2.cfg
Labels: Stripper

Update depths stripper
  stripper/ze_depths_b2.cfg
Labels: Stripper

Add evernight & lila panic savelevel cfg
  savelevel/ze_evernight_a3_4.cfg
  savelevel/ze_lila_panic_escape_tr2.cfg
Labels: SaveLevel

Add evernight & lila panic savelevel cfg (#345)
  savelevel/ze_evernight_a3_4.cfg
  savelevel/ze_lila_panic_escape_tr2.cfg
Labels: SaveLevel

Map test cfgs
  bosshud/ze_collective_v1_9.txt
  entwatch/ze_collective_v1_9.cfg
  musicname/ze_collective_v1_9.cfg
  stripper/ze_collective_v1_9.cfg
  zombiereloaded/ze_collective_v1_9.cfg
Labels: BossHud, entWatch, MusicName, Stripper, ZombieReloaded

Update collective
  bosshud/ze_collective_v1_8.txt
  entwatch/ze_collective_v1_8.cfg
  musicname/ze_collective_v1_8.cfg
  stripper/ze_collective_v1_8.cfg
  zombiereloaded/ze_collective_v1_8.cfg
Labels: BossHud, entWatch, MusicName, Stripper, ZombieReloaded

Modified entwatch/ze_collective_v1_9.cfg - Set allowtransfer to false on knife item
  entwatch/ze_collective_v1_9.cfg
Labels: entWatch

Map test cfgs
  bosshud/ze_ultimate_cancer_v1_4_final.txt
  bspconvar_whitelist/bspconvar_custom_whitelist.txt
  entwatch/ze_FFVII_Mako_Reactor_v5_3_Kia.cfg
  entwatch/ze_last_man_standing_p3.cfg
  entwatch/ze_ultimate_cancer_v1_4_final.cfg
  musicname/ze_animu_v2_final.cfg
  musicname/ze_last_man_standing_p3.cfg
  stripper/ze_animu_v2_final.cfg
  stripper/ze_ffvii_mako_reactor_v5_3_kia.cfg
  stripper/ze_last_man_standing_p3.cfg
  zombiereloaded/ze_FFVII_Mako_Reactor_v5_3_Kia.cfg
  zombiereloaded/ze_ultimate_cancer_v1_4_final.cfg
Labels: BossHud, entWatch, MusicName, Stripper, ZombieReloaded

Map test cfgs
  musicname/ze_cruelty_squad_v1_5.cfg
  stripper/ze_cruelty_squad_v1_4test.cfg
Labels: MusicName, Stripper

Modified Multiple Configs (#346)
  entwatch/ze_collective_v1_9.cfg
  stripper/ze_biohazard2_sewer_004_p8.cfg
  stripper/ze_biohazard2_sewer_j2_004.cfg
  stripper/ze_jurassicpark_escape_p2.cfg
  stripper/ze_lotr_mount_doom_p3.cfg
  stripper/ze_silent_hill_3_flee_v4.cfg
Labels: entWatch, Stripper

Re-enable minas custom player models
  stripper/ze_lotr_minas_tirith_p5.cfg
Labels: Stripper

Space flight too
  stripper/ze_space_flight_p3.cfg
  vscripts/EnforcePlayerModel_patched.nut
Labels: Stripper

Update LMS
  bspconvar_whitelist/bspconvar_custom_whitelist.txt
  entwatch/ze_last_man_standing_p2.cfg
  musicname/ze_last_man_standing_p2.cfg
  stripper/ze_last_man_standing_p2.cfg
Labels: entWatch, MusicName, Stripper

Fix boredome penis item shortname
  entwatch/ze_boredom_p.cfg
Labels: entWatch

fix silent hill blackblood solo exploit
  stripper/ze_silent_hill_blackblood_f6.cfg
Labels: Stripper

Fix early trigger nuke exploit on sh illusion
  stripper/ze_silent_hill_2_illusion_b5.cfg
Labels: Stripper

Update all silent hill translations
  vscripts/blackblood_patched.nut
  vscripts/flee_patched.nut
  vscripts/illusion_patched.nut
  vscripts/sh2_patched.nut
Labels: none

Update surf happy translation
  vscripts/happy_patched.nut
Labels: none

modify several configs (#347)
  entwatch/ze_boredom_p.cfg
  stripper/ze_silent_hill_2_illusion_b5.cfg
  stripper/ze_silent_hill_blackblood_f6.cfg
  vscripts/blackblood_patched.nut
  vscripts/flee_patched.nut
  vscripts/happy_patched.nut
  vscripts/illusion_patched.nut
  vscripts/sh2_patched.nut
Labels: entWatch, Stripper
