Repository gflze/CSGO-ZE-Configs, changes with the labels that .github/labeler.yml gives for each.
All labels: BossHud, entWatch, MusicName, SaveLevel, Stripper, ZombieReloaded

.github/labeler.yml:

BossHud:
- bosshud/*

entWatch:
- entwatch/*

MusicName:
- musicname/*

SaveLevel:
- savelevel/*

Stripper:
- stripper/*

ZombieReloaded:
- zombiereloaded/*

Update deadcore stripper
  stripper/ze_deadcore_k3.cfg
Labels: Stripper

Fix cyberspace bosshud
  bosshud/ze_cyberspace_v1.txt
Labels: BossHud

Crazy Christmas bhud (#524)
  bosshud/ze_crazy_christmas_v1_1.txt
Labels: BossHud

Revert laser changes on deadcore
  stripper/ze_deadcore_k3.cfg
Labels: Stripper

Let's just remove the slow anyways
  stripper/ze_deadcore_k3.cfg
Labels: Stripper

Remove laser slow
  stripper/ze_deadcore_k3.cfg
Labels: Stripper

dragonball anti-solo-cringe camping nuke extension (#525)
  stripper/ze_dragonball_snakeway_neox2.cfg
Labels: Stripper

Update deadcore stripper
  stripper/ze_deadcore_k3.cfg
Labels: Stripper

Cyberspace stripper
  stripper/ze_cyberspace_v1.cfg
Labels: Stripper

Update deadcore stripper (#526)
  stripper/ze_deadcore_k3.cfg
Labels: Stripper

Update temple raider stripper
  stripper/ze_temple_raider_kr1.cfg
Labels: Stripper

Update temple raider heal fix
  stripper/ze_temple_raider_kr1.cfg
Labels: Stripper

Fix freezetime fuckery on cybersapce
  stripper/ze_cyberspace_v1.cfg
  zombiereloaded/ze_cyberspace_v1.cfg
Labels: Stripper, ZombieReloaded

Rework delay spot check
  stripper/ze_cyberspace_v1.cfg
Labels: Stripper

Update diverted destiny stripper
  entwatch/ze_diverted_destiny_c2f3.cfg
  stripper/ze_diverted_destiny_c2f3.cfg
Labels: entWatch, Stripper

Add vscript
  vscripts/lms1main1.nut
Labels: none

Update stripper
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

Oops
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

Cap zm item user hp to 1200
  vscripts/lms1main1.nut
Labels: none

Oops
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

Teleport zombies even if no one gets the solo!
  vscripts/lms1main1.nut
Labels: none

O
  vscripts/lms1main1.nut
Labels: none

Fix refire
  stripper/ze_cyberspace_v1.cfg
Labels: Stripper

Fix heal button on temple raider (#528)
  stripper/ze_temple_raider_kr1.cfg
Labels: Stripper

Update cyberspace configs (#527)
  bosshud/ze_cyberspace_v1.txt
  entwatch/ze_cyberspace_v1.cfg
  stripper/ze_cyberspace_v1.cfg
Labels: BossHud, entWatch, Stripper

Damage adjustment & Change antistuck
  stripper/ze_diverted_destiny_c2f3.cfg
Labels: Stripper

Readjust damage
  stripper/ze_diverted_destiny_c2f3.cfg
Labels: Stripper

Update diverted destiny configs (#523)
  entwatch/ze_diverted_destiny_c2f3.cfg
  stripper/ze_diverted_destiny_c2f3.cfg
  zombiereloaded/ze_diverted_destiny_c2f3.cfg
Labels: entWatch, Stripper, ZombieReloaded

Make sure disconnected players are removed properly
  vscripts/lms1main1.nut
Labels: none

Add binary stripper
  stripper/ze_binary_z4_1.cfg
Labels: Stripper

Missing buyzone fix
  stripper/ze_binary_z4_1.cfg
Labels: Stripper

Add slackerino mapperino configs
  bosshud/ze_slackerino_mapperino_v4.txt
  bspconvar_whitelist/bspconvar_custom_whitelist.txt
  entwatch/ze_slackerino_mapperino_v4.cfg
  stripper/ze_slackerino_mapperino_v4.cfg
Labels: BossHud, entWatch, Stripper

Fix binary issues (#530)
  stripper/ze_binary_z4_1.cfg
Labels: Stripper

Update halo_ce
  bosshud/ze_halo_ce_p1_b16.txt
  entwatch/ze_halo_ce_p1_b16.cfg
  entwatch/ze_halo_ce_p1_c7.cfg
  stripper/ze_halo_ce_p1_b16.cfg
  stripper/ze_halo_ce_p1_c7.cfg
  zombiereloaded/ze_halo_ce_p1_b16.cfg
Labels: BossHud, entWatch, Stripper, ZombieReloaded

Map test cfgs
  bosshud/ze_biohazard3_nemesis_b6_2.txt
  entwatch/ze_biohazard3_nemesis_b6_0.cfg
  entwatch/ze_biohazard3_nemesis_b6_2.cfg
  musicname/ze_biohazard3_nemesis_b6_2.cfg
  musicname/ze_cruelty_squad_v1_12.cfg
  zombiereloaded/ze_cruelty_squad_v1_12.cfg
Labels: BossHud, entWatch, MusicName, ZombieReloaded

Add surf virtus configs
  bosshud/ze_surf_virtus_v1_1.txt
  entwatch/ze_surf_virtus_v1_1.cfg
Labels: BossHud, entWatch

Forhidden void configs
  bosshud/ze_forhidden_void_b5.txt
  entwatch/ze_forhidden_void_b5.cfg
  stripper/ze_forhidden_void_b5.cfg
Labels: BossHud, entWatch, Stripper

Add ocean heart configs
  entwatch/ze_ocean_heart_v1.cfg
Labels: entWatch

Add runaway roofside entwatch
  entwatch/ze_runaway_roofside_k1.cfg
Labels: entWatch

Add forest of steel entwatch
  entwatch/ze_forest_of_steel_v1_7.cfg
Labels: entWatch
