Repository gflze/CSGO-ZE-Configs, changes with the labels that .github/labeler.yml gives for each.
All labels: BossHud, entWatch, MusicName, SaveLevel, Stripper, ZombieReloaded

.github/labeler.yml:

BossHud:
- bosshud/*

entWatch:
- entwatch/*

MusicName:
- musicname/*

SaveLevel:
- savelevel/*

Stripper:
- stripper/*

ZombieReloaded:
- zombiereloaded/*

Update sync actions
  .github/workflows/ci-master-main.yml
  .github/workflows/ci-master-test.yml
  README.md
Labels: none

Fix offliner
  stripper/ze_offliner_v2_csgo1.cfg
Labels: Stripper

Update slackerino mapperino configs
  entwatch/ze_slackerino_mapperino_v4.cfg
  stripper/ze_slackerino_mapperino_v4.cfg
Labels: entWatch, Stripper

Update tenkinoko welkin stripper
  stripper/ze_tenkinoko_welkin_v1_7f.cfg
Labels: Stripper

Update 2049 stripper
  stripper/ze_2049_v1_1.cfg
Labels: Stripper

Update several configs (#541)
  entwatch/ze_slackerino_mapperino_v4.cfg
  stripper/ze_2049_v1_1.cfg
  stripper/ze_offliner_v2_csgo1.cfg
  stripper/ze_slackerino_mapperino_v4.cfg
  stripper/ze_tenkinoko_welkin_v1_7f.cfg
Labels: entWatch, Stripper

Update repo name
  README.md
  stripper/dz_blacksite.cfg
  stripper/dz_sirocco.cfg
  stripper/ze_8bit_csgo3.cfg
  stripper/ze_alien_shooter_gp1_3.cfg
  stripper/ze_ancient_wrath_v2_test27_m5.cfg
  stripper/ze_aot_trost_v8_3.cfg
  stripper/ze_backrooms_deathbed_t1f.cfg
  stripper/ze_best_korea_v1.cfg
  stripper/ze_bible_adventure_ot_v1_5.cfg
  stripper/ze_border_b2_fix.cfg
  stripper/ze_cruelty_squad_v1_12.cfg
  stripper/ze_dark_souls_ptd_csgo2.cfg
  stripper/ze_diddle_v3.cfg
  stripper/ze_doom3_v2.cfg
  stripper/ze_eternal_grove_v3.cfg
  stripper/ze_ffxii_paramina_rift_r4.cfg
  stripper/ze_l0v0l_v1_4_csgo2.cfg
  stripper/ze_lotr_isengard_csgo1.cfg
  stripper/ze_lotr_minas_tirith_p5.cfg
  stripper/ze_mapeadores_museum_v1.cfg
  stripper/ze_pirates_port_royal_v5_6.cfg
  stripper/ze_pizzatime_v9.cfg
  stripper/ze_platformer_b6.cfg
  stripper/ze_silent_hill_2_illusion_b5.cfg
  stripper/ze_silent_hill_3_dawn_v2.cfg
  stripper/ze_silent_hill_3_flee_v4.cfg
  stripper/ze_silent_hill_blackblood_f6.cfg
  stripper/ze_sisyphus_v1.cfg
  stripper/ze_surf_happy_2_newbie_village_v3.cfg
  stripper/ze_surf_happy_b7.cfg
  stripper/ze_surf_shonyudo_v6_1_final_fix.cfg
  stripper/ze_tesv_skyrim_kr2.cfg
  stripper/ze_tesv_skyrim_v5_6.cfg
  stripper/ze_touhou_gensokyo_o4.cfg
  stripper/ze_tyranny2_v1_csgo2.cfg
  stripper/ze_undertale_g_v1_3_fix1.cfg
  stripper/ze_watagi_tunnel_v2_1.cfg
Labels: Stripper

Update action versions
  .github/workflows/ci-master-main.yml
  .github/workflows/labeler.yml
  .github/workflows/stripper-case.yml
Labels: none
