Repository gflze/CSGO-ZE-Configs, changes with the labels that .github/labeler.yml gives for each.
All labels: BossHud, entWatch, MusicName, SaveLevel, Stripper, ZombieReloaded

Update memehell, crazykart, cyberderp strippers & add neochrome stripper
  stripper/ze_crazykart_v4.cfg
  stripper/ze_cyberderp_p3_kia.cfg
  stripper/ze_memehell_v1_1_go.cfg
  stripper/ze_neochrome_csgo3a.cfg
Labels: Stripper

missing bracket in ny_marathon stripper
  stripper/ze_ny_marathon_p2.cfg
Labels: Stripper

missing bracket in ny_marathon stripper (#332)
  stripper/ze_ny_marathon_p2.cfg
Labels: Stripper

Update FTP-Deploy-Action
  .github/workflows/ci-master-main.yml
  .github/workflows/ci-master-test.yml
Labels: none

Use secure ftp for new main server
  .github/workflows/ci-master-main.yml
Labels: none

Revert "Use secure ftp for new main server"
  .github/workflows/ci-master-main.yml
Labels: none

doom3 updates
  stripper/ze_doom3_v2.cfg
  vscripts/boss_move_tar.nut
Labels: Stripper

typo
  stripper/ze_doom3_v2.cfg
Labels: Stripper

Collective map test cfgs
  bosshud/ze_collective_v1_6.txt
  entwatch/ze_collective_v1_6.cfg
  zombiereloaded/ze_collective_v1_6.cfg
Labels: BossHud, entWatch, ZombieReloaded

Readd cfg that shouldn't have been deleted yet + force resync
  entwatch/ze_collective_v1_5.cfg
Labels: entWatch

Remove the need for third-party action
  .github/workflows/ci-master-main.yml
Labels: none

Uncomment rest of the file
  .github/workflows/ci-master-main.yml
Labels: none

Update & add file test
  musicname/TestFile.txt
  musicname/template.cfg
Labels: MusicName

Revert "Update & add file test"
  musicname/TestFile.txt
  musicname/template.cfg
Labels: MusicName

Use ssh key
  .github/workflows/ci-master-main.yml
Labels: none

Update template.cfg
  musicname/template.cfg
Labels: MusicName

Revert "Update template.cfg"
  musicname/template.cfg
Labels: MusicName

Update collective
  bosshud/ze_collective_v1_5.txt
  entwatch/ze_collective_v1_5.cfg
  stripper/ze_collective_v1_6.cfg
  zombiereloaded/ze_collective_v1_5.cfg
Labels: BossHud, entWatch, Stripper, ZombieReloaded

Fixes for invalid configs
  entwatch/ze_castlevania_p1_7.cfg
  entwatch/ze_cyberderp_p3_kia.cfg
  entwatch/ze_infested-industry_p2.cfg
  entwatch/ze_kraznov_poopata_p2.cfg
  entwatch/ze_paranoid_rezurrection_csgo1.cfg
Labels: entWatch

Fixes for invalid configs (#334)
  entwatch/ze_castlevania_p1_7.cfg
  entwatch/ze_cyberderp_p3_kia.cfg
  entwatch/ze_infested-industry_p2.cfg
  entwatch/ze_kraznov_poopata_p2.cfg
  entwatch/ze_paranoid_rezurrection_csgo1.cfg
Labels: entWatch

Changed how tp works and new additions
  stripper/ze_doom3_v2.cfg
Labels: Stripper

Changed loop to a timer
  stripper/ze_doom3_v2.cfg
Labels: Stripper

Remove model
  stripper/ze_doom3_v2.cfg
Labels: Stripper

Fixed key 21 in ze_castlevania_p1_7.cfg
  entwatch/ze_castlevania_p1_7.cfg
Labels: entWatch

Fixed key 21 in ze_castlevania_p1_7.cfg (#335)
  entwatch/ze_castlevania_p1_7.cfg
Labels: entWatch

Start syncing to new test server
  .github/workflows/ci-master-main.yml
  .github/workflows/ci-master-test.yml
Labels: none

Fix usernames
  .github/workflows/ci-master-main.yml
  .github/workflows/ci-master-test.yml
Labels: none

Hopefully last doom3 update (#333)
  stripper/ze_doom3_v2.cfg
  vscripts/boss_move_tar.nut
Labels: Stripper

Map test cfgs
  bosshud/ze_laserheaven_csgo2.txt
  entwatch/ze_last_man_standing_p2.cfg
  musicname/ze_last_man_standing_p2.cfg
Labels: BossHud, entWatch, MusicName

i forgor
  bspconvar_whitelist/bspconvar_custom_whitelist.txt
Labels: none

Update LMS & add light_escape stripper
  bspconvar_whitelist/bspconvar_custom_whitelist.txt
  entwatch/ze_last_man_standing_h2.cfg
  musicname/ze_last_man_standing_h2.cfg
  stripper/ze_last_man_standing_h2.cfg
  stripper/ze_last_man_standing_p2.cfg
  stripper/ze_light_escape_tb3.cfg
  vscripts/last_man_standing_patched.nut
Labels: entWatch, MusicName, Stripper

Remove bad bracket in icecap stripper
  stripper/ze_icecap_escape_v5_p.cfg
Labels: Stripper

Fix more stripper cfg formatting errors caught by new stripper plugin
  stripper/dz_sirocco.cfg
  stripper/ze_eden_a3.cfg
  stripper/ze_light_v7_csgo_tk13_v5_2fix.cfg
  stripper/ze_lotr_minas_tirith_p5.cfg
  stripper/ze_oblivion_castle_v6.cfg
  stripper/ze_otakuroom_v5_6f3.cfg
  stripper/ze_pkmn_adventure_v9_3.cfg
  stripper/ze_stalker_ultimate_v4_9.cfg
  stripper/ze_zk_mall_of_zombies_p2.cfg
Labels: Stripper

Update stripper syncing directory for new stripper plugin
  .github/workflows/ci-master-main.yml
  .github/workflows/ci-master-test.yml
Labels: none

Map test cfg
  stripper/ze_supershitshow_a2.cfg
Labels: Stripper

Minor stripper tweaks
  stripper/ze_doom3_v2.cfg
  stripper/ze_supershitshow_a2.cfg
Labels: Stripper

Fix LMS stripper
  stripper/ze_last_man_standing_p2.cfg
Labels: Stripper

Update necromanteion, onahole, santa & supershitshow strippers
  stripper/ze_necromanteion_v3_1.cfg
  stripper/ze_onahole_v3_3_3.cfg
  stripper/ze_santassination_v3.cfg
  stripper/ze_supershitshow_a2.cfg
Labels: Stripper

Remove unnecessary change
  stripper/ze_supershitshow_a2.cfg
Labels: Stripper

squid_game buyzone fix & start using improved TestActivator crash fix
  stripper/ze_a_e_s_t_h_e_t_i_c_v1_1.cfg
  stripper/ze_fapescape_rote_v1_3.cfg
  stripper/ze_squid_game_v1.cfg
Labels: Stripper

.github/labeler.yml:

BossHud:
- bosshud/*

entWatch:
- entwatch/*

MusicName:
- musicname/*

SaveLevel:
- savelevel/*

Stripper:
- stripper/*

ZombieReloaded:
- zombiereloaded/*
