Repository gflze/CSGO-ZE-Configs, changes with the labels that .github/labeler.yml gives for each.
All labels: BossHud, entWatch, MusicName, SaveLevel, Stripper, ZombieReloaded

Some fixes to issues discovered post maptest
  stripper/ze_forhidden_slicoo_v5.cfg
Labels: Stripper

Add golubenkaya meow bosshp
  bosshud/ze_golubenkaya_meow_v1_2.txt
Labels: BossHud

Formatting
  stripper/ze_ffxii_westersand_v8zeta1k.cfg
Labels: Stripper

Create message_eng_fix.nut
  vscripts/message_eng_fix.nut
Labels: none

Update ze_border_b2_fix.cfg
  stripper/ze_border_b2_fix.cfg
Labels: Stripper

Update message_eng_fix.nut
  vscripts/message_eng_fix.nut
Labels: none

Create ze_lotr_minas_tirith_p5.txt
  bosshud/ze_lotr_minas_tirith_p5.txt
Labels: BossHud

Delete ze_m0w0m_new_k2.txt
  bosshud/ze_m0w0m_new_k2.txt
Labels: BossHud

Delete ze_m0w0m_new_k2.cfg
  entwatch/ze_m0w0m_new_k2.cfg
Labels: entWatch

Fix realm entwatch color again
  entwatch/ze_realm_f3.cfg
Labels: entWatch

Add zertinan stripper
  stripper/ze_zertinan_v1_4.cfg
Labels: Stripper

Fix chaos summon on westersand v8
  stripper/ze_ffxii_westersand_v8zeta1k.cfg
Labels: Stripper

Add undead shrine stripper
  stripper/ze_undead_shrine_b1_2.cfg
Labels: Stripper

Add aware stripper
  stripper/ze_aware_v1_2a.cfg
Labels: Stripper

Fix neochrome heal spawning in the wall
  stripper/ze_neochrome_csgo3a.cfg
Labels: Stripper

Fix retro cow bhud
  bosshud/ze_retro_cow_v1.txt
Labels: BossHud

Update ze_last_man_standing_p3.cfg
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

Remove duplicates
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

British requested changes
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

Fix zertinan fire/ice entwatch bug
  entwatch/ze_zertinan_v1_4.cfg
  stripper/ze_zertinan_v1_4.cfg
Labels: entWatch, Stripper

Update ze_border_b2_fix.cfg
  stripper/ze_border_b2_fix.cfg
Labels: Stripper

Delete changes, requested by Vauff
  bosshud/ze_lotr_minas_tirith_p5.txt
Labels: BossHud

Update ze_border_b2_fix.cfg
  stripper/ze_border_b2_fix.cfg
Labels: Stripper

Update ze_Kitchen_v2.cfg
  entwatch/ze_Kitchen_v2.cfg
Labels: entWatch

Rework forhidden slicoo stripper
  stripper/ze_forhidden_slicoo_v5.cfg
Labels: Stripper

Create ze_Diverted_Destiny_c2.txt
  bosshud/ze_Diverted_Destiny_c2.txt
Labels: BossHud

Create ze_Diverted_Destiny_c2.cfg
  entwatch/ze_Diverted_Destiny_c2.cfg
Labels: entWatch

Update ze_Diverted_Destiny_c2.cfg
  entwatch/ze_Diverted_Destiny_c2.cfg
Labels: entWatch

Add/Update configs (#473)
  bosshud/ze_Diverted_Destiny_c2.txt
  entwatch/ze_Diverted_Destiny_c2.cfg
  entwatch/ze_Kitchen_v2.cfg
  stripper/ze_border_b2_fix.cfg
  vscripts/message_eng_fix.nut
Labels: BossHud, entWatch, Stripper

Various changes and fixes to maps (#474)
  bosshud/ze_golubenkaya_meow_v1_2.txt
  bosshud/ze_retro_cow_v1.txt
  entwatch/ze_realm_f3.cfg
  entwatch/ze_zertinan_v1_4.cfg
  stripper/ze_aware_v1_2a.cfg
  stripper/ze_ffxii_westersand_v8zeta1k.cfg
  stripper/ze_forhidden_slicoo_v5.cfg
  stripper/ze_neochrome_csgo3a.cfg
  stripper/ze_undead_shrine_b1_2.cfg
  stripper/ze_zertinan_v1_4.cfg
Labels: BossHud, entWatch, Stripper

minas changes
  stripper/ze_lotr_minas_tirith_p5.cfg
Labels: Stripper

typo
  stripper/ze_lotr_minas_tirith_p5.cfg
Labels: Stripper

Update jump_king
  entwatch/ze_jump_king_p2.cfg
  stripper/ze_jump_king_p2.cfg
  zombiereloaded/ze_jump_king_p2.cfg
Labels: entWatch, Stripper, ZombieReloaded

Increase balrog hp on minas (#476)
  stripper/ze_lotr_minas_tirith_p5.cfg
Labels: Stripper

Create ze_m0w0m_csgo1.cfg
  musicname/ze_m0w0m_csgo1.cfg
Labels: MusicName

Fix visualizer boost pads being inconsistent
  stripper/ze_visualizer_v2_1.cfg
Labels: Stripper

Create ze_v0u0v_csgo1.cfg
  musicname/ze_v0u0v_csgo1.cfg
Labels: MusicName

Fix missing " in forhidden slicoo stripper
  stripper/ze_forhidden_slicoo_v5.cfg
Labels: Stripper

Update ze_ffxii_feywood_b6_3k.cfg
  stripper/ze_ffxii_feywood_b6_3k.cfg
Labels: Stripper

Rework runscriptcode to account for existing velocity
  stripper/ze_visualizer_v2_1.cfg
Labels: Stripper

.github/labeler.yml:

BossHud:
- bosshud/*

entWatch:
- entwatch/*

MusicName:
- musicname/*

SaveLevel:
- savelevel/*

Stripper:
- stripper/*

ZombieReloaded:
- zombiereloaded/*
