Repository gflze/CSGO-ZE-Configs, changes with the labels that .github/labeler.yml gives for each.
All labels: BossHud, entWatch, MusicName, SaveLevel, Stripper, ZombieReloaded

Modified Multiple Configs (#317)
  entwatch/ze_COASTALCITY_b9.cfg
  entwatch/ze_antartika_p3.cfg
  entwatch/ze_aot_trost_v6.cfg
  entwatch/ze_breezy_v6.cfg
  entwatch/ze_forhidden_slicoo_b10_5.cfg
  entwatch/ze_forhidden_slicoo_v5.cfg
  entwatch/ze_mura_ayanon_a2.cfg
  musicname/ze_2021_xmas_world.cfg
  musicname/ze_8bit_csgo3.cfg
  musicname/ze_abandoned_project_v1_2_csgo.cfg
  musicname/ze_biohazard2_sewer_004_p8.cfg
  musicname/ze_biohazard2_sewer_j2_004.cfg
  stripper/ze_paranoid_rezurrection_csgo1.cfg
Labels: entWatch, MusicName, Stripper

Various updates to doom3
  entwatch/ze_doom3_v2.cfg
  stripper/ze_doom3_v2.cfg
Labels: entWatch, Stripper

Update ze_stilshrine_of_miriam_v7_2fix.txt
  bosshud/ze_stilshrine_of_miriam_v7_2fix.txt
Labels: BossHud

Update ze_stilshrine_of_miriam_v7_2fix_override.cfg
  entwatch/ze_stilshrine_of_miriam_v7_2fix_override.cfg
Labels: entWatch

Zm item nerf and stage 3 boss fix. Removed stage 3 lag fix.
  stripper/ze_doom3_v2.cfg
Labels: Stripper

one more tp avoidance
  stripper/ze_doom3_v2.cfg
Labels: Stripper

Accidently readded lag fix.
  stripper/ze_doom3_v2.cfg
Labels: Stripper

Altered naming convention
  stripper/ze_doom3_v2.cfg
Labels: Stripper

Update ze_stilshrine_of_miriam_v7_2fix_override.cfg
  entwatch/ze_stilshrine_of_miriam_v7_2fix_override.cfg
Labels: entWatch

Updated ancient wrath stripper
  stripper/ze_ancient_wrath_r4.cfg
Labels: Stripper

Updated ancient wrath stripper (#319)
  stripper/ze_ancient_wrath_r4.cfg
Labels: Stripper

minigun changes
  entwatch/ze_doom3_v2.cfg
  stripper/ze_doom3_v2.cfg
Labels: entWatch, Stripper

Requested changes
  stripper/ze_doom3_v2.cfg
Labels: Stripper

Change added zone names to match existing tps
  stripper/ze_doom3_v2.cfg
Labels: Stripper

Remove unnecessary inputs
  stripper/ze_doom3_v2.cfg
Labels: Stripper

Various updates to doom3 (#318)
  entwatch/ze_doom3_v2.cfg
  stripper/ze_doom3_v2.cfg
Labels: entWatch, Stripper

Prevent players from skipping ETA stage3 boss
  stripper/ze_escapetheworld_a33.cfg
Labels: Stripper

Switch to func_wall_toggle
  stripper/ze_escapetheworld_a33.cfg
Labels: Stripper

Prevent players from skipping ETW stage3 boss (#321)
  stripper/ze_escapetheworld_a33.cfg
Labels: Stripper

Update ze_stilshrine_of_miriam_v7_2fix_override.cfg
  entwatch/ze_stilshrine_of_miriam_v7_2fix_override.cfg
Labels: entWatch

doom3 stripper updates
  stripper/ze_doom3_v2.cfg
Labels: Stripper

Fixed an old comment
  stripper/ze_doom3_v2.cfg
Labels: Stripper

Update stilshrine configs (#320)
  bosshud/ze_stilshrine_of_miriam_v7_2fix.txt
  entwatch/ze_stilshrine_of_miriam_v7_2fix_override.cfg
Labels: BossHud, entWatch

Add missing target
  stripper/ze_doom3_v2.cfg
Labels: Stripper

Change heal to a trigger_hurt; makes it less awkward
  stripper/ze_doom3_v2.cfg
Labels: Stripper

Requested changes
  entwatch/ze_doom3_v2.cfg
  stripper/ze_doom3_v2.cfg
Labels: entWatch, Stripper

doom3 stripper updates (#322)
  entwatch/ze_doom3_v2.cfg
  stripper/ze_doom3_v2.cfg
Labels: entWatch, Stripper

Fix doom3: small gap where items wouldnt work
  stripper/ze_doom3_v2.cfg
Labels: Stripper

Fix doom3: small gap where items wouldnt work (#323)
  stripper/ze_doom3_v2.cfg
Labels: Stripper

Update some maps
  bosshud/ze_random_escape_gp5.txt
  entwatch/ze_monolith_csgo.cfg
  stripper/ze_monolith_csgo.cfg
  stripper/ze_random_escape_gp5.cfg
  stripper/ze_rocket_escape_gp1.cfg
Labels: BossHud, entWatch, Stripper

Sync MusicName files
  .github/workflows/ci-master-main.yml
  .github/workflows/ci-master-test.yml
Labels: none

Update folder...
  .github/workflows/ci-master-test.yml
Labels: none

Update README.md
  README.md
Labels: none

final doom3 changes
  stripper/ze_doom3_v2.cfg
Labels: Stripper

Add buttonid to mini
  entwatch/ze_doom3_v2.cfg
Labels: entWatch

Update: doom3 (#324)
  entwatch/ze_doom3_v2.cfg
  stripper/ze_doom3_v2.cfg
Labels: entWatch, Stripper

fix
  stripper/ze_doom3_v2.cfg
Labels: Stripper

Modified stripper/ze_zk_mall_of_zombies_p2.cfg - Fix chat timing for final elevator
  stripper/ze_zk_mall_of_zombies_p2.cfg
Labels: Stripper

Modified entwatch/ze_Uchiha_Legacy_cm2_fix.cfg - Add colors to entwatch (meant to do this in last PR, but accidentally removed it when I undid the english names commit)
  entwatch/ze_Uchiha_Legacy_cm2_fix.cfg
Labels: entWatch

Mostly Revert "Simplify wanderers v2/4 entwatch" as discussed in discord This mostly reverts commit 57dc47110d4099393a12c27184d6f2aae3ede66f in PR #112
  entwatch/ze_ffxiv_wanderers_palace_v2_va2.cfg
  entwatch/ze_ffxiv_wanderers_palace_v4_va2.cfg
Labels: entWatch

.github/labeler.yml:

BossHud:
- bosshud/*

entWatch:
- entwatch/*

MusicName:
- musicname/*

SaveLevel:
- savelevel/*

Stripper:
- stripper/*

ZombieReloaded:
- zombiereloaded/*
