Repository gflze/CSGO-ZE-Configs, changes with the labels that .github/labeler.yml gives for each.
All labels: BossHud, entWatch, MusicName, SaveLevel, Stripper, ZombieReloaded

Modify Multiple Configs (#360)
  stripper/ze_bioshock_v6_2_csgo7.cfg
  stripper/ze_death_star_escape_v4_3_p2.cfg
  stripper/ze_games_v2_1.cfg
  stripper/ze_harry_potter_v2_1_csgo.cfg
  stripper/ze_surf_danger_p2.cfg
Labels: Stripper

Enable StackDamage fix on Codex
  zombiereloaded/ze_project_codex_v1_2.cfg
Labels: ZombieReloaded

Remove MultBoss config option
  README.md
  bosshud/template.txt
  bosshud/ze_Ancient_wrath_r4.txt
  bosshud/ze_FFXIV_Wanderers_Palace_v6_2z1.txt
  bosshud/ze_MindTree_v1_6.txt
  bosshud/ze_Serpentis_Temple_p2.txt
  bosshud/ze_ShroomForest3_p.txt
  bosshud/ze_TESV_Skyrim_kr2.txt
  bosshud/ze_UT2004_Convoy_r5.txt
  bosshud/ze_alien_vs_predator_v6go_fix.txt
  bosshud/ze_asiangirl_mm11el4nu4cp2io1yv7_r_v6_3_1.txt
  bosshud/ze_ffvii_cosmo_canyon_v5k_fix.txt
  bosshud/ze_ffvii_temple_ancient_v4_3.txt
  bosshud/ze_ffxii_ridorana_cataract_t5_3_w6.txt
  bosshud/ze_ffxii_westersand_v8zeta1_b5k.txt
  bosshud/ze_hsc_a4_q3.txt
  bosshud/ze_mist_q3.txt
  bosshud/ze_negative_legacy_va2.txt
  bosshud/ze_nomada_h3.txt
  bosshud/ze_noob_too_easy_v3_2fix.txt
  bosshud/ze_oot_shadowtemple_b10.txt
  bosshud/ze_palace_of_minolila_v1.txt
  bosshud/ze_pkmn_adventure_v9_3.txt
  bosshud/ze_ruin_of_black_stone_v2.txt
  bosshud/ze_stalkermonolit_v8gofix1.txt
  bosshud/ze_temple_of_the_demon_god_v2.txt
  bosshud/ze_tesv_skyrim_v5_6.txt
  bosshud/ze_tilex_ultimate_v2_13_gf1_5.txt
  bosshud/ze_valkvang_v1_2.txt
Labels: BossHud

Enable StackDamage fix on Codex (#361)
  zombiereloaded/ze_project_codex_v1_2.cfg
Labels: ZombieReloaded

Update mako_v5 & pidaras strippers
  stripper/ze_ffvii_mako_reactor_v5_3_kia4.cfg
  stripper/ze_pidaras_va2.cfg
Labels: Stripper

Update mako_v5 stripper
  stripper/ze_ffvii_mako_reactor_v5_3_kia4.cfg
Labels: Stripper

Update mako_v5 stripper again
  stripper/ze_ffvii_mako_reactor_v5_3_kia4.cfg
Labels: Stripper

Add LMS Bosshud Config
  bosshud/ze_last_man_standing_p3.txt
Labels: BossHud

Map test cfgs
  entwatch/ze_meatropolis_p3.cfg
  musicname/ze_cruelty_squad_v1_7.cfg
  musicname/ze_meatropolis_p3.cfg
  stripper/ze_cruelty_squad_v1_7.cfg
  vscripts/gorbinos_magic_v2.nut
  vscripts/warmup_v2.nut
Labels: entWatch, MusicName, Stripper

Implement many fixes to the Paranoid Rezurrection.
  stripper/ze_paranoid_rezurrection_csgo1.cfg
Labels: Stripper

Small change
  stripper/ze_paranoid_rezurrection_csgo1.cfg
Labels: Stripper

Update meatropolis
  entwatch/ze_meatropolis_p2.cfg
  entwatch/ze_meatropolis_p3.cfg
  musicname/ze_meatropolis_p2.cfg
  stripper/ze_meatropolis_p2.cfg
  stripper/ze_meatropolis_p3.cfg
Labels: entWatch, MusicName, Stripper

Add LMS Bosshud Config (#362)
  bosshud/ze_last_man_standing_p3.txt
Labels: BossHud

Implement requested changes
  stripper/ze_paranoid_rezurrection_csgo1.cfg
Labels: Stripper

Update meatropolis & map test cfgs
  bosshud/ze_deadcore_s7f2.txt
  entwatch/ze_deadcore_s7f2.cfg
  musicname/ze_deadcore_s7f2.cfg
  stripper/ze_deadcore_s7f2.cfg
  stripper/ze_meatropolis_p3.cfg
Labels: BossHud, entWatch, MusicName, Stripper

hotfix
  vscripts/warmup_v2.nut
Labels: none

insane stage musicname
  musicname/ze_deadcore_s7f2.cfg
Labels: MusicName

Update ze_lotr_mount_doom_p3.cfg
  stripper/ze_lotr_mount_doom_p3.cfg
Labels: Stripper

ze_paycheck_neox stripper
  stripper/ze_paycheck_neox.cfg
Labels: Stripper

deadcore insane stage musicname (#364)
  musicname/ze_deadcore_s7f2.cfg
Labels: MusicName

Update ze_lotr_mount_doom_p3.cfg (#365)
  stripper/ze_lotr_mount_doom_p3.cfg
Labels: Stripper

ze_paycheck_neox stripper (#366)
  stripper/ze_paycheck_neox.cfg
Labels: Stripper

It's ESC time.
  stripper/ze_paranoid_rezurrection_csgo1.cfg
Labels: Stripper

Update meatropolis EW & map test cfgs
  bosshud/ze_pkmn_hgss_a01.cfg
  bosshud/ze_rawnscape_b2_nc3.txt
  entwatch/ze_meatropolis_p3.cfg
  entwatch/ze_pkmn_hgss_a01.cfg
  entwatch/ze_rawnscape_b2_nc3.cfg
  stripper/ze_pkmn_adventure_v7_2r.cfg
Labels: BossHud, entWatch, Stripper

Implement many fixes to the Paranoid Rezurrection. (#363)
  stripper/ze_paranoid_rezurrection_csgo1.cfg
Labels: Stripper

hotfix
  bosshud/ze_pkmn_hgss_a01.txt
Labels: BossHud

Even more Paranoid fixes
  stripper/ze_paranoid_rezurrection_csgo1.cfg
Labels: Stripper

Fix map giving players the "player" targetname.
  stripper/ze_paranoid_rezurrection_csgo1.cfg
Labels: Stripper

Minor fix
  stripper/ze_paranoid_rezurrection_csgo1.cfg
Labels: Stripper

Even more Paranoid fixes (#367)
  stripper/ze_paranoid_rezurrection_csgo1.cfg
Labels: Stripper

Map test cfgs
  bosshud/ze_Temple_Raider_kr1.txt
  entwatch/ze_LOTR_Mines_of_Moria_v6_3fix_kr1.cfg
  entwatch/ze_Temple_Raider_kr1.cfg
  entwatch/ze_meatropolis_p4.cfg
  entwatch/ze_surf_vortex_v2_7.cfg
  musicname/ze_LOTR_Mines_of_Moria_v6_3fix_kr1.cfg
  musicname/ze_meatropolis_p4.cfg
  musicname/ze_surf_vortex_v2_7.cfg
  stripper/ze_lotr_mines_of_moria_v6_3fix_kr1.cfg
  stripper/ze_surf_vortex_v2_7.cfg
  stripper/ze_temple_raider_b4_ps6.cfg
Labels: BossHud, entWatch, MusicName, Stripper

Update meatropolis
  entwatch/ze_meatropolis_p3.cfg
  musicname/ze_meatropolis_p3.cfg
  stripper/ze_meatropolis_p3.cfg
Labels: entWatch, MusicName, Stripper

Add meatropolis & temple_raider strippers
  stripper/ze_meatropolis_p4.cfg
  stripper/ze_temple_raider_kr1.cfg
Labels: Stripper

Add kitchen BossHud config
  bosshud/ze_kitchen_v2.txt
Labels: BossHud

Add kitchen BossHud config (#368)
  bosshud/ze_kitchen_v2.txt
Labels: BossHud

Map test cfgs
  bosshud/ze_deadcore_k1.txt
  bosshud/ze_huggy_wuggy_chap4_halloween_rus.txt
  entwatch/ze_deadcore_k1.cfg
  entwatch/ze_huggy_wuggy_chap4_halloween_rus.cfg
  musicname/ze_deadcore_k1.cfg
  stripper/ze_deadcore_k1.cfg
  stripper/ze_deadcore_s7f2.cfg
Labels: BossHud, entWatch, MusicName, Stripper

Update roof_adventure stripper
  stripper/ze_roof_adventure_v8f.cfg
Labels: Stripper

Update dystopia stripper
  stripper/ze_dystopia_a4.cfg
Labels: Stripper

Map test cfgs
  bosshud/ze_deadcore_k2.txt
  entwatch/ze_deadcore_k2.cfg
  musicname/ze_deadcore_k2.cfg
  stripper/ze_deadcore_k2.cfg
Labels: BossHud, entWatch, MusicName, Stripper

Update ze_meatropolis_p4.cfg
  entwatch/ze_meatropolis_p4.cfg
Labels: entWatch

.github/labeler.yml:

BossHud:
- bosshud/*

entWatch:
- entwatch/*

MusicName:
- musicname/*

SaveLevel:
- savelevel/*

Stripper:
- stripper/*

ZombieReloaded:
- zombiereloaded/*
