Repository gflze/CSGO-ZE-Configs, changes with the labels that .github/labeler.yml gives for each.
All labels: BossHud, entWatch, MusicName, SaveLevel, Stripper, ZombieReloaded

.github/labeler.yml:

BossHud:
- bosshud/*

entWatch:
- entwatch/*

MusicName:
- musicname/*

SaveLevel:
- savelevel/*

Stripper:
- stripper/*

ZombieReloaded:
- zombiereloaded/*

Fix visualizer boost pads being inconsistent (+Fix forhidden stripper) (#477)
  stripper/ze_forhidden_slicoo_v5.cfg
  stripper/ze_visualizer_v2_1.cfg
Labels: Stripper

Update ze_v0u0v_csgo1.cfg
  musicname/ze_v0u0v_csgo1.cfg
Labels: MusicName

Update ze_ffxii_feywood_b6_3k.cfg
  stripper/ze_ffxii_feywood_b6_3k.cfg
Labels: Stripper

Update mist stripper
  stripper/ze_mist_q3.cfg
Labels: Stripper

Update Feywood stripper and add m0w0m and v0u0v musicnames (#478)
  musicname/ze_m0w0m_csgo1.cfg
  musicname/ze_v0u0v_csgo1.cfg
  stripper/ze_ffxii_feywood_b6_3k.cfg
Labels: MusicName, Stripper

Fix LMS stripper syntax error
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

Create ze_dodge_or_die_k.txt
  bosshud/ze_dodge_or_die_k.txt
Labels: BossHud

Convert dreamin level system to perm ent
  stripper/ze_dreamin_v3_3.cfg
Labels: Stripper

Update mist config date
  stripper/ze_mist_q3.cfg
Labels: Stripper

Update Mist Stripper from Soft Serve
  stripper/ze_mist_q3.cfg
Labels: Stripper

Additional change from Soft Serve
  stripper/ze_mist_q3.cfg
Labels: Stripper

Update dreamin regex
  stripper/ze_dreamin_v3_3.cfg
Labels: Stripper

Update dreamin regex
  stripper/ze_dreamin_v3_3.cfg
Labels: Stripper

Update dreamin & mist stripper (#479)
  stripper/ze_dreamin_v3_3.cfg
  stripper/ze_mist_q3.cfg
Labels: Stripper

Update ze_golubenkaya_meow_v1_2.txt
  bosshud/ze_golubenkaya_meow_v1_2.txt
Labels: BossHud

Create ze_backrooms_deathbed_t1f.txt
  bosshud/ze_backrooms_deathbed_t1f.txt
Labels: BossHud

Create ze_backrooms_deathbed_t1f.cfg
  entwatch/ze_backrooms_deathbed_t1f.cfg
Labels: entWatch

Fix missing "
  stripper/ze_mist_q3.cfg
Labels: Stripper

Fix missing " (#481)
  stripper/ze_mist_q3.cfg
Labels: Stripper

Fix missing quote in border stripper
  stripper/ze_border_b2_fix.cfg
Labels: Stripper

Add/Update Configs (#480)
  bosshud/ze_backrooms_deathbed_t1f.txt
  bosshud/ze_dodge_or_die_k.txt
  bosshud/ze_golubenkaya_meow_v1_2.txt
  entwatch/ze_backrooms_deathbed_t1f.cfg
Labels: BossHud, entWatch

Update several maps
  entwatch/ze_surf_shonyudo_v5_2.cfg
  stripper/ze_aot_trost_v6.cfg
  stripper/ze_aot_trost_v8_3.cfg
  stripper/ze_escape_together_v1_xx.cfg
  stripper/ze_surf_shonyudo_v5_2.cfg
  stripper/ze_surf_shonyudo_v6_1_final_fix.cfg
  vscripts/aot_v8_patched.nut
  vscripts/ze_surf_shonyudo_v5_patched.nut
  zombiereloaded/ze_aot_trost_v6.cfg
Labels: entWatch, Stripper, ZombieReloaded

Update ze_aaa_grand_line_x.cfg
  stripper/ze_aaa_grand_line_x.cfg
Labels: Stripper

Update aaa_magic_fix.nut
  vscripts/aaa_magic_fix.nut
Labels: none

Update ze_aaa_grand_line_x.cfg
  stripper/ze_aaa_grand_line_x.cfg
Labels: Stripper

Update ze_l0v0l_v1_4_csgo2.cfg
  musicname/ze_l0v0l_v1_4_csgo2.cfg
Labels: MusicName

Fix item particles not appearing correctly after the round starts?
  stripper/ze_l0v0l_v1_4_csgo2.cfg
Labels: Stripper

Update message_eng_fix.nut
  vscripts/message_eng_fix.nut
Labels: none

grand line tweaks (#482)
  stripper/ze_aaa_grand_line_x.cfg
  vscripts/aaa_magic_fix.nut
Labels: Stripper

Whats with this bahamut_train entity and did it exist in the older version of v2?
  stripper/ze_ffxiv_wanderers_palace_v2_va2.cfg
Labels: Stripper

Update ze_ffxiv_coil_of_bahamut_v4_4.txt
  bosshud/ze_ffxiv_coil_of_bahamut_v4_4.txt
Labels: BossHud

Animu Entwatch
  entwatch/ze_animu_v2_final.cfg
Labels: entWatch

create shit map configs
  entwatch/ze_animu_v2_final.cfg
Labels: entWatch

Update ze_S_A_M_v1_7.cfg
  entwatch/ze_S_A_M_v1_7.cfg
Labels: entWatch

delete shit map entwatch
  entwatch/ze_animu_v2_final.cfg
Labels: entWatch

Upload LMS Vscript
  vscripts/lms1main1.nut
Labels: none

Add files via upload
  vscripts/lms1main1.nut
Labels: none

fail
  vscripts/lms1main1.nut
Labels: none

Last man fixing
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

Add iszaar lights
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper
