Repository gflze/CSGO-ZE-Configs, changes with the labels that .github/labeler.yml gives for each.
All labels: BossHud, entWatch, MusicName, SaveLevel, Stripper, ZombieReloaded

.github/labeler.yml:

BossHud:
- bosshud/*

entWatch:
- entwatch/*

MusicName:
- musicname/*

SaveLevel:
- savelevel/*

Stripper:
- stripper/*

ZombieReloaded:
- zombiereloaded/*

Fix script outputs
  stripper/ze_backrooms_deathbed_t1f.cfg
Labels: Stripper

Update teleport avoidance spot fix
  stripper/ze_backrooms_deathbed_t1f.cfg
Labels: Stripper

Rework injection exploit fix
  stripper/ze_palace_of_minolila_v1.cfg
Labels: Stripper

Fix typo
  stripper/ze_palace_of_minolila_v1.cfg
Labels: Stripper

Grand_line map test cfgs
  bosshud/ze_aaa_grand_line_x2.txt
  entwatch/ze_aaa_grand_line_x2.cfg
  musicname/ze_aaa_grand_line_x2.cfg
  stripper/ze_aaa_grand_line_x1.cfg
Labels: BossHud, entWatch, MusicName, Stripper

Maptest fixes (#508)
  entwatch/ze_aot_trost_v8_3.cfg
  entwatch/ze_backrooms_deathbed_t1f.cfg
  entwatch/ze_ffxiv_coil_of_bahamut_v4_4.cfg
  stripper/ze_backrooms_deathbed_t1f.cfg
  stripper/ze_fapescape_katrina_v1_7.cfg
  stripper/ze_palace_of_minolila_v1.cfg
  zombiereloaded/ze_backrooms_deathbed_t1f.cfg
  zombiereloaded/ze_retro_cow_v1_1.cfg
Labels: entWatch, Stripper, ZombieReloaded

Update maps
  bosshud/ze_retro_cow_v1.txt
  entwatch/ze_retro_cow_v1.cfg
  stripper/ze_fragment_ops_v2_7_fix.cfg
  stripper/ze_retro_cow_v1.cfg
Labels: BossHud, entWatch, Stripper

Fix ruin_of_black_stone out of map spot
  stripper/ze_ruin_of_black_stone_v2.cfg
Labels: Stripper

Update LMS stripper
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

Increase max barricade for castlevania entwatch
  entwatch/ze_castlevania_p1_7.cfg
Labels: entWatch

Additional LMS stripper fix
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

Map test cfg for surf_last_point
  stripper/ze_surf_last_point_v1_5.cfg
Labels: Stripper

Increase max barricade for castlevania entwatch (#510)
  entwatch/ze_castlevania_p1_7.cfg
Labels: entWatch

Update ze_surf_last_point_v1_5.cfg
  stripper/ze_surf_last_point_v1_5.cfg
Labels: Stripper

Map test cfg for surf_last_point (#511)
  stripper/ze_surf_last_point_v1_5.cfg
Labels: Stripper

Safe changes to LMS
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

Remove re-added removed changes
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

Apparently this works
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

Fixes
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

Safe changes to LMS (#512)
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

Revert "Safe changes to LMS (#512)"
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

Hichatu fixes
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

Extreme only
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

Formatting consistency
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

Formatting
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

Remaining formatting shit
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

Last Man Standing maptest fixes (#514)
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

Update and rename sisyphus_magic_v1.nut to sisyphus_magic_v2.nut
  vscripts/sisyphus_magic_v2.nut
Labels: none

Update ze_sisyphus_v1.cfg
  stripper/ze_sisyphus_v1.cfg
Labels: Stripper

Update ze_sisyphus_v1.cfg
  stripper/ze_sisyphus_v1.cfg
Labels: Stripper

Update ze_sisyphus_v1.cfg
  stripper/ze_sisyphus_v1.cfg
Labels: Stripper

sisyphus fix (#515)
  stripper/ze_sisyphus_v1.cfg
  vscripts/sisyphus_magic_v2.nut
Labels: Stripper

Update deadcore entwatch
  entwatch/ze_deadcore_k3.cfg
Labels: entWatch

Update deadcore entwatch (#516)
  entwatch/ze_deadcore_k3.cfg
Labels: entWatch

Update serious_sam map test cfgs
  bosshud/ze_serious_sam_tfe_v4_2.txt
  entwatch/ze_serious_sam_tfe_v4_2.cfg
  stripper/ze_serious_sam_tfe_v4_2.cfg
Labels: BossHud, entWatch, Stripper

Bump diverted destiny version
  bosshud/ze_Diverted_Destiny_c2.txt
  bosshud/ze_diverted_destiny_c2f2.txt
  entwatch/ze_Diverted_Destiny_c2.cfg
  entwatch/ze_diverted_destiny_c2f2.cfg
Labels: BossHud, entWatch

Update lost terminus configs
  bosshud/ze_lost_terminus_b10.txt
  entwatch/ze_lost_terminus_b10.cfg
  entwatch/ze_lost_terminus_b4f.cfg
  stripper/ze_lost_terminus_b10.cfg
Labels: BossHud, entWatch, Stripper

Surf gypt v2 entwatch
  entwatch/ze_surf_gypt_v2r1.cfg
Labels: entWatch

Update mt bur configs
  bosshud/ze_ffxii_mt_bur_omisace_v5_k3.txt
  entwatch/ze_ffxii_mt_bur_omisace_v5_k3.cfg
  musicname/ze_ffxii_mt_bur_omisace_v5_k3.cfg
Labels: BossHud, entWatch, MusicName

Fix errors
  bosshud/ze_lost_terminus_b10.txt
  entwatch/ze_lost_terminus_b10.cfg
  musicname/ze_ffxii_mt_bur_omisace_v5_k3.cfg
Labels: BossHud, entWatch, MusicName
