Repository gflze/CSGO-ZE-Configs, changes with the labels that .github/labeler.yml gives for each.
All labels: BossHud, entWatch, MusicName, SaveLevel, Stripper, ZombieReloaded

Add several maptest configs (#392)
  bosshud/ze_2049_v1_1.txt
  bosshud/ze_arcana_heart_v1.txt
  bosshud/ze_aurora_tower_v6_6.txt
  bosshud/ze_djinn_go1.txt
  bosshud/ze_endless_dream_v1_2.txt
  bosshud/ze_fapescape_katrina_v1_6.txt
  bosshud/ze_ffxiv_coil_of_bahamut_v4_4.txt
  bosshud/ze_fragment_ops_v2_7_fix.txt
  bosshud/ze_mgden_y3_fix.txt
  bosshud/ze_rien_z1f10.txt
  bosshud/ze_skygarden_v2_3.txt
  bosshud/ze_visualizer_v2_1.txt
  bosshud/ze_zertinan_v1_4.txt
  entwatch/ze_2049_v1_1.cfg
  entwatch/ze_arcana_heart_v1.cfg
  entwatch/ze_aurora_tower_v6_6.cfg
  entwatch/ze_djinn_go1.cfg
  entwatch/ze_endless_dream_v1_2.cfg
  entwatch/ze_fapescape_katrina_v1_6.cfg
  entwatch/ze_ffxiv_coil_of_bahamut_v4_4.cfg
  entwatch/ze_fragment_ops_v2_7_fix.cfg
  entwatch/ze_rien_z1f10.cfg
  entwatch/ze_skygarden_v2_3.cfg
  entwatch/ze_visualizer_v2_1.cfg
  entwatch/ze_zertinan_v1_4.cfg
  musicname/ze_aurora_tower_v6_6.cfg
  musicname/ze_djinn_go1.cfg
  musicname/ze_skygarden_v2_3.cfg
  musicname/ze_visualizer_v2_1.cfg
  stripper/ze_aurora_tower_v6_6.cfg
  stripper/ze_endless_dream_v1_2.cfg
  stripper/ze_fapescape_katrina_v1_6.cfg
  stripper/ze_ffxiv_coil_of_bahamut_v4_4.cfg
  stripper/ze_rien_z1f10.cfg
  stripper/ze_skygarden_v2_3.cfg
  stripper/ze_visualizer_v2_1.cfg
Labels: BossHud, entWatch, MusicName, Stripper

Update water_temple map test cfgs
  bosshud/ze_water_temple_v1_4.txt
  musicname/ze_water_temple_v1_4.cfg
  stripper/ze_water_temple_v1_4.cfg
Labels: BossHud, MusicName, Stripper

Create ze_lila_panic_escape_tr2.cfg
  musicname/ze_lila_panic_escape_tr2.cfg
Labels: MusicName

Create ze_lila_panic_escape_tr2.cfg (#395)
  musicname/ze_lila_panic_escape_tr2.cfg
Labels: MusicName

Add surf happy 2 newbie village stripper
  stripper/ze_surf_happy_2_newbie_village_v3.cfg
  vscripts/happy_surf_patched.nut
Labels: Stripper

Add sit caelum configs
  bosshud/ze_sit_caelum_paradisus_b7_hdr.txt
  entwatch/ze_sit_caelum_paradisus_b7_hdr_override.cfg
Labels: BossHud, entWatch

Add no name v2 configs
  bosshud/ze_no_name_v2_3.txt
  entwatch/ze_no_name_v2_3.cfg
Labels: BossHud, entWatch

Add realm configs
  bosshud/ze_realm_f3.txt
  entwatch/ze_realm_f3.cfg
Labels: BossHud, entWatch

Add aware bosshud config
  bosshud/ze_aware_v1_2a.txt
Labels: BossHud

Add binary bosshud config
  bosshud/ze_binary_z4_1.txt
Labels: BossHud

music name
  musicname/ze_2049_v1_1.txt
  musicname/ze_arcana_heart_v1.txt
  musicname/ze_zertinan_v1_4.txt
Labels: MusicName

Update ze_zertinan_v1_4.txt
  musicname/ze_zertinan_v1_4.txt
Labels: MusicName

Fix {yellow} being invalid
  entwatch/ze_aurora_tower_v6_6.cfg
Labels: entWatch

Fix {yellow} being invalid
  entwatch/ze_realm_f3.cfg
Labels: entWatch

Maptest Configs (#397)
  bosshud/ze_aware_v1_2a.txt
  bosshud/ze_binary_z4_1.txt
  bosshud/ze_no_name_v2_3.txt
  bosshud/ze_realm_f3.txt
  bosshud/ze_sit_caelum_paradisus_b7_hdr.txt
  entwatch/ze_aurora_tower_v6_6.cfg
  entwatch/ze_no_name_v2_3.cfg
  entwatch/ze_realm_f3.cfg
  entwatch/ze_sit_caelum_paradisus_b7_hdr_override.cfg
  stripper/ze_surf_happy_2_newbie_village_v3.cfg
  vscripts/happy_surf_patched.nut
Labels: BossHud, entWatch, Stripper

Update cosmo_v6
  stripper/ze_ffvii_cosmo_canyon_v6test5.cfg
  vscripts/cosmov6/boss/reno/reno.nut
  vscripts/cosmov6/cosmov6.nut
  vscripts/cosmov6/item/heal.nut
  vscripts/cosmov6/item/yuffie.nut
  vscripts/cosmov6/randomstuff/randomspawner.nut
  vscripts/cosmov6/randomstuff/waffelcar.nut
Labels: Stripper

use nutless script to fix kitchen game_text
  stripper/ze_kitchen_v2.cfg
Labels: Stripper

更新 ze_2049_v1_1.txt
  musicname/ze_2049_v1_1.txt
Labels: MusicName

txt to cfg
  musicname/ze_2049_v1_1.cfg
  musicname/ze_arcana_heart_v1.cfg
  musicname/ze_zertinan_v1_4.cfg
Labels: MusicName

Patch 2 (#398)
  musicname/ze_2049_v1_1.cfg
  musicname/ze_arcana_heart_v1.cfg
  musicname/ze_zertinan_v1_4.cfg
Labels: MusicName

Fix assigning variable bug
  stripper/ze_kitchen_v2.cfg
Labels: Stripper

Add files via upload
  musicname/ze_endless_dream_v1_2.cfg
  musicname/ze_little_trip_k1.cfg
  musicname/ze_surf_happy_2_newbie_village_v3.cfg
Labels: MusicName

delete
  musicname/ze_2049_v1_1.txt
  musicname/ze_arcana_heart_v1.txt
  musicname/ze_zertinan_v1_4.txt
Labels: MusicName

Fix game_text flickering issue
  stripper/ze_kitchen_v2.cfg
Labels: Stripper

更新 ze_little_trip_k1.cfg
  musicname/ze_little_trip_k1.cfg
Labels: MusicName

更新 ze_surf_happy_2_newbie_village_v3.cfg
  musicname/ze_surf_happy_2_newbie_village_v3.cfg
Labels: MusicName

Update ze_little_trip_k1.cfg
  musicname/ze_little_trip_k1.cfg
Labels: MusicName

Update ze_surf_happy_2_newbie_village_v3.cfg
  musicname/ze_surf_happy_2_newbie_village_v3.cfg
Labels: MusicName

Fix rizomata stage 1 early trigger
  stripper/ze_rizomata_va2.cfg
Labels: Stripper

Added random escape stripper
  stripper/ze_random_escape_g1.cfg
Labels: Stripper

Add displacement exploit fix for cosmo canyon
  stripper/ze_ffvii_cosmo_canyon_v5k_fix.cfg
Labels: Stripper

Modify several configs (#390)
  bosshud/ze_kitchen_v2.txt
  stripper/ze_ffvii_cosmo_canyon_v5k_fix.cfg
  stripper/ze_kitchen_v2.cfg
Labels: BossHud, Stripper

more music name (#400)
  musicname/ze_endless_dream_v1_2.cfg
  musicname/ze_little_trip_k1.cfg
  musicname/ze_surf_happy_2_newbie_village_v3.cfg
Labels: MusicName

Added random escape stripper (#402)
  stripper/ze_random_escape_g1.cfg
Labels: Stripper

Fix rizomata stage 1 early trigger (#401)
  stripper/ze_rizomata_va2.cfg
Labels: Stripper

Update bigfoot stripper & musicname adjustments
  musicname/ze_2049_v1_1.cfg
  musicname/ze_arcana_heart_v1.cfg
  musicname/ze_endless_dream_v1_2.cfg
  musicname/ze_little_trip_k1.cfg
  musicname/ze_surf_happy_2_newbie_village_v3.cfg
  musicname/ze_zertinan_v1_4.cfg
  stripper/ze_bigfoot_escapeica_v3_4.cfg
Labels: MusicName, Stripper

Try to fix destruction_of_exorath client crashes
  stripper/ze_destruction_of_exorath_v4_lite.cfg
Labels: Stripper

Make entwatch show fuel items correctly on exorath
  stripper/ze_destruction_of_exorath_v4_lite.cfg
Labels: Stripper

Fix capitalization
  stripper/ze_destruction_of_exorath_v4_lite.cfg
Labels: Stripper

Make entwatch show proper fuel amount for destruction of exorath (#404)
  stripper/ze_destruction_of_exorath_v4_lite.cfg
Labels: Stripper

.github/labeler.yml:

BossHud:
- bosshud/*

entWatch:
- entwatch/*

MusicName:
- musicname/*

SaveLevel:
- savelevel/*

Stripper:
- stripper/*

ZombieReloaded:
- zombiereloaded/*
