Repository gflze/CSGO-ZE-Configs, changes with the labels that .github/labeler.yml gives for each.
All labels: BossHud, entWatch, MusicName, SaveLevel, Stripper, ZombieReloaded

Fix aurora tower (#462)
  stripper/ze_aurora_tower_v6_6.cfg
Labels: Stripper

Add/fix entwatch for border (#464)
  entwatch/ze_border_b2_fix.cfg
Labels: entWatch

Fix color entwatch for surf_bona
  entwatch/ze_surf_bona_v3_1.cfg
Labels: entWatch

Update border cfgs
  stripper/ze_border_b2_fix.cfg
  vscripts/init_patched.nut
  vscripts/ze_border_patched.nut
  zombiereloaded/ze_border_b2_fix.cfg
Labels: Stripper, ZombieReloaded

Fix color entwatch for surf_bona (#465)
  entwatch/ze_surf_bona_v3_1.cfg
Labels: entWatch

Fix realm invalid color
  entwatch/ze_realm_f3.cfg
Labels: entWatch

Border roundtime
  zombiereloaded/ze_border_b2_fix.cfg
Labels: ZombieReloaded

Fix realm invalid color (#466)
  entwatch/ze_realm_f3.cfg
Labels: entWatch

Add forhidden stripper
  stripper/ze_forhidden_slicoo_v5.cfg
Labels: Stripper

Fix capitalization
  stripper/ze_forhidden_slicoo_v5.cfg
Labels: Stripper

Update aaa_magic_fix.nut
  vscripts/aaa_magic_fix.nut
Labels: none

Add forhidden slicoo stripper (#467)
  stripper/ze_forhidden_slicoo_v5.cfg
Labels: Stripper

Update aaa_magic_fix.nut (#468)
  vscripts/aaa_magic_fix.nut
Labels: none

Add bisounours party stripper
  stripper/ze_bisounours_party_p2.cfg
Labels: Stripper

Update surf_bona & map test cfgs
  bosshud/ze_escapetheworld_a33_fix.txt
  bosshud/ze_surf_bona_v1_3.txt
  entwatch/ze_escapetheworld_a33_fix.cfg
  entwatch/ze_jump_king_p3.cfg
  entwatch/ze_surf_bona_v1_3.cfg
  entwatch/ze_surf_shonyudo_v6_1_final_fix.cfg
  musicname/ze_2021_xmas_world_2_vv1.cfg
  musicname/ze_escapetheworld_a33_fix.cfg
  musicname/ze_surf_bona_v1_3.cfg
  stripper/ze_2021_xmas_world_2_vv1.cfg
  stripper/ze_2021_xmas_world_r.cfg
  stripper/ze_escapetheworld_a33_fix.cfg
  stripper/ze_hage_extinction_v1_4.cfg
  stripper/ze_jump_king_p3.cfg
  stripper/ze_surf_shonyudo_v6_1_final_fix.cfg
  vscripts/ze_surf_shonyudo_v6_patched.nut
  zombiereloaded/ze_jump_king_p3.cfg
Labels: BossHud, entWatch, MusicName, Stripper, ZombieReloaded

Add bisounours party stripper (#469)
  stripper/ze_bisounours_party_p2.cfg
Labels: Stripper

Update ze_ffxii_westersand_v8zeta1k.cfg
  stripper/ze_ffxii_westersand_v8zeta1k.cfg
Labels: Stripper

Additional map test cfgs
  bosshud/ze_serious_sam_tfe_v3.txt
  entwatch/ze_serious_sam_tfe_v3.cfg
  stripper/ze_animu_v2_final.cfg
  stripper/ze_serious_sam_tfe_v3.cfg
Labels: BossHud, entWatch, Stripper

Update aaa_magic_fix.nut
  vscripts/aaa_magic_fix.nut
Labels: none

Update ze_aaa_grand_line_x.cfg
  entwatch/ze_aaa_grand_line_x.cfg
Labels: entWatch

( ͡° ͜ʖ ͡°) grand ( ͡° ͜ʖ ͡°) line ( ͡° ͜ʖ ͡°) x ( ͡° ͜ʖ ͡°) tweaks (#471)
  entwatch/ze_aaa_grand_line_x.cfg
  vscripts/aaa_magic_fix.nut
Labels: entWatch

Put this stripper for 1k to b5k since its still on the server
  stripper/ze_ffxii_westersand_v8zeta1_b5k.cfg
Labels: Stripper

Update LMS entwatch
  entwatch/ze_last_man_standing_p3.cfg
Labels: entWatch

Add button ID to aurora tower
  entwatch/ze_aurora_tower_v6_6.cfg
Labels: entWatch

Fix anti-skip brush not being killed in ZM mode
  stripper/ze_aurora_tower_v6_6.cfg
Labels: Stripper

Block goober skip on aurora
  stripper/ze_aurora_tower_v6_6.cfg
Labels: Stripper

Delete old cyberpunk map
  entwatch/ze_honkai_impact_3rd_cyberpunk_cityv26_6.cfg
  stripper/ze_honkai_impact_3rd_cyberpunk_cityv26_6.cfg
Labels: entWatch, Stripper

Fix another teleport avoidance spot on aurora
  stripper/ze_aurora_tower_v6_6.cfg
Labels: Stripper

formatting fix
  stripper/ze_aurora_tower_v6_6.cfg
Labels: Stripper

add additional damage changes from mapper
  stripper/ze_aurora_tower_v6_6.cfg
Labels: Stripper

Additional teleport avoidance spots patched
  stripper/ze_aurora_tower_v6_6.cfg
Labels: Stripper

Update Westersand v8 stripper (#470)
  stripper/ze_ffxii_westersand_v8zeta1_b5k.cfg
  stripper/ze_ffxii_westersand_v8zeta1k.cfg
Labels: Stripper

Revert "Delete old cyberpunk map"
  entwatch/ze_honkai_impact_3rd_cyberpunk_cityv26_6.cfg
  stripper/ze_honkai_impact_3rd_cyberpunk_cityv26_6.cfg
Labels: entWatch, Stripper

Fix incorrect targetnames in aurora tower stripper
  stripper/ze_aurora_tower_v6_6.cfg
Labels: Stripper

Add undead shrine bosshud config
  bosshud/ze_undead_shrine_b1_2.txt
Labels: BossHud

Update retro_cow & golubenkaya cfgs
  bosshud/ze_retro_cow_v1.txt
  entwatch/ze_golubenkaya_meow_v1_2.cfg
  entwatch/ze_retro_cow_v1.cfg
  stripper/ze_retro_cow_v1.cfg
Labels: BossHud, entWatch, Stripper

Update several configs (#472)
  bosshud/ze_undead_shrine_b1_2.txt
  entwatch/ze_aurora_tower_v6_6.cfg
  entwatch/ze_last_man_standing_p3.cfg
  stripper/ze_aurora_tower_v6_6.cfg
Labels: BossHud, entWatch, Stripper

Create ze_m0w0m_new_k2.txt
  bosshud/ze_m0w0m_new_k2.txt
Labels: BossHud

Create ze_m0w0m_new_k2.cfg
  entwatch/ze_m0w0m_new_k2.cfg
Labels: entWatch

Fix possible soft lock on illya
  stripper/ze_illya_b4_csgo_a3.cfg
Labels: Stripper

.github/labeler.yml:

BossHud:
- bosshud/*

entWatch:
- entwatch/*

MusicName:
- musicname/*

SaveLevel:
- savelevel/*

Stripper:
- stripper/*

ZombieReloaded:
- zombiereloaded/*
