Repository gflze/CSGO-ZE-Configs, changes with the labels that .github/labeler.yml gives for each.
All labels: BossHud, entWatch, MusicName, SaveLevel, Stripper, ZombieReloaded

.github/labeler.yml:

BossHud:
- bosshud/*

entWatch:
- entwatch/*

MusicName:
- musicname/*

SaveLevel:
- savelevel/*

Stripper:
- stripper/*

ZombieReloaded:
- zombiereloaded/*

Create ze_avalanche_reboot_pm1_test3.cfg
  musicname/ze_avalanche_reboot_pm1_test3.cfg
Labels: MusicName

Upload bioluminescent stripper
  stripper/ze_bioluminescent_k1.cfg
Labels: Stripper

Last Man Standing p3 Fixes and stripper cleanup
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

Update ze_ffvii_mako_reactor_v6_b09k2.cfg
  musicname/ze_ffvii_mako_reactor_v6_b09k2.cfg
Labels: MusicName

Fix incorrect targetname
  stripper/ze_bioluminescent_k1.cfg
Labels: Stripper

Create ze_forsaken_temple_v3_b5.cfg
  stripper/ze_forsaken_temple_v3_b5.cfg
Labels: Stripper

Add bioluminescent stripper (#439)
  stripper/ze_bioluminescent_k1.cfg
Labels: Stripper

Update ze_avalanche_reboot_pm1_test3.cfg
  musicname/ze_avalanche_reboot_pm1_test3.cfg
Labels: MusicName

Add/Update Configs (#441)
  bosshud/ze_avalanche_reboot_pm1_test3.txt
  bosshud/ze_lucy_escape_v1.txt
  entwatch/ze_Lucy_Escape_v1.cfg
  entwatch/ze_avalanche_reboot_pm1_test3.cfg
  musicname/ze_avalanche_reboot_pm1_test3.cfg
  musicname/ze_ffvii_mako_reactor_v6_b09k2.cfg
  stripper/ze_avalanche_reboot_pm1_test3.cfg
  stripper/ze_forsaken_temple_v3_b5.cfg
Labels: BossHud, entWatch, MusicName, Stripper

Update tenkinoko
  bosshud/ze_tenkinoko_welkin_v1_6f.txt
  entwatch/ze_tenkinoko_welkin_v1_6f.cfg
  musicname/ze_tenkinoko_welkin_v1_6f.cfg
  stripper/ze_tenkinoko_welkin_v1_6f.cfg
Labels: BossHud, entWatch, MusicName, Stripper

Update escapetheworld stripper
  stripper/ze_escapetheworld_a33.cfg
Labels: Stripper

Adjust escapetheworld fade timing slightly
  stripper/ze_escapetheworld_a33.cfg
Labels: Stripper

FIx zombie heal holy immunity not working
  stripper/ze_ffxii_westersand_v8zeta1_b5k.cfg
  stripper/ze_ffxii_westersand_v8zeta1k.cfg
Labels: Stripper

Rework slowdown patch to account
  stripper/ze_ffxii_westersand_v8zeta1_b5k.cfg
  stripper/ze_ffxii_westersand_v8zeta1k.cfg
Labels: Stripper

Fix westersand v8 zombie heal (#443)
  stripper/ze_ffxii_westersand_v8zeta1_b5k.cfg
  stripper/ze_ffxii_westersand_v8zeta1k.cfg
Labels: Stripper

cleanup lms p3 cfg with berke changes
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

sad
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

Fix client crash with 8bit cannon item
  stripper/ze_8bit_csgo3.cfg
  vscripts/item_cannon_patched.nut
Labels: Stripper

Add negative legacy stripper
  stripper/ze_negative_legacy_va2.cfg
Labels: Stripper

Add negative legacy stripper (#444)
  stripper/ze_negative_legacy_va2.cfg
Labels: Stripper

Last Man Standing p3 Fixes and stripper cleanup (#440)
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

Create item_text_fix.nut
  vscripts/item_text_fix.nut
Labels: none

Update ze_tyranny2_v1_csgo2.cfg
  stripper/ze_tyranny2_v1_csgo2.cfg
Labels: Stripper

Add map test cfg for border
  stripper/ze_border_b2_fix.cfg
Labels: Stripper

Update escapetheworld stripper (#442)
  stripper/ze_escapetheworld_a33.cfg
Labels: Stripper

Add map test cfg for border (#445)
  stripper/ze_border_b2_fix.cfg
Labels: Stripper

Update mgden & visualizer
  bosshud/ze_mgden_v2_5fix.txt
  bosshud/ze_visualizer_v1_2.txt
  entwatch/ze_visualizer_v1_2.cfg
  musicname/ze_mgden_v2_5fix.cfg
  musicname/ze_visualizer_v1_2.cfg
  stripper/ze_mgden_v2_5fix.cfg
  stripper/ze_visualizer_v1_2.cfg
  zombiereloaded/ze_mgden_y3_fix.cfg
Labels: BossHud, entWatch, MusicName, Stripper, ZombieReloaded

Update ze_tyranny2_v1_csgo2.cfg
  stripper/ze_tyranny2_v1_csgo2.cfg
Labels: Stripper

raise highest laser on limit for gfl jump height
  stripper/ze_tyranny2_v1_csgo2.cfg
Labels: Stripper

Update LMS stripper with fix from porter
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

Remove changes.
  stripper/ze_tyranny2_v1_csgo2.cfg
Labels: Stripper

Update ze_tyranny2_v1_csgo2.cfg
  stripper/ze_tyranny2_v1_csgo2.cfg
Labels: Stripper

Update Tyranny2 configs (#446)
  stripper/ze_tyranny2_v1_csgo2.cfg
  vscripts/item_text_fix.nut
Labels: Stripper

Update tenkinoko entwatch
  entwatch/ze_tenkinoko_welkin_v1_7f.cfg
Labels: entWatch

Update last man standing entwatch
  entwatch/ze_last_man_standing_p3.cfg
Labels: entWatch

Update forhidden slicoo configs
  bosshud/ze_forhidden_slicoo_v5.txt
  stripper/ze_forhidden_slicoo_b10_5.cfg
Labels: BossHud, Stripper

Update watagi tunnel configs
  entwatch/ze_watagi_tunnel_v1_1.cfg
  entwatch/ze_watagi_tunnel_v2_1.cfg
  stripper/ze_watagi_tunnel_v1_1.cfg
  vscripts/ze_watagi_tunnel_patched.nut
Labels: entWatch, Stripper

Update surf bona configs
  bosshud/ze_surf_bona_v3_1.txt
  entwatch/ze_surf_bona_v3_1.cfg
  musicname/ze_surf_bona_v3_1.cfg
Labels: BossHud, entWatch, MusicName

Update fapescape katrina configs
  bosshud/ze_fapescape_katrina_v1_7.txt
  entwatch/ze_fapescape_katrina_v1_7.cfg
  musicname/ze_fapescape_katrina_v1_7.cfg
  stripper/ze_fapescape_katrina_v1_6.cfg
  stripper/ze_fapescape_katrina_v1_7.cfg
Labels: BossHud, entWatch, MusicName, Stripper

Add luciddreams config
  bosshud/ze_luciddreams_csgo2.txt
  entwatch/ze_luciddreams_csgo2.cfg
Labels: BossHud, entWatch
